/*/Content/selectric.css*/
/*======================================
  Selectric v1.9.2
======================================*/
.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    border: 1px solid #DDD;
    background: #F8F8F8;
    position: relative;
}
.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 12px;
    line-height: 38px;
    color: #444;
    height: 38px;
}
.selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    color: #BBB;
    text-align: center;
    font: 0/0 a;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #BBB;
    border-bottom: none;
}

.selectric-hover .selectric {
    border-color: #C4C4C4;
}
.selectric-hover .selectric .button {
    color: #A2A2A2;
}
.selectric-hover .selectric .button:after {
    border-top-color: #A2A2A2;
}

.selectric-open {
    z-index: 9999;
}
.selectric-open .selectric {
    border-color: #C4C4C4;
}
.selectric-open .selectric-items {
    display: block;
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}
.selectric-hide-select select {
    position: absolute;
    left: -100%;
    display: none;
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F8F8F8;
    border: 1px solid #C4C4C4;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}
.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}
.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
}
.selectric-items li {
    display: block;
    padding: 8px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #EEE;
    color: #666;
    cursor: pointer;
}
.selectric-items li.selected {
    background: #EFEFEF;
    color: #444;
}
.selectric-items li:hover {
    background: #F0F0F0;
    color: #444;
}
.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #444;
}
.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
}
.selectric-items .selectric-group li {
    padding-left: 25px;
}

/*EOF /Content/selectric.css*/
/*/Content/pikaday.min.css*/
@charset "UTF-8";/*!
 * Pikaday
 * Copyright Â© 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */.pika-single{z-index:9999;display:block;position:relative;color:#333;background:#fff;border:1px solid #ccc;border-bottom-color:#bbb;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}.pika-single:after,.pika-single:before{content:" ";display:table}.pika-single:after{clear:both}.pika-single.is-hidden{display:none}.pika-single.is-bound{position:absolute;box-shadow:0 5px 15px -5px rgba(0,0,0,.5)}.pika-lendar{float:left;width:240px;margin:8px}.pika-title{position:relative;text-align:center}.pika-label{display:inline-block;position:relative;z-index:9999;overflow:hidden;margin:0;padding:5px 3px;font-size:14px;line-height:20px;font-weight:700;background-color:#fff}.pika-title select{cursor:pointer;position:absolute;z-index:9998;margin:0;left:0;top:5px;filter:alpha(opacity=0);opacity:0}.pika-next,.pika-prev{display:block;cursor:pointer;position:relative;outline:0;border:0;padding:0;width:20px;height:30px;text-indent:20px;white-space:nowrap;overflow:hidden;background-color:transparent;background-position:center center;background-repeat:no-repeat;background-size:75% 75%;opacity:.5}.pika-next:hover,.pika-prev:hover{opacity:1}.is-rtl .pika-next,.pika-prev{float:left;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==)}.is-rtl .pika-prev,.pika-next{float:right;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=)}.pika-next.is-disabled,.pika-prev.is-disabled{cursor:default;opacity:.2}.pika-select{display:inline-block}.pika-table{width:100%;border-collapse:collapse;border-spacing:0;border:0}.pika-table td,.pika-table th{width:14.285714285714286%;padding:0}.pika-table th{color:#999;font-size:12px;line-height:25px;font-weight:700;text-align:center}.pika-button{cursor:pointer;display:block;box-sizing:border-box;-moz-box-sizing:border-box;outline:0;border:0;margin:0;width:100%;padding:5px;color:#666;font-size:12px;line-height:15px;text-align:right;background:#f5f5f5}.pika-week{font-size:11px;color:#999}.is-today .pika-button{color:#3af;font-weight:700}.is-selected .pika-button{color:#fff;font-weight:700;background:#3af;box-shadow:inset 0 1px 3px #178fe5;border-radius:3px}.is-disabled .pika-button{pointer-events:none;cursor:default;color:#999;opacity:.3}.pika-button:hover{color:#fff!important;background:#ff8000!important;box-shadow:none!important;border-radius:3px!important}.pika-table abbr{border-bottom:none;cursor:help}
/*EOF /Content/pikaday.min.css*/
/*/Content/affiliate.css*/
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

.bg_red{
    background:#ff0000!important;
}
.bg_grey{
    background:#bebebe!important;
}
.bg_yellow{
    background:#f8e302!important;
}
.bg_blue{
    background:#50a0ec!important;
}

select {
    border: 1px solid #dcdcdc;
}

.button-red {
    background-color: #dc0000 !important;
    border-color: #a20000 !important;
    box-shadow: inset 0px -1px 0px 0px #ed6161 !important;
}

.button-red:hover {
    background-color: #c40000 !important;
}


table.dataTable tbody td {
    padding: 8px 18px;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #B8B8B8;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 1px solid #B8B8B8;
}

.selectric {
    background: none;
}

.selectric .label {
    font-weight: normal;
}

.selectric-items {
    background: #fff;
}

.selectric-items li.selected {
    background: #f4f4f4;
}

/* AFFILIATE PROGRAM */
.affiliate-container {
    color: #565656;
    font-size: 14px;
}

.affiliate-container h1 {
    display: block;
    font-size: 2em;
    /*margin-top: 0.67em;*/
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.affiliate-container h2 {
    display: block;
    font-size: 1.5em;
    /*margin-top: 0.83em;*/
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.affiliate-container h3 {
    display: block;
    font-size: 1.17em;
    /*margin-top: 1em;*/
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.affiliate-container h4 {
    display: block;
    /*margin-top: 1.33em;*/
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.affiliate-container h5 {
    display: block;
    font-size: .83em;
    /*margin-top: 1.67em;*/
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.affiliate-container p {
    font-size: inherit;
    line-height: initial;
}

.affiliate-container input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.affiliate-container #registrationWrapper .formMargin {
    margin-left: 51px;
}

.affiliate-container .shortForm .textInput,
.affiliate-container .shortForm select {
    width: 250px;
}

.pmtWire, .pmtCheck, .pmtPayPal {
    display: none;
}

.affiliate-container .form {
    width: 600px;
    margin: 35px auto 10px;
}

.affiliateAgreementText {
    padding: 5px;
    height: 300px;
    background-color: #ffffff;
    overflow: auto;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}

/* AFFILIATE NOTIFICATIONS */
.affiliate-container .notification-checkboxes {
    padding: 10px;
    margin-bottom: 15px;
}
.affiliate-container .notification-checkboxes label{
    float: left;
    display: block;
}
.affiliate-container .notification-checkboxes input{
    float: right;
    margin-right: 12px;
}
.affiliate-container .notification-checkboxes.coltitle {
    font-size: 16px;
}

/* NAVIGATION*/

#affiliate-navigation .ui-menu-item a {
    color: #777;
}

#affiliate-navigation .ui-menu-item a:hover {
    color: inherit;
}

/* Make it horizontal */
#affiliate-navigation.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#affiliate-navigation.ui-menu .ui-menu-item {
    display: inline-block;
    float: left;
    margin: 0;
    padding: .5em;
    width: auto;
}

#affiliate-navigation.ui-menu .ui-menu-item .ui-selected {
    font-weight: bold;
    color: #0066cc;
}


.affiliate-container .content {
    padding: 1em;
    /*border: 1px solid #c4c4c4;
    border-radius: 3px;*/

}

.affiliate-container .content .title {
    font-size: 1.2em;
    padding-bottom: .8em;
}

.affiliate-earnings, .affiliate-performance {
    width: 100%;
    padding-top: 1em;
}
.affiliate-earnings {
    margin-bottom: 4em;
}

.affiliate-performance .box {
    padding: 1em;
    margin: 0;
}

.affiliate-earnings .earning {
    width: 25%;
}

.affiliate-performance .performance {
    width: 50%;
}

.affiliate-earnings .date-range-amount,
.affiliate-performance .date-range-amount {
    font-size: 1.8em;
    padding-top: .3em;
    padding-bottom: .2em;
}

.affiliate-earnings .date-range-comment,
.affiliate-performance .date-range-comment {
    font-size: .8em;
    color: #999;
}

.affiliate-earnings .up .date-range-delta,
.affiliate-performance .up .date-range-delta {
    color: #093;
}

.affiliate-earnings .down .date-range-delta,
.affiliate-performance .down .date-range-delta {
    color: #dd4b39;
}

.down .arrow {
    color: #dd4b39;
}

.down .arrow:before {
    font-family: "FontAwesome";
    content: "\f063";
    font-size: .6em;
}

.up .arrow {
    color: #093;
}

.up .arrow:before {
    font-family: "FontAwesome";
    content: "\f062";
    font-size: .6em;
}

.affiliate-performance .box {
    border-radius: 3px;
    margin-right: 1em;
}

.performance-data {
    width: 100%;
}

#dateRangeContainer {
    border: 1px solid #dcdcdc;
    padding: 1em;
    margin-bottom: 5px;
    position: absolute;
    right: 1em;
    background: #fff;
    z-index: 1;
    margin-top: -1px;
}

#dateRangeContainer .textInput {
    display: inline-block;
}

.fa-calendar-o {
    font-size: 1.2em;
    padding-right: .5em;
}

.calendar-input {
    display: inline-block;
    pointer-events: none;
}

.calendar-input input[type="text"] {
    position: relative;
    width: 8em;
    pointer-events: all;
}

.calendar-input:after {
    content: "\f133";
    font-family: 'FontAwesome';
    position: relative;
    right: 1.5em;
}
.ndash {
    display: inline-block;
    margin-left: -1em;
}
.calendar-title {
    font-size: .9em;
    color: #777;
    padding-bottom: 1.5em;
}
.calendar-buttons {
    padding: 1em 0;
}

.calendar-buttons .inputsubmit {
    font-size: 1em;
    width: 8em;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    padding: .4em;
}
#apllyDateRange {
    margin-right: .85em;
}

.calendar-quick-date {
    padding: 0 1em .5em 0;
    font-size: .9em;
}

.button-add {
    border: 1px solid #4ea906;
    background: #5cc507;
    padding: 1em 1em 1em 0;
    font-size: 12px;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
}
.button-add:hover {
    text-decoration: none;
    color: #fff;
    background: #4ba106;
    border: 1px solid #4ba106;
}
.button-add:before {
    content: "\f067";
    font-family: 'FontAwesome';
    padding: 0 .5em 0 1em;
}

.edit-link a,
.external-link a {
    display:inline-block;
}

.edit-link a .fa-pencil,
.external-link a .fa-external-link {
    visibility: hidden;
    padding-left: .5em;
    color: #666;
}

.edit-link a:hover .fa-pencil,
.external-link a:hover .fa-external-link {
    visibility: visible;
}

#quality-score{
    width: 300px; height: 200px; margin: 0 auto;
}

.quality-score-label {
    color: #565656;
    font-family: "Helvetica Neue", arial, tahoma, verdana,"lucida grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
}

.performance-wrapper {
    height: 200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#insentive-meter-disabled {

    transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);

    position:absolute;
    top: 35%;
    left: 0;
    display: inline-block;
    color: rgb(248, 43, 43);
    text-transform: uppercase;
    font-size: 1.3em;
    opacity: 0.8;
    z-index: 1;
    text-shadow: 0 1px 1px #fff;
}

#insentive-meter-date {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.tooltip {
    width: 300px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 1em;
    margin: 0;
    z-index: 2;
}


.default-styles li              { display: list-item }
.default-styles head            { display: none }
.default-styles table           { display: table }
.default-styles tr              { display: table-row }
.default-styles thead           { display: table-header-group }
.default-styles tbody           { display: table-row-group }
.default-styles tfoot           { display: table-footer-group }
.default-styles col             { display: table-column }
.default-styles colgroup        { display: table-column-group }
.default-styles td, th          { display: table-cell }
.default-styles caption         { display: table-caption }
.default-styles th              { font-weight: bolder; text-align: center }
.default-styles caption         { text-align: center }
.default-styles body            { margin: 8px }
.default-styles h1              { font-size: 2em; margin: .67em 0 }
.default-styles h2              { font-size: 1.5em; margin: .75em 0 }
.default-styles h3              { font-size: 1.17em; margin: .83em 0 }
.default-styles h4,
.default-styles p,
.default-styles blockquote,
.default-styles ul,
.default-styles fieldset,
.default-styles form,
.default-styles ol,
.default-styles dl,
.default-styles dir,
.default-styles menu            { margin: 1.12em 0 }
.default-styles h5              { font-size: .83em; margin: 1.5em 0 }
.default-styles h6              { font-size: .75em; margin: 1.67em 0 }
.default-styles h1,
.default-styles h2,
.default-styles h3,
.default-styles h4,
.default-styles h5,
.default-styles h6,
.default-styles b,
.default-styles strong          { font-weight: bolder }
.default-styles blockquote      { margin-left: 40px; margin-right: 40px }
.default-styles i,
.default-styles cite,
.default-styles em,
.default-styles var,
.default-styles address    { font-style: italic }
.default-styles pre,
.default-styles tt,
.default-styles code,
.default-styles kbd,
.default-styles samp       { font-family: monospace }
.default-styles pre             { white-space: pre }
.default-styles button,
.default-styles textarea,
.default-styles input,
.default-styles select   { display: inline-block }
.default-styles big             { font-size: 1.17em }
.default-styles small,
.default-styles sub,
.default-styles sup { font-size: .83em }
.default-styles sub             { vertical-align: sub }
.default-styles sup             { vertical-align: super }
.default-styles table           { border-spacing: 2px; }
.default-styles thead, .default-styles tbody,
.default-styles tfoot           { vertical-align: middle }
.default-styles td, .default-styles th, .default-styles tr      { vertical-align: inherit }
.default-styles s, .default-styles strike, .default-styles del  { text-decoration: line-through }
.default-styles hr              { border: 1px inset }
.default-styles ol, .default-styles ul, .default-styles dir,
.default-styles menu, .default-styles dd        { margin-left: 40px }
.default-styles ol              { list-style-type: decimal }
.default-styles ol .default-styles ul, .default-styles ul ol,
.default-styles ul ul, .default-styles ol ol    { margin-top: 0; margin-bottom: 0 }
.default-styles u, .default-styles ins          { text-decoration: underline }
.default-styles br:before       { content: "\A"; white-space: pre-line }
.default-styles center          { text-align: center }
.default-styles :link, .default-styles :visited { text-decoration: underline }
.default-styles :focus          { outline: thin dotted invert }

/*EOF /Content/affiliate.css*/