<template>
<div>
<div id="content">
<div class="wsmenucontainer clearfix gray_background">
            <iv class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow __nomain"><i class="support-badge">1</i></a></iv>
        <div class="wrapper">
                <div>
                    <div id="listing-main-container">
                        <div class="listing__container">
                            <vueper-slides class="no-shadow pc-sl" :visible-slides="3" :slide-ratio="1/4" :dragging-distance="70" :arrows-outside="false">
                                <vueper-slide  v-for="(slide,i) in slides" :key="i" :image="slide"></vueper-slide>
                            </vueper-slides>
                            <div id="mobile-profile-carousel" dir="ltr">
                                <vueper-slides class="no-shadow mob-sl" :visible-slides="1" :slide-ratio="1/4" :dragging-distance="70" :arrows-outside="false">
                                    <vueper-slide  v-for="(slide,i) in slides" :key="i" :image="slide"></vueper-slide>
                                </vueper-slides>
                                <div class="listing-month-price"><span class="currency-sign">$</span><span class="carousel-price">{{entireplaces[0].monthly_rent}}</span><span class="currency-sign">USD</span><span class="type_payment">per month</span></div>
                                <div class="time_map_pin">{{Math.floor((Date.now() - givenDate(entireplaces[0].dob))/1000/60/60/24/365)}} hours ago</div><a class="display__block"><span class="new_block">NEW</span></a>
                                <div class="user">
                                    <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(entireplaces[0].bedi))}}" target="_blank">
                                        <img v-if="entireplaces[0].avatar" :src="entireplaces[0].avatar">
                                        <img v-else src="../../../../public/images/no_user_original.gif">
                                    </router-link>
                                </div>
                            </div>
                            <div class="anchors__container hidden-xs">
                                <div class="custom-container">
                                    <div class="row">
                                        <div class="anchor-set col-md-12 clearfix">
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/ea0397a31a5403b7d4e3661ebb5dcf1d.png" class="anchor gallery-btn"><a onClick="window.location='#listing__block__responsive'" class="anchor">Description</a><a onClick="window.location='#main-listing-info'"  class="anchor">Amenities</a><a class="anchor">Roommate preference</a><a class="anchor"  onClick="window.location='#amenities-3'">Map</a><span style="flex-grow: 1;"></span><a class="anchor cursor-default">${{entireplaces[0].monthly_rent}}&nbsp;USD&nbsp;per month</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-container custom-container-listing-fix" style="margin: 0px auto;">
                                <div class="mobile-listing-headline">
                                    <div class="headline-info"> {{entireplaces[0].headline}}</div>
                                    <div class="additional-info"><span class="green-text"><span>Private Room</span>&nbsp;<span style="color: black;">offered by {{entireplaces[0].hati}}</span></span>
                                    </div>
                                </div>
                                <div class="row row-default row-listing-fix">
                                    <div class="content-wrapper ___listing col-xs-12 clearfix">
                                        <div id="listing-right-side-content" class="content__container">
                                            <div class="bookmarks-container without-options">
                                                <div class="bookmarks-square-icon bookmark" @click="bookmarkList(entireplaces[0].id)"></div>
                                            </div>
                                            <div v-if="valid" id="option-listing-buttons">
                                                <router-link class="edit-listing-btn" :to="{ name: 'OfferingEntireplaceEdit', params: { id: entireplaces[0].moja }}" style="color:white!important">
                                                    <i class="fa fa-pencil icon__pencil"></i>Edit Listing</router-link>
                                                <a :href="'/needapartment/delete/'+entireplaces[0].moja"  class="delete-listing-btn" style="color:white!important">Delete listing</a>

                                            </div>
                                            <div class="mobile-date-location-block" style="padding-bottom: 0px; margin-top: 4px;">
                                                <div class="date-location">
                                                    <div class="mobile-date">
                                                        <div class="available-date">
                                                            <div v-if="entireplaces[0].move_date" class="icon_calendar_v2"></div><span>Available Date</span></div>
                                                        <div class="date"><span>{{entireplaces[0].move_date}}</span></div>
                                                    </div>
                                                </div>
                                                <div class="date-location">
                                                    <div class="mobile-date">
                                                        <div class="available-date">
                                                            <div class="icon_calendar_v2"></div></div>
                                                        <div class="date"><span>{{entireplaces[0].bedrooms}}</span></div>
                                                    </div>
                                                </div>
                                                <div class="date-location">
                                                    <div class="mobile-location">
                                                        <div class="location">
                                                            <div class="icon_location_v2"></div><span>Location</span></div>
                                                        <div> {{entireplaces[0].location}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mobile-plus-description"><span class="text">+&nbsp;&nbsp;Description</span></div>
                                            <div class="mobile-description-block">





                                            </div>
                                            <div class="mobile-plus-details"><span class="text">+&nbsp;&nbsp;Details</span></div>
                                          
                                            <div id="header-main-block">
                                                <div class="first-listing-block listing__head clearfix">
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="padding-left: 3px;">
                                                        <div class="green-text hidden-xs"><span style="font-family: Arial;">
<!--                                                            {{Math.floor((Date.now() - givenDate(entireplaces[0].created_at))/1000/60/60)}}-->
                                                            {{timeSince(givenDate(entireplaces[0].created_at))}}
                                                            ago</span><span id="new" class="badge__new">NEW</span></div>
                                                        <h1 class="listing__title">{{entireplaces[0].headline}}</h1>
                                                        <div id="additional-info-block"><span class="green-text">Private Room </span>offered by {{entireplaces[0].hati}}</div>
                                                    </div>
                                                    <div class="minor-price-block col-lg-3 col-md-3 col-sm-4 col-xs-4 minor-price-block--offering">
                                                        <div class="minor-price-block-monthly">
                                                            <div class="price-value"><span class="currency">$</span><span class="value">{{entireplaces[0].monthly_rent}}</span></div>
                                                            <div class="monthly-payment"><span>USD</span><span class="per-month">per month</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <div class="posted-date-info">
                                                            <a href="/profile/15581121" target="_blank"><img class="posted-date-info__photo" src="../../../../public/images/no_user_thumbnail.gif" alt="posted-info-photo"></a><span class="posted-date-info__when">{{Math.floor((Date.now() - givenDate(entireplaces[0].dob))/1000/60/60/24/365)}} hours ago by <a href="/profile/15581121" target="_blank"><span class="posted-date-info__who">{{entireplaces[0].hati}}</span></a>.</span>
                                                        </div>
                                                        <div class="posted-icon-set margin-left-30px clearfix"><span class="action"><i class="icon__bookmark icon__my_bookmark"></i></span><span class="action"><i class="icon__share"></i></span><span class="action"><i class="icon__report"></i></span></div>
                                                    </div>
                                                </div>
                                                <div class="user-modal visible-xs-block">
                                                    <a href="/profile/15581121" target="_blank"><img src="../../../../public/images/no_user_thumbnail.gif" class="user-modal__photo"></a>
                                                    <div class="first-stage">
                                                        <button class="user-modal__button">Message</button>
                                                        <button class="user-modal__button">Contact</button>
                                                    </div>
                                                </div>
                                                <div id="listing__block__responsive" class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                    <div class="block__content">{{entireplaces[0].location}}
                                                       <div class="listing__details details__listing clearfix">
                                <div class="details__text text-center"><span>{{entireplaces[0].bedrooms}}</span></div>
                                <div class="separator_listing"></div>
                                <div class="details__text text-center"><span>{{entireplaces[0].bathrooms}} </span>
                                    <br><span class="grey-text">Bathrooms</span></div>
                                <div class="separator_listing"></div>
                                <div class="details__text text-center"><span><span class="gray-text">Minimum Stay</span>
                                    <br>{{entireplaces[0].minimum_stay}} </span>
                                </div>
                                <div class="separator_listing"></div>
                                <div class="details__text text-center"><span class="gray-text">Available Date</span>
                                    <br><span>{{entireplaces[0].move_date}} </span></div>
                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="responsive-listing-block">
                                                <div class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                    <div class="block__content">{{entireplaces[0].location}}
                                                        <div class="listing__details details__listing clearfix">
                                    <div class="details__text text-center"><span>entireplaces[0].bedrooms</span></div>
                                    <div class="separator_listing"></div>
                                    <div class="details__text text-center"><span>{{entireplaces[0].bathrooms}}</span>
                                        <br><span class="grey-text">Bathrooms</span></div>
                                    <div class="separator_listing"></div>
                                    <div class="details__text text-center"><span><span class="gray-text">Minimum Stay</span>
                                        <br>{{entireplaces[0].minimum_stay}} </span>
                                    </div>
                                    <div class="separator_listing"></div>
                                    <div class="details__text text-center"><span class="gray-text">Available Date</span>
                                        <br><span>{{entireplaces[0].move_date}}</span></div>
                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="responsive-message-block">
                                                <div class="responsive__message__container">
                                                    <textarea class="form-control user-message-send-form" placeholder="Write a message"></textarea>
                                                    <div class="responsive-send-btn"><span>Send Message</span></div>
                                                </div>
                                                <div class="responsive-contact-info">
                                                    <div class="responsive-phone-number">
                                                        <div class="phone__container">
                                                            <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="user-modal__icons-set responsive-social-info">
                                                        <div class="profile__link-edit-cont"><a target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="main-listing-info">
                                                <div id="description_16319932" class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__description"></i><span>Description</span></div>
                                                    <div class="block__content">{{entireplaces[0].description}}
                                                    </div>
                                                </div>
                                                 <div class="listing__block clearfix">
    <div class="block__title"><i class="icon__residence"></i><span>Residence</span></div>
    <div class="block__content">
        <div>
            <div>Furnished:&nbsp;<span v-if="entireplaces[0].is_furnished === 1">Yes </span>
            <span v-else>No</span> </div>
            <div>Apartment Size: &nbsp;<span>{{entireplaces[0].measurement}}</span><span>{{entireplaces[0].measurement_unit}}</span></div>
        </div>
    </div>
</div>
       <div class="listing__block clearfix" id="amenities-3">
    <div class="block__title"><i class="icon__residence"></i><span>Amenities</span></div>
    <div class="block__content">
        <div class="amenity__container text-center" v-if="entireplaces[0].is_high_rise == 1 "><span class="icon-apt-3 listing-amenities"></span>
            <span style="word-break: break-word;" >High-rise</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_disability_access == 1 "><span class="icon-apt-5 listing-amenities"></span>
        <span style="word-break: break-word;">Disability Access</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_elevator == 1 "><span class="icon-apt-8 listing-amenities"></span>
        <span style="word-break: break-word;">Elevator</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_health_club == 1 "><span class="icon-apt-10 listing-amenities"></span>
        <span style="word-break: break-word;">Health Club</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_covered_parking == 1 "><span class="icon-apt-13 listing-amenities"></span>
        <span style="word-break: break-word;">Covered Parking</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_parking_lot == 1 "><span class="icon-apt-15 listing-amenities"></span>
        <span style="word-break: break-word;">Parking Lot</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_near_bus_stop == 1 "><span class="icon-apt-18 listing-amenities"></span>
        <span style="word-break: break-word;">Near Bus Stop</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_electronic_security == 1 "><span class="icon-apt-21 listing-amenities"></span>
        <span style="word-break: break-word;">Electronic Security</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_swimming_pool == 1 "><span class="icon-apt-23 listing-amenities"></span>
        <span style="word-break: break-word;">Swimming Pool</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_wireless_internet == 1 "><span class="icon-apt-25 listing-amenities"></span>
        <span style="word-break: break-word;">Wireless Internet</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_internet == 1 "><span class="icon-apt-24 listing-amenities"></span>
        <span style="word-break: break-word;">Internet</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_security == 1 "><span class="icon-apt-22 listing-amenities"></span>
        <span style="word-break: break-word;">Security</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_near_subway == 1 "><span class="icon-apt-19 listing-amenities"></span>
        <span style="word-break: break-word;">Near Subway</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_street_parking == 1 "><span class="icon-apt-17 listing-amenities"></span>
        <span style="word-break: break-word;">Street Parking</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_garage == 1 "><span class="icon-apt-14 listing-amenities"></span>
        <span style="word-break: break-word;">Garage</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_laundromat == 1 "><span class="icon-apt-12 listing-amenities"></span>
        <span style="word-break: break-word;">Laundromat</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_walkup == 1 "><span class="icon-apt-9 listing-amenities"></span>
        <span style="word-break: break-word;">Walkup</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].have_doorman == 1 "><span class="icon-apt-7 listing-amenities"></span>
        <span style="word-break: break-word;">Doorman</span></div>
        <div class="amenity__container text-center" v-if="entireplaces[0].is_low_rise == 1 "><span class="icon-apt-4 listing-amenities"></span>
        <span style="word-break: break-word;">Low-rise</span></div>
    </div>
</div>

                                            </div>
                                            <div class="google-map__container">
                                                <GmapMap
                                                        :center="{lat:parseFloat(entireplaces[0].latitude), lng:parseFloat(entireplaces[0].longitude)}"
                                                        :zoom="12"
                                                        map-type-id="terrain"
                                                        style="width: 820px; height: 300px"
                                                >
                                                    <GmapMarker ref="myMarker"
                                                                :position="google && new google.maps.LatLng(parseFloat(entireplaces[0].latitude), parseFloat(entireplaces[0].longitude))" />
                                                </GmapMap>
                                            </div>
                                        </div>
                                       
                                        <div id="float-sidebar" class="float-sidebar hidden-xs">
                                            <div class="listing-user__container">
                                                <div>
                                                    <div class="image__container">
                                                        <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(entireplaces[0].bedi))}}" target="_blank">
                                                            <img v-if="entireplaces[0].avatar" :src="entireplaces[0].avatar" alt="User Profile Photo">
                                                            <img v-else src="../../../../public/images/no_user_medium.gif" alt="User Profile Photo">
                                                        </router-link>

                                                    </div>
                                                    <div class="aside-content-container text-center">
                                                        <div class="listing-user__name">
                                                            <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(entireplaces[0].bedi))}}" target="_blank"><span class="link">{{entireplaces[0].hati}}</span></router-link></div>
                                                        <div class="listing-user__age listing-user__gender"><span>{{this.getAge(entireplaces[0].dob)}}, <i v-if="entireplaces[0].genu === 'Male'" class="icon__male"></i><i v-else class="icon__female"></i></span></div><span class="green-text">Offering an entire place</span>
                                                        <div class="message__container">
                                                            <textarea class="form-control user-message-send-form" @focus="aler" placeholder="Write a message"></textarea><a class="btn btn-primary message__send-message" @click.prevent="aler"><span>Send Message</span></a></div>
                                                        <div class="border-line hidden"></div>
                                                        <div class="phone__container hidden">
                                                            <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                        </div>
                                                        <br>
                                                        <h3><i class="fa fa-phone text-success"></i>&nbsp;Upgrade to view</h3>
                                                        <br>
                                                        <p>Or</p>
                                                        <h5>Find <span class="text-success">{{entireplaces[0].hati}}</span> on social media</h5>
                                                        <i class="fa fa-facebook-square fa-3x text-primary"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other-listings__container container">
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                            </div>
                            <div></div>
                        </div>
                    </div>

                    <div>
                        <div class="__is_overlay "></div>
                        <div class="show_contact_block ___show default  ">
                            <div class="_contact_block ">
                                <div>
                                    <div class="__user_photo">
                                        <div class="__photo">
                                            <a><img src="../../../../public/images/no_user_thumbnail.gif" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="__user_info"> <i class="fa fa-venus"></i></div>
                                    <div class="__other_func">
                                        <div class="__message_block"><i class="fa fa-comment-o"></i><span>Message</span></div><a class="__phone_block ___disabled" href="/payments/choose-package"><i class="fa fa-phone"></i><span>Call</span></a><a class="__sms_block ___disabled" href="/payments/choose-package"><span class="icon__sms "></span><span>SMS</span></a>
                                        <div class="__disabled_social"><span class="icon___social"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i><i class="fa fa-linkedin"></i><i class="fa fa-twitter"></i></span><span>Social</span></div>
                                        <div class="__other_block"><i class="fa fa-ellipsis-v"></i><span>Other</span></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="overlay__ "></div>
                                    <div class="share_modal ">
                                        <div class="top_block">
                                            <div class="room-card-search room-card-share-tool">
                                                <div class="flex">
                                                    <div class="slider_block">
                                                        <div class="time_map_pin">    </div>
                                                        <div class="slider_inner" id="0">
                                                            <div class="inner-wrapper">
                                                                <div class="topBlock"><span class="absolute_block_price vertical-modifier"><span class="__currency">$</span><span></span><span class="__currency">USD</span><span>per month</span></span><a href="/listings/16319932" target="_blank" class="display__block"><span class="new_block search">NEW</span></a>
                                                                    <div class="item room-card">
                                                                        <div class="image room-card-search__"><a class="arrows room-card arrow-left"><i class="chevron chevron-left"></i></a>
                                                                            <a href="/listings/16319932" target="_blank"><img src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo"></a><a class="arrows room-card arrow-right"><i class="chevron chevron-right"></i></a></div>
                                                                    </div>
                                                                    <a class="profile_block search" href="/profile/15581121" target="_blank">
                                                                        <img src="../../../../public/images/no_user_thumbnail.gif" alt="">
                                                                        <div class="hover_profile_block"><span>View Profile</span></div>
                                                                        <div class="user-info search"><span>{{entireplaces[0].hati}}</span><span class="point">.</span><span>20</span><span class="point">.</span><i class="fa fa-venus"></i></div>
                                                                    </a>
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description_block search">
                                                        <div class="first-dev"><span class="headline">entireplaces[0].headline</span></div>
                                                        <div class="google_formatted_address"><span class="green-text">Private Room</span><span class="middle_block">|</span><span>Bleecker Street, Manhattan, New York, NY, USA</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="close_modals__">×</div>
                                        </div>
                                        <div class="middle_block">
                                            <div class="copy_input">
                                                <input autocomplete="off" type="text" disabled="" value="">
                                                <button class="copy_button">Copy</button>
                                                <div class="copied"></div>
                                            </div>
                                            <div class="by_email">
                                                <div class="title">By Email</div>
                                                <div class="form_by_email">
                                                    <div class="inputs">
                                                        <input autocomplete="off" type="text" placeholder="Email Address">
                                                        <div class="send_btn_">Send</div>
                                                    </div>
                                                    <div class="delimiter___"></div>
                                                    <textarea placeholder="Enter your personal message"></textarea>
                                                </div>
                                            </div>
                                            <div class="title">Share on Social Medias</div>
                                            <div class="social-share">
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--facebook"><a href="#" class="fb"><i class="fa fa-facebook"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--twitter"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--linkedin"><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--googlePlus"><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="footer" class="gray_background_footer">
                    <div class="container">
                        <div class="top row">
                            <div class="col-sm-12">
                                <ul class="list-inline social text-center">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links text-center">
                            <ul class="list-inline">
                                <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                                <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                                <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                                <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                            </ul>
                        </div>
                        <div class="copyright text-center">GettingRoom © 2019</div>
                    </div>
                </div>
            </div>
        </div>
    <div ref="vuemodal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="verify-modal__stadart-cont">
                        <div style="padding-left: 20px; padding-right: 20px;"><div><div class="verify-modal__background-check"><div class="text-wrapper"><div class="subtitle">Account Varification</div>
                            <div>GettingRoom takes member safety and security very seriously. We don’t even want people that aren’t easily identifiable from their Social profile. Every Profile goes through a security filter from a GettingRoom team member.</div></div><span class="start-button">Start</span></div><div class="verify-modal__account-status"><strong>Account Status:<span style="color: rgb(252,72,45);"> Unverified</span></strong></div>
                            Complete the steps marked with * to verify your account and send a message:
                            <div class="verify-modal__checklist" style="border: 0px; padding: 0px 10px; box-shadow: none; cursor: auto;">
                            </div>
                            <div v-if="front">
                                <div class="checks-modal" @click="emailSection">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Confirm your email</h5>
                                            <p>Email verification is  needed to validate your account </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="checks-modal" @click="phoneSection">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Verify your phone number.</h5>
                                            <p>verifying your phone number helps prospective matches contact you faster </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="checks-modal" @click="pushi">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Active Trial package it's free</h5>
                                            <p>Trial package has fully premium featured and it's completely free for 24 hours! to enjoy the service </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="verify-modal__mobile-scroll  ">
                                    Verify your social media.
                                    <div class="verify-modal__border" style="border: 0px; padding: 0px 10px; box-shadow: none;"><div class="verify-modal__additional-badges">Get 1 or more badges of your choice</div><div class="verify-modal__media-container-wrapper"><div class="verify-modal__media-container">
                                        <div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Facebook"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/409f653bdf65dacee6819aed33a80ea5.png" alt="icon"></div><p class="verify-modal__name">Facebook</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--LinkedIn"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3f8ed3bb8a3264436a9ad0e8eaaa92b8.png" alt="icon"></div><p class="verify-modal__name">LinkedIn</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Instagram"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/8b60dd7c808cb6245d790378973ac2cc.png" alt="icon"></div><p class="verify-modal__name">Instagram</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Twitter"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/d4b8306096a743e469061a446f7ffd30.png" alt="icon"></div><p class="verify-modal__name">Twitter</p></div></div></div></div></div>
                            </div>
                            <div v-if="mobile">
                                <div class="verify-modal__verified-phone verified__content "><div><p class="verify-modal__email-title ">Text Message Verification</p>
                                    <form class="verify-modal__input-group
                            verify-modal__input-group--sms-group">
                                        <vue-tel-input v-model="phone" id="number" style="pointer-events: auto;"></vue-tel-input>
                                        <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;"></i><button type="submit" style="display: none;"></button>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <div v-if="emailVerify">
                                <div class="verify-modal__verified-email verified__content "><p class="verify-modal__email-title">Email Verification</p><form class="verify-modal__input-group">
                                    <input autocomplete="off" type="text" id="verify-modal-input-group" placeholder="Email Address"  v-model="emailVerifyData.email" style="pointer-events: auto;">
                                    <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;" @click="mailSend"></i><button type="submit" style="display: none;"></button></form><div class="visible_content email">
                                </div></div>
                            </div>
                        </div></div></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</template>

<script>
    import Slick from 'vue-slick';
    import { VueperSlides, VueperSlide } from 'vueperslides'
    import 'vueperslides/dist/vueperslides.css'
    export default {
        components: { Slick, VueperSlides, VueperSlide },

        mixins: [],

        data () {
            return {
                valid:false,
                tokens:'',
                entireplaces:[],
                given:null,
                slides:[],
                cheka:false,
                open: false,
                slickOptions: {
                    slidesToShow: 4,
                    dots: false,
                    infinite: true,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 4
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 1
                            }
                        }
                    ]
                },
            }
        },
        props: ['id','loggedUser'],
        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            axios.get('/single/entireplace/'+(this.id - 5395611294))
                .then(resp => {
                    this.entireplaces = resp.data;
                    document.title = this.entireplaces[0].headline;
                    this.slides = this.entireplaces[0].photos.split(' ');
                    if (this.entireplaces[0].bedi === this.loggedUser.id){
                        this.valid = true;
                    }else{
                        this.valid = false;
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
            console.log(this.id - 78965428);
        },
        methods: {
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            },
            aler(){
                var tak = window.localStorage.getItem('token');
                if (tak){
                    this.$nextTick(() => {
                        $('#exampleModal').modal()
                    })
                }else{
                    this.$router.push('/login');
                }
            },
            getAge(dateString) {
                let today = new Date();
                let birthDate = new Date(dateString);
                let age = today.getFullYear() - birthDate.getFullYear();
                let month = today.getMonth() - birthDate.getMonth();
                if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            },
            bookmarkList(value){
                this.tokens = window.localStorage.getItem('token');
                if(this.tokens){
                    event.target.classList.toggle('active');
                    axios.get('/add/bookmark/'+value+'/'+'apartment')
                        .then(resp => {
                        })
                        .catch(function (resp) {
                        });

                }else {
                    this.$router.push('/login');
                }

            },
            timeSince(date) {

                var seconds = Math.floor((new Date() - date) / 1000);

                var interval = Math.floor(seconds / 31536000);

                if (interval > 1) {
                    return interval + " years";
                }
                interval = Math.floor(seconds / 2592000);
                if (interval > 1) {
                    return interval + " months";
                }
                interval = Math.floor(seconds / 86400);
                if (interval > 1) {
                    return interval + " days";
                }
                interval = Math.floor(seconds / 3600);
                if (interval > 1) {
                    return interval + " hours";
                }
                interval = Math.floor(seconds / 60);
                if (interval > 1) {
                    return interval + " minutes";
                }
                return Math.floor(seconds) + " seconds";
            },
            next() {
                this.$refs.slick.next();
            },
            prev() {
                this.$refs.slick.prev();
            },
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },
            // Events listeners
            handleAfterChange(event, slick, currentSlide) {
                console.log('handleAfterChange', event, slick, currentSlide);
                this.$nextTick(function () {
                    if (this.$refs.slick) {
                        this.$refs.slick.create(this.slickOptions);
                    }
                });

            },
            handleBeforeChange(event, slick, currentSlide, nextSlide) {
                console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
                if (this.$refs.slick) {
                    this.$refs.slick.destroy();
                }

            },
            handleBreakpoint(event, slick, breakpoint) {
                console.log('handleBreakpoint', event, slick, breakpoint);
            },
            handleDestroy(event, slick) {
                console.log('handleDestroy', event, slick);
            },
            handleEdge(event, slick, direction) {
                console.log('handleEdge', event, slick, direction);
            },
            handleInit(event, slick) {
                console.log('handleInit', event, slick);
            },
            handleReInit(event, slick) {
                console.log('handleReInit', event, slick);
            },
            handleSetPosition(event, slick) {
                console.log('handleSetPosition', event, slick);
            },
            handleSwipe(event, slick, direction) {
                console.log('handleSwipe', event, slick, direction);
            },
            handleLazyLoaded(event, slick, image, imageSource) {
                console.log('handleLazyLoaded', event, slick, image, imageSource);
            },
            handleLazeLoadError(event, slick, image, imageSource) {
                console.log('handleLazeLoadError', event, slick, image, imageSource);
            },
        }
    };
</script>
<style>
    .mob-sl{display: none}
    .pc-sl{display:block}
    @media only screen and (max-width: 600px) {
        .mob-sl{display: block}
        .pc-sl{display:none}
    }
</style>
