<template>
<div>
   <router-view></router-view>
</div>
</template>
<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                //
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            //
        }
    };
</script>
