<template>
    <div>
        <div v-if="loadr" class="text-center">
            <Spinner name="ball-pulse-sync" color="green"/>
        </div>
        <div v-else>
            <div v-if="rooms.length > 0">
                <div v-if="!boton" class="room-card add">
                    <router-link to="/newlisting" class="content text-center">
                        <span class="green-text">+</span><p>Add New Listing</p></router-link></div>
                <div class="room-card-wrapper" v-for="room in rooms">
                    <div class="clearfix visible-xs-block"></div>
                    <div class="room-card-search search-roomcard display_flex">
                        <div class="flex">
                            <div class="slider_block">
                                <div class="time_map_pin">
                                    {{timeSince(givenDate(room.created_at))}}
                                    ago</div>
                                <div class="slider_inner" id="2">
                                    <div class="inner-wrapper">
                                        <div class="topBlock"><span class="absolute_block_price vertical-modifier"><span class="__currency">$</span><span>{{room.monthly_rent}}</span>USD</span><span>per month</span><span class="favorite"><i class="star__icon fa fa-star " @click="bookmarkList(room.id)"></i></span><router-link :to="{ name: 'CommonList', params: { id:  (564432193+parseInt(room.id))}}" target="_blank" class="display__block"><span class="new_block search">NEW</span></router-link>
                                            <div class="item room-card">
                                                <div class="image room-card-search__"><a class="arrows room-card arrow-left"><i class="chevron chevron-left"></i></a>
                                                    <router-link :to="{ name: 'CommonList', params: { id:  (564432193+parseInt(room.id))}}" target="_blank">
                                                        <img v-if="room.avatar" :src="room.avatar" alt="carousel-photo">
                                                        <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16657531-a547e3dee4ee4d36a69ed79836a34828.jpg" alt="carousel-photo">
                                                    </router-link><a class="arrows room-card arrow-right"><i class="chevron chevron-right"></i></a></div>
                                            </div>
                                            <router-link class="profile_block search" :to="{ name: 'User', params: { id:  (78965428+ parseInt(room.bedi))}}" target="_blank">
                                                <img v-if="room.avatar" :src="room.avatar" alt="sera">
                                                <div class="hover_profile_block"><span>View Profile</span></div>
                                                <div class="user-info search"><span>{{room.hati}}</span><span class="point">.</span><span>{{Math.floor((Date.now() - givenDate(room.dob))/1000/60/60/24/365)}}</span><span class="point">.</span><i class="fa fa-venus"></i></div>
                                            </router-link>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description_block search">
                                <div class="first-dev"><span class="headline">{{room.headline.substring(0, 55)}}</span></div>
                                <div class="google_formatted_address"><span class="green-text">Roommate</span><span class="middle_block">|</span><span>{{room.location}}</span></div>
                            </div>
                        </div>
                        <div>
                            <p class="profile__social-text">Social Connect</p>
                            <div class="social_contact">
                                <div class="profile__link-edit-cont"><a href="/login" target="" class="profile__link--SMS profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/2285d7df1c23585c4e635aa3e69f5cd8.svg" alt=""></a></div>
                                <div class="profile__link-edit-cont"><a href="/login" target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="alert alert-dark" role="alert">
                    <div class="text-center" style="padding: 4px;border: 2px solid #000000;margin: 3px">Oops! we couldn't found anything</div>
                    <h4>Expand area of your search</h4>
                    <ul>
                        <li>- Search nearby neighborhoods</li>
                        <li>- Refrain from using zip codes or exact addresses</li>
                        <li></li></ul>
                    <h4>Expand your search criteria</h4>
                    <ul>
                        <li>- Increase filters ranges</li>
                        <li>- Uncheck unnecessary filters</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        components: {},
        mixins: [],

        data () {
            return {
                loadr:false,
                tokens:'',
                boton:'',
                rooms :[],
                given:null
            }
        },
        props: {
            min:Number,
            max:Number,
            place:String,
            sort:String,
        },
        watch: {
            place () {
                this.loadr = true;
                axios.get('/allroom/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.rooms = resp.data
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            },
            min () {
                this.loadr = true;
                axios.get('/allroom/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.rooms = resp.data
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });

            },
            max () {
                this.loadr = true;
                axios.get('/allroom/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.rooms = resp.data
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            }
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            this.loadr = true;
            this.boton = window.localStorage.getItem('token');
            axios.get('/allroom/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                .then(resp => {
                    this.loadr = false;
                    this.rooms = resp.data
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },

        methods: {
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            },
            bookmarkList(value){
                this.tokens = window.localStorage.getItem('token');
                if(this.tokens){
                    event.target.classList.toggle('active');
                    axios.get('/add/bookmark/'+value+'/'+'roommate')
                        .then(resp => {
                        })
                        .catch(function (resp) {
                        });

                }else {
                    this.$router.push('/login');
                }

            },
            timeSince(date) {

                var seconds = Math.floor((new Date() - date) / 1000);

                var interval = Math.floor(seconds / 31536000);

                if (interval > 1) {
                    return interval + " years";
                }
                interval = Math.floor(seconds / 2592000);
                if (interval > 0) {
                    return interval + " months";
                }
                interval = Math.floor(seconds / 86400);
                if (interval > 0) {
                    return interval + " days";
                }
                interval = Math.floor(seconds / 3600);
                if (interval > 0) {
                    return interval + " hours";
                }
                interval = Math.floor(seconds / 60);
                if (interval > 0) {
                    return interval + " minutes";
                }
                return Math.floor(seconds) + " seconds";
            }
        }
    };
</script>
<style>
    .alert-dark{
        width: 100%;
        padding: 50px;
        font-family: "Helvetica Neue", arial, tahoma, verdana, "lucida grande", sans-serif;
        background: #ffffff;
    }
    .room-card-wrapper{float: left}
</style>
