<template>
<div>

    <div v-if="loadr" class="text-center">
        <Spinner name="ball-pulse-sync" color="green"/>
    </div>
    <div v-else>
        <div v-if="allrooms.length > 0">
            <div v-if="!boton" class="room-card add list_view">
                <router-link to="/newlisting" class="content text-center">
                    <span class="green-text">+</span><p>Add New Listing</p></router-link></div>
            <div class="room-card-wrapper list_view" v-for="aroom in allrooms">
                <div class="room-card-list">
                    <div class="photo_block">
                        <router-link class="view__" :to="{ name: 'CommonList', params: { id:  (78965428+ parseInt(aroom.id))}}" target="_blank">
                            <img v-if="aroom.photos" :src="aroom.photos.split(' ')[0]" class="image-list" alt="Bleecker Street, Manhattan, New York, NY, USA">
                            <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" class="image-list" alt="Bleecker Street, Manhattan, New York, NY, USA">
                        </router-link>
                        <div class="time_map_pin">
                            {{timeSince(givenDate(aroom.created_at))}}
                             ago</div><span class="pull-left none_click favorite false"><i class="star__icon fa fa-star " :class="bookmark" @click="bookmarkList(aroom.id)"></i></span><span class="new__block">NEW</span></div>
                    <div class="info_block">
                        <div class="headline"><router-link :to="{ name: 'CommonList', params: { id:  (78965428+parseInt(aroom.id))}}" target="_blank" style="color: black;"><span>{{aroom.headline.substring(0, 55)}}</span></router-link></div>
                        <div class="details_listings"><span>Private room</span><span class="delimiter_">|</span><span>{{aroom.location}}</span></div>
                        <div class="user_block">
                            <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(aroom.bedi))}}" target="_blank" class="photo_user_block profile__icon-check">
                                <img v-if="aroom.avatar" :src="aroom.avatar" alt="Kyla Langotsky">
                                <img v-else src="https://s.roomster.com/Content/images/placeholders/no_user_thumbnail.gif" alt="Kyla Langotsky">
                                <span class="hover__block"></span></router-link>
                            <div class="details_user_block">
                                <div>{{aroom.hati}}</div>
                                <div><span>{{Math.floor((Date.now() - givenDate(aroom.dob))/1000/60/60/24/365)}}</span><span>,</span> <i class="fa fa-mars"></i></div>
                            </div>
                        </div>
                        <div class="social_block_">
                            <div class="title_">Contact {{aroom.hati}}</div>
                            <div><p class="profile__social-text">Social Connect</p><div class="social_contact full_width">
<!--                                <div class="profile__link-edit-cont"><a href="/login" target="_blank" class="profile__link&#45;&#45;Facebook profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/4c39bb2e568be26e616299a020e16435.svg" alt=""></a></div><div class="profile__link-edit-cont"><a href="/login" target="_blank" class="profile__link&#45;&#45;LinkedIn profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/96642f4e1ce492c57f46f8c1656406af.svg" alt=""></a></div><div class="profile__link-edit-cont"><a href="/login" target="_blank" class="profile__link&#45;&#45;Instagram profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3018d75151afa2a754f0f2f86a1f6bfd.svg" alt=""></a></div>-->
                                <div class="profile__link-edit-cont"><a href="/login" target="" class="profile__link--SMS profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/2285d7df1c23585c4e635aa3e69f5cd8.svg" alt=""></a></div>
                                <div class="profile__link-edit-cont"><a href="/login" target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="big_delimiter"></div>
                    <div class="details_block">
                        <div class="price_block"><span class="_currency">$</span><span> {{aroom.monthly_rent}}</span><span class="_currency">USD</span></div>
                        <div class="per_month">per month</div>
                        <div class="move_in_date"><span class="icon_calendar_v2"></span><span>Move-in Date:</span><span>{{aroom.move_date}}</span></div><router-link class="view__" :to="{ name: 'CommonList', params: { id:  (78965428+parseInt(aroom.id))}}" target="_blank">View</router-link></div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="alert alert-dark" role="alert">
                <div class="text-center" style="padding: 4px;border: 2px solid #000000;margin: 3px">Oops! We couldn't find anything</div>
                <h4>Expand area of your search</h4>
                <ul>
                    <li>- Search nearby neighborhoods</li>
                    <li>- Refrain from using zip codes or exact addresses</li>
                    <li></li></ul>
                <h4>Expand your search criteria</h4>
                <ul>
                    <li>- Increase filters ranges</li>
                    <li>- Uncheck unnecessary filters</li>
                </ul>

            </div>
        </div>
    </div>

</div>
</template>

<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                tokens:'',
                bookmark:'',
                boton:'',
                loadr: false,
                allrooms :[],
                given:null
            }
        },
        props: {
            min:Number,
            max:Number,
            place:String,
            sort:String
        },
        computed: {
            //
        },

        created () {
            //
        },
        ready () {
            //
        },
        watch: {
            place () {
                this.loadr = true;
                axios.get('/needaroomlist/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.allrooms = resp.data
                    })
                    .catch(function (resp) {
                        this.loadr = true;
                        console.log(resp);
                    });
            },
            min () {
                this.loadr = true;
                axios.get('/needaroomlist/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.allrooms = resp.data
                    })
                    .catch(function (resp) {
                        this.loadr = true;
                        console.log(resp);
                    });

            },
            max () {
                this.loadr = true;
                axios.get('/needaroomlist/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.allrooms = resp.data
                    })
                    .catch(function (resp) {
                        this.loadr = false;
                        console.log(resp);
                    });
            },
            sort () {
                this.loadr = true;
                axios.get('/needaroomlist/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.allrooms = resp.data
                    })
                    .catch(function (resp) {
                        this.loadr = false;
                        console.log(resp);
                    });
            },
        },
        mounted () {
            this.boton = window.localStorage.getItem('token');
            this.loadr = true;
            this.$nextTick(function() {
                axios.get('/needaroomlist/'+this.place+'/'+this.min+'/'+this.max+'/'+this.sort)
                    .then(resp => {
                        this.loadr = false;
                        this.allrooms = resp.data
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            });
        },
        methods: {
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            },
            bookmarkList(value){
                this.tokens = window.localStorage.getItem('token');
                if(this.tokens){
                    event.target.classList.toggle('active');
                    axios.get('/add/bookmark/'+value+'/'+'room')
                        .then(resp => {
                        })
                        .catch(function (resp) {
                        });

                }else {
                    this.$router.push('/login');
                }

            },
            timeSince(date) {

                var seconds = Math.floor((new Date() - date) / 1000);

                 var interval = Math.floor(seconds / 31536000);

                 if (interval > 1) {
                    return interval + " years";
                }
        interval = Math.floor(seconds / 2592000);
        if (interval > 0) {
            return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 0) {
            return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 0) {
            return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 0) {
            return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
    }
        }
    };
</script>
<style>
    .alert-dark{
        width: 100%;
        padding: 50px;
        font-family: "Helvetica Neue", arial, tahoma, verdana, "lucida grande", sans-serif;
        background: #ffffff;
    }
</style>