<template>
    <div>
        <div id="content">
            <div class="wsmenucontainer clearfix gray_background">
                <iv class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow __nomain"><i class="support-badge">1</i></a></iv>
                <div class="wrapper">
                    <div>
                        <div id="listing-main-container">
                            <div class="listing__container">
                                <vueper-slides class="no-shadow pc-sl" :visible-slides="3" :slide-ratio="1/4" :dragging-distance="70" :arrows-outside="false">
                                    <vueper-slide  v-for="(slide,i) in slides" :key="i" :image="slide"></vueper-slide>
                                </vueper-slides>
                                <div id="mobile-profile-carousel"  dir="ltr">
                                    <vueper-slides class="no-shadow mob-sl" :visible-slides="1" :slide-ratio="1/4" :dragging-distance="70" :arrows-outside="false">
                                        <vueper-slide  v-for="(slide,i) in slides" :key="i" :image="slide"></vueper-slide>
                                    </vueper-slides>
                                    <div class="listing-month-price"><span class="currency-sign">$</span><span class="carousel-price">{{allrooms[0].monthly_rent}}</span><span class="currency-sign">USD</span><span class="type_payment">per month</span></div>
                                    <div class="time_map_pin">
                                        {{timeSince(givenDate(allrooms[0].created_at))}}
                                        ago

                                    </div><a class="display__block"><span class="new_block">NEW</span></a>
                                    <div class="user">
                                        <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><img src="../../../../public/images/no_user_original.gif"></router-link>
                                    </div>
                                </div>
                                <div class="anchors__container hidden-xs" style="z-index: 100000 !important">
                                    <div class="custom-container">
                                        <div class="row" >
                                            <div class="anchor-set col-md-12 clearfix"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/ea0397a31a5403b7d4e3661ebb5dcf1d.png" class="anchor gallery-btn"><a class="anchor" v-scroll-to="'#listing-right-side-content'" >Description</a><a v-scroll-to="'#amenities_16573044'" class="anchor" >Amenities</a><a v-scroll-to="'#preferenceGetValue'"  class="anchor">Roommate preference</a><a v-scroll-to="'#mapGet'" class="anchor">Map</a><span style="flex-grow: 1;"></span><a class="anchor cursor-default"> {{allrooms[0].monthly_rent}} &nbsp;USD&nbsp;per month</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-container custom-container-listing-fix" style="margin: 0px auto;">
                                    <div class="mobile-listing-headline">
                                        <div class="headline-info"> {{allrooms[0].headline}}</div>
                                        <div class="additional-info"><span class="green-text"><span>Private Room</span>&nbsp;<span style="color: black;">offered by {{allrooms[0].hati}}</span></span>
                                        </div>
                                    </div>
                                    <div class="row row-default row-listing-fix">
                                        <div class="content-wrapper ___listing col-xs-12 clearfix">
                                            <div id="listing-right-side-content" class="content__container">
                                                <div class="bookmarks-container without-options">
                                                    <div class="bookmarks-square-icon bookmark" @click="bookmarkList(allrooms[0].id)"></div>
                                                </div>
                                                <div v-if="cheka" id="option-listing-buttons">
                                                    <router-link class="edit-listing-btn" :to="{ name: 'OfferingRoomEdit', params: { id: allrooms[0].moja }}" style="color:white!important">
                                                        <i class="fa fa-pencil icon__pencil"></i>
                                                        Edit
                                                    </router-link>
                                                    <a :href="'/needroom/delete/' + allrooms[0].moja"  class="delete-listing-btn" style="color:white"> Delete listing
                                                    </a>
                                                </div>
                                                <div class="mobile-date-location-block" style="padding-bottom: 0px; margin-top: 4px;">
                                                    <div class="date-location">
                                                        <div class="mobile-date">
                                                            <div class="available-date">
                                                                <div class="icon_calendar_v2"></div><span>Available Date</span></div>
                                                            <div class="date"><span>{{allrooms[0].move_date}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="date-location">
                                                        <div class="mobile-date">
                                                            <div class="available-date">
                                                                <div class="icon_calendar_v2"></div>
                                                                <span v-if="allrooms[0].minimum_stay">Minimum Stay</span></div>
                                                            <div class="date"><span>{{allrooms[0].minimum_stay}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="date-location">
                                                        <div class="mobile-location">
                                                            <div class="location">
                                                                <div class="icon_location_v2"></div><span>Location</span></div>
                                                            <div> {{allrooms[0].location}}</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div v-if="allrooms[0].description" class="mobile-plus-description"><span class="text">+&nbsp;&nbsp;Description</span></div>
                                                <div class="mobile-description-block">
    
                                                    {{allrooms[0].description}}
                                                </div>
                                                <div class="mobile-plus-details"><span class="text">+&nbsp;&nbsp;Details</span></div>
                                                <div class="mobile-details-block active">
                                                    <div id="amenities-2" class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__amenities-preferences"></i><span>Amenities</span></div>
                                                        <div class="block__content">
                                                        </div>

                                                    </div>

                                                    <div class="listing__block clearfix">
                                                        <div  class="block__title"><i class="icon__household"></i><span>Household</span> </div>
                                                        <div class="block__content">
                                                            <div>
                                                                <div><span>Household age: </span><span> {{allrooms[0].min_household_age}}</span> To <span>{{allrooms[0].max_household_age}}</span></div>
                                                                <div v-if="allrooms[0].people_in_household"><span>People in household: </span><span>{{allrooms[0].people_in_household}}</span></div>
                                                                <div v-if="allrooms[0].household_sex"><span>Household Sex: </span><span> {{allrooms[0].household_sex}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="listing__block clearfix">
                                                        <div id="preferencea" class="block__title"><i class="icon__residence"></i><span>Residence</span></div>
                                                        <div class="block__content">
                                                            <div>
                                                                <div>Building Type:&nbsp;<span> {{allrooms[0].building_type}} </span></div>
                                                                <div>Furnished:&nbsp;<span v-if="allrooms[0].is_furnished ==1">Yes </span>
                                                                    <span v-else>No</span>
                                                                </div>
                                                                <div>Move-in Fee: &nbsp;<span> {{allrooms[0].move_in_fee}} </span></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__lifestyle"></i><span>Lifestyle</span></div>
                                                        <div class="block__content">
                                                            <div>
                                                                <div>My Cleanliness:&nbsp;<span> {{allrooms[0].cleanliness}} </span></div>
                                                                <div>Overnight Guests:&nbsp;<span> {{allrooms[0].overnight_guests}} </span></div>
                                                                <div>Party Habits:&nbsp;<span> {{allrooms[0].party_habits}}</span></div>
                                                                <div>I Get Up / Go To Bed : <span> {{allrooms[0].get_up}} </span> / <span> {{allrooms[0].go_to_bed}}</span></div>
                                                                <div>Food preference:&nbsp;<span>{{allrooms[0].food_preference}} </span></div>
                                                                <div>Smoker:&nbsp;<span>{{allrooms[0].smoker}}</span> </div>
                                                                <div>Work Schedule:&nbsp;<span>{{allrooms[0].work_schedule}} </span></div>
                                                                <div>Occupation:&nbsp;<span>{{allrooms[0].occupation}} </span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="roommate-preference-2_16319932" class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__roommate-preference"></i><span>Roommate preference</span></div>
                                                        <div class="block__content">
                                                            <div>
                                                                <div>Age:&nbsp;<span> {{allrooms[0].prefer_min_age}}</span>- <span> {{allrooms[0].prefer_max_age}}</span></div>
                                                                <div>Smoking:&nbsp;<span> {{allrooms[0].prefer_smoker}}</span></div>
                                                                <div>Students Only:&nbsp;<span v-if="allrooms[0].prefer_student ==1"> Yes</span>
                                                                <span v-else>No</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="header-main-block">
                                                    <div class="first-listing-block listing__head clearfix">
                                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="padding-left: 3px;">
                                                            <div class="green-text hidden-xs"><span style="font-family: Arial;">
                                                                {{timeSince(givenDate(allrooms[0].created_at))}}  ago</span><span id="new" class="badge__new">NEW</span></div>
                                                            <h1 class="listing__title">{{allrooms[0].headline}}</h1>
                                                            <div id="additional-info-block"><span class="green-text">Private Room </span>offered by {{allrooms[0].hati}}</div>
                                                        </div>
                                                        <div class="minor-price-block col-lg-3 col-md-3 col-sm-4 col-xs-4 minor-price-block--offering">
                                                            <div class="minor-price-block-monthly">
                                                                <div class="price-value"><span class="currency">$</span><span class="value">{{allrooms[0].monthly_rent}}</span></div>
                                                                <div class="monthly-payment"><span>USD</span><span class="per-month">per month</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                                            <div class="posted-date-info">
                                                                <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><img class="posted-date-info__photo" src="../../../../public/images/no_user_thumbnail.gif" alt="posted-info-photo"></router-link><span class="posted-date-info__when">{{timeSince(givenDate(allrooms[0].dob))}}  ago by <a href="/profile/15581121" target="_blank"><span class="posted-date-info__who">{{allrooms[0].hati}}</span></a>.</span>
                                                            </div>
                                                            <div class="posted-icon-set margin-left-30px clearfix"><span class="action"><i class="icon__bookmark icon__my_bookmark"></i></span><span class="action"><i class="icon__share"></i></span><span class="action"><i class="icon__report"></i></span></div>
                                                        </div>
                                                    </div>
                                                    <div class="user-modal visible-xs-block">
                                                        <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><img src="../../../../public/images/no_user_thumbnail.gif" class="user-modal__photo"></router-link>
                                                        <div class="first-stage">
                                                            <button class="user-modal__button">Message</button>
                                                            <button class="user-modal__button">Contact</button>
                                                        </div>
                                                    </div>
                                                    <div id="listing__block__responsive" class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                        <div class="block__content">{{allrooms[0].location}}
                                                            <div class="listing__details details__listing clearfix">
                                                                <div v-if="allrooms[0].minimum_stay" class="details__text text-center"><span><span class="gray-text">Minimum Stay</span>
                                                            <br> {{allrooms[0].minimum_stay}}</span>
                                                                </div>
                                                                <div class="separator_listing"></div>
                                                                <div class="details__text text-center"><span class="gray-text">Available Date</span>
                                                                    <br><span>{{allrooms[0].move_date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="responsive-listing-block">
                                                    <div class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                        <div class="block__content">{{allrooms[0].location}}
                                                            <div class="listing__details details__listing clearfix">
                                                                <div class="details__text text-center"><span><span class="gray-text">Minimum Stay</span>
                                                            <br> {{allrooms[0].move_date}}</span>
                                                                </div>
                                                                <div class="separator_listing"></div>
                                                                <div class="details__text text-center"><span class="gray-text">Available Date</span>
                                                                    <br><span>{{allrooms[0].move_date}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="responsive-message-block">
                                                    <div class="responsive__message__container">
                                                        <textarea class="form-control user-message-send-form" placeholder="Write a message"></textarea>
                                                        <div class="responsive-send-btn"><span>Send Message</span></div>
                                                    </div>
                                                    <div class="responsive-contact-info">
                                                        <div class="responsive-phone-number">
                                                            <div class="phone__container">
                                                                <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                             </div>
                                                        </div>
                                                        <div class="user-modal__icons-set responsive-social-info">
                                                            <div class="profile__link-edit-cont"><a target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="main-listing-info">
                                                    <div id="description_16319932" class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__description"></i><span>Description</span></div>
                                                        <div class="block__content"><p class="pre">{{allrooms[0].description}}</p>
    
    
                                                        </div>
                                                    </div>
                                                                                 <div class="listing__block clearfix" id="amenities_16573044">
        <div class="block__title"><i class="icon__amenities-preferences"></i><span>Amenities</span></div>
        <div class="block__content">
            <div>
                <div v-if="allrooms[0].have_air_conditioning == 1" class="amenity__container text-center">
                    <div class="icon icon-1"></div><span>Air Conditioning</span></div>
    
                <div class="amenity__container text-center" v-if="allrooms[0].have_deck_or_Patio == 1">
                    <div class="icon icon-2"></div><span>Deck or Patio</span></div>
    
                <div class="amenity__container text-center" v-if="allrooms[0].have_wood_floors == 1">
                    <div class="icon icon-4"></div><span>Wood Floors</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_yard == 1">
                    <div class="icon icon-8"></div><span>Yard</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_carpet == 1">
                    <div class="icon icon-16"></div><span>Carpet</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_storage == 1">
                    <div class="icon icon-32"></div><span>Storage</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_gym == 1">
                    <div class="icon icon-64"></div><span>Gym</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_parking == 1">
                    <div class="icon icon-128"></div><span>Parking</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_elevator == 1">
                    <div class="icon icon-256"></div><span>Elevator</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_fireplace == 1">
                    <div class="icon icon-512"></div><span>Fireplace</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_laundry == 1">
                    <div class="icon icon-1024"></div><span>Laundry</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_tennis == 1">
                    <div class="icon icon-2048"></div><span>Tennis</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_jacuzzi == 1">
                    <div class="icon icon-4096"></div><span>Jacuzzi</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_dishwasher == 1">
                    <div class="icon icon-8192"></div><span>Dishwasher</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_pool == 1">
                    <div class="icon icon-16384"></div><span>Pool</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_private_bathroom == 1">
                    <div class="icon icon-32768"></div><span>Private Bathroom</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_phone_jack == 1">
                    <div class="icon icon-65536"></div><span>Phone Jack</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_private_entrance == 1">
                    <div class="icon icon-131072"></div><span>Private Entrance</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_cable_tv_jack == 1">
                    <div class="icon icon-524288"></div><span>Cable TV Jack</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_private_closet == 1">
                    <div class="icon icon-1048576"></div><span>Private Closet</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_internet == 1">
                    <div class="icon icon-2097152"></div><span>Internet</span></div>
                <div class="amenity__container text-center" v-if="allrooms[0].have_wireless_internet == 1">
                    <div class="icon icon-4194304"></div><span>Wireless Internet</span></div>
            </div>
        </div>
                                                                                     <hr>
                                                            
                                                  <div class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__household"></i><span>Household</span></div>
                                                        <div class="block__content">
                                                             <div>
                                                                <div><span>Household age: </span><span> {{allrooms[0].min_household_age}}</span> To <span>{{allrooms[0].max_household_age}}</span></div>
                                                                <div v-if="allrooms[0].people_in_household"><span>People in household: </span><span>{{allrooms[0].people_in_household}}</span></div>
                                                                <div v-if="allrooms[0].household_sex"><span>Household Sex: </span><span> {{allrooms[0].household_sex}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
     <div class="listing__block clearfix" id="preferenceGetValue">
        <div v-if="allrooms[0].building_type || allrooms[0].is_furnished || allrooms[0].move_in_fee" class="block__title"><i class="icon__residence"></i><span>Residence</span></div>
         <div>
                                                                <div v-if="allrooms[0].building_type">Building Type:&nbsp;<span> {{allrooms[0].building_type}} </span></div>
                                                                <div v-if="allrooms[0].is_furnished">Furnished:&nbsp;<span v-if="allrooms[0].is_furnished ==1">Yes </span>
                                                                    <span v-else>No</span>
                                                                </div>
                                                                <div v-if="allrooms[0].move_in_fee">Move-in Fee: &nbsp;<span>{{allrooms[0].move_in_fee}} </span></div>
             <div v-if="allrooms[0].utilities_cost">Utility Cost: &nbsp;<span>{{allrooms[0].utilities_cost}} </span></div>
             <div v-if="allrooms[0].parking_rent">Parking Fee: &nbsp;<span>{{allrooms[0].parking_rent}} </span></div>
                                                            </div>
    </div>
    <div id="responsive-lifestyle">
        <div class="listing__block clearfix">
            <div v-if="allrooms[0].cleanliness || allrooms[0].overnight_guests || allrooms[0].party_habits || allrooms[0].get_up || allrooms[0].food_preference || allrooms[0].smoker || allrooms[0].work_schedule || allrooms[0].occupation" class="block__title"><i class="icon__lifestyle"></i><span>Lifestyle</span></div>
            <div class="block__content">
                  <div>
                          <div v-if="allrooms[0].cleanliness">My Cleanliness:&nbsp;<span> {{allrooms[0].cleanliness}} </span></div>
                        <div v-if="allrooms[0].overnight_guests">Overnight Guests:&nbsp;<span> {{allrooms[0].overnight_guests}} </span></div>
                      <div v-if="allrooms[0].party_habits">Party Habits:&nbsp;<span> {{allrooms[0].party_habits}}</span></div>
                 <div v-if="allrooms[0].get_up">I Get Up / Go To Bed : <span> {{allrooms[0].get_up}} </span> / <span> {{allrooms[0].go_to_bed}}</span></div>
                                                                <div v-if="allrooms[0].food_preference">Food preference:&nbsp;<span>{{allrooms[0].food_preference}} </span></div>
                                                                <div v-if="allrooms[0].smoker">Smoker:&nbsp;<span>{{allrooms[0].smoker}}</span> </div>
                                                                <div v-if="allrooms[0].work_schedule">Work Schedule:&nbsp;<span>{{allrooms[0].work_schedule}} </span></div>
                                                                <div v-if="allrooms[0].occupation">Occupation:&nbsp;<span>{{allrooms[0].occupation}} </span></div>
                                                            </div>
                <span v-if="allrooms[0].have_cats || allrooms[0].have_dogs || allrooms[0].have_small_pets || allrooms[0].have_birds || allrooms[0].have_fish || allrooms[0].have_reptiles">Owner Pets:</span>
                <div class="checkbox animal" v-if="allrooms[0].have_cats==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-cat"></i></span>Cats</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].have_dogs==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-dog"></i></span>Dogs</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].have_small_pets==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-pets"></i></span>Small Pets</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].have_birds==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-birds"></i></span>Birds</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].have_fish==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-fish"></i></span>Fish</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].have_reptiles==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-reptiles"></i></span>Reptiles</label>

                </div>
            </div>
        </div>
    </div>

                                                                                     <hr>
        <div class="listing__block clearfix" id="roommate-preference_16573044">
        <div  class="block__title"><i class="icon__roommate-preference"></i><span>Roommate preference</span></div>
        <div class="block__content">
           <div>
                                                                <div>Age:&nbsp;<span> {{allrooms[0].prefer_min_age}}</span>- <span> {{allrooms[0].prefer_max_age}}</span></div>
                                                                <div v-if="allrooms[0].prefer_smoker">Smoking:&nbsp;<span> {{allrooms[0].prefer_smoker}}</span></div>
                                                                <div v-if="allrooms[0].prefer_student" >Students Only:&nbsp;<span v-if="allrooms[0].prefer_student ===1"> Yes</span>
                                                                <span v-else>No</span>
                                                                </div>
                                                            </div>
                <span id="mapGet" v-if="allrooms[0].have_cats || allrooms[0].have_dogs || allrooms[0].have_small_pets || allrooms[0].have_birds || allrooms[0].have_fish || allrooms[0].have_reptiles">Pets:</span>
                <div class="checkbox animal" v-if="allrooms[0].prefer_cats==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-cat"></i></span>Cats</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].prefer_dogs==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-dog"></i></span>Dogs</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].prefer_small_pets==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-pets"></i></span>Small Pets</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].prefer_birds==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-birds"></i></span>Birds</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].prefer_fish==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-fish"></i></span>Fish</label>
                </div>
                <div class="checkbox animal" v-if="allrooms[0].prefer_reptiles==1">
                    <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-reptiles"></i></span>Reptiles</label>

                </div>
            </div>
        </div>
    </div>
                                                </div>
                                                <div id="googlraMap" class="google-map__container">
                                                    <GmapMap
                                                            :center="{lat:parseFloat(allrooms[0].latitude), lng:parseFloat(allrooms[0].longitude)}"
                                                            :zoom="12"
                                                            map-type-id="terrain"
                                                            style="width: 100% !important; height: 300px"
                                                    >
                                                        <GmapMarker ref="myMarker"
                                                                    :position="google && new google.maps.LatLng(parseFloat(allrooms[0].latitude), parseFloat(allrooms[0].longitude))" />
                                                    </GmapMap>
                                                </div>
                                                </div>
                                                  <div id="float-sidebar" class="float-sidebar hidden-xs">
                                                <div class="listing-user__container">
                                                    <div>
                                                        <div class="image__container">
                                                            <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank">
                                                                <img v-if="allrooms[0].avatar" :src="allrooms[0].avatar" alt="User Profile Photo">
                                                                <img v-else src="../../../../public/images/no_user_thumbnail.gif" alt="User Profile Photo">
                                                            </router-link>
                                                        </div>
                                                        <div class="aside-content-container text-center">
                                                            <div class="listing-user__name"><router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><span class="link">{{allrooms[0].hati}}</span></router-link></div>
                                                            <div class="listing-user__age listing-user__gender"><span>{{this.getAge(allrooms[0].dob)}}, <i v-if="allrooms[0].genu === 'Male'" class="icon__male"></i><i v-else class="icon__female"></i>
                                                            </span></div><span class="green-text">Offering a room</span>
                                                            <div class="message__container">
                                                                <textarea class="form-control user-message-send-form" @focus="aler" placeholder="Write a message"></textarea><a class="btn btn-primary message__send-message" @click.prevent="aler"><span>Send Message</span></a></div>
                                                            <div class="border-line "></div>
                                                            <div class="border-line hidden"></div>
                                                            <div class="phone__container hidden">
                                                                <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                            </div>
                                                            <br>
                                                            <h3 style="font-size: 1.3rem;cursor: pointer;font-family: HelveticaNeue-Medium,Arial,sans-serif;" @click="moveIn"><i class="fa fa-phone" style="color:rgb(71, 164, 14)"></i>&nbsp;UPGRADE TO VIEW</h3>
                                                            <br>
                                                            <div><div class="" style="margin-bottom: 10px; font-size: 0.9rem; color: rgb(213, 213, 213);">OR</div><div>Find <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"> <span class="green-text link">{{allrooms[0].hati}}</span></router-link> on Social Media</div><div class="row">
                                                                <div class="social-networks__container col-md-10 col-md-offset-1"><div><div class="social_contact" style="padding-left:10px">
<!--                                                                    <div class="profile__link-edit-cont">-->
<!--                                                                    <span class="profile__link&#45;&#45;Facebook profile__link " style="color: white;">-->
<!--                                                                        <img src="https://d1frv26ioc12ph.cloudfront.net/dist/4c39bb2e568be26e616299a020e16435.svg" alt=""></span>-->
<!--                                                                </div>-->
<!--                                                                    <div class="profile__link-edit-cont"><span class="profile__link&#45;&#45;Twitter profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/019fd752ca6eb9e5293e5b0d1657d7a6.svg" alt=""></span></div>-->
<!--                                                                    <div class="profile__link-edit-cont">-->
<!--                                                                        <span class="profile__link&#45;&#45;LinkedIn profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/96642f4e1ce492c57f46f8c1656406af.svg" alt=""></span></div>-->

<!--                                                                    -->
<!--                                                                    <div class="profile__link-edit-cont">-->
<!--                                                                        <span class="profile__link&#45;&#45;Instagram profile__link " style="color: white;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3018d75151afa2a754f0f2f86a1f6bfd.svg" alt=""></span>-->
<!--                                                                    </div>-->
                                                                    <div></div></div></div></div>
                                                            </div></div>

                                                        </div>
                                                    </div>
                                                </div>
    
                                            </div>
                                                <div class="google-map__container">
                                                    <div id="map_16319932" class="google-map__container-listing" dir="ltr">
                                                        <div class="map-tiles mapboxgl-map" style="text-align: left;">
                                                            <div class="mapboxgl-canary" style="visibility: hidden;"></div>
                                                            <div class="mapboxgl-canvas-container">
                                                                <canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" width="557" height="250" style="position: absolute; width: 557px; height: 250px;"></canvas>
                                                            </div>
                                                            <div class="mapboxgl-control-container">
                                                                <div class="mapboxgl-ctrl-top-left"></div>
                                                                <div class="mapboxgl-ctrl-top-right"></div>
                                                                <div class="mapboxgl-ctrl-bottom-left">
                                                                    <div class="mapboxgl-ctrl" style="display: none;">
                                                                        <a class="mapboxgl-ctrl-logo" target="_blank" href="https://www.mapbox.com/" aria-label="Mapbox logo" rel="noopener"></a>
                                                                    </div>
                                                                </div>
                                                                <div class="mapboxgl-ctrl-bottom-right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div id="responsive-lifestyle-reverse">
                                                <div class="listing__block clearfix">
                                                    <div v-if="allrooms[0].cleanliness || allrooms[0].overnight_guests || allrooms[0].party_habits || allrooms[0].get_up || allrooms[0].food_preference || allrooms[0].smoker || allrooms[0].work_schedule || allrooms[0].occupation" class="block__title"><i class="icon__lifestyle"></i><span>Lifestyle</span></div>
                                                    <div class="block__content">
                                                         <div>
                                                                <div v-if="allrooms[0].cleanliness">My Cleanliness:&nbsp;<span> {{allrooms[0].cleanliness}} </span></div>
                                                                <div v-if="allrooms[0].overnight_guests">Overnight Guests:&nbsp;<span> {{allrooms[0].overnight_guests}} </span></div>
                                                                <div v-if="allrooms[0].party_habits">Party Habits:&nbsp;<span> {{allrooms[0].party_habits}}</span></div>
                                                                <div v-if="allrooms[0].get_up || allrooms[0].go_to_bed">I Get Up / Go To Bed : <span> {{allrooms[0].get_up}} </span> / <span> {{allrooms[0].go_to_bed}}</span></div>
                                                                <div v-if="allrooms[0].food_preference">Food preference:&nbsp;<span>{{allrooms[0].food_preference}} </span></div>
                                                                <div v-if="allrooms[0].smoker">Smoker:&nbsp;<span>{{allrooms[0].smoker}}</span> </div>
                                                                <div v-if="allrooms[0].work_schedule">Work Schedule:&nbsp;<span>{{allrooms[0].work_schedule}} </span></div>
                                                                <div v-if="allrooms[0].occupation">Occupation:&nbsp;<span>{{allrooms[0].occupation}} </span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="other-listings__container container">
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
    
                        <div>
                            <div class="__is_overlay "></div>
                            <div class="show_contact_block ___show default  ">
                                <div class="_contact_block ">
                                    <div>
                                        <div class="__user_photo">
                                            <div class="__photo">
                                                <a><img src="../../../../public/images/no_user_thumbnail.gif" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="__user_info"><router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><span class="link">{{allrooms[0].hati}}</span></router-link> <i class="fa fa-venus"></i></div>
                                        <div class="__other_func">
                                            <div class="__message_block" @click.prevent="aler"><i class="fa fa-comment-o"></i><span>Message</span>
                                            </div><a class="__phone_block" href="/"><i class="fa fa-phone" @click.prevent="aler"></i><span>Call</span></a><a class="__sms_block " @click.prevent="aler"><span class="icon__sms "></span><span>SMS</span></a>
                                            <div class=""><span class="icon___social"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i><i class="fa fa-linkedin"></i><i class="fa fa-twitter"></i></span><span>Social</span></div>
                                            <div class="__other_block"><i class="fa fa-ellipsis-v" @click="open = true">
                                                </i><span>Other</span></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="overlay__ "></div>
                                        <div class="share_modal ">
                                            <div class="top_block">
                                                <div class="room-card-search room-card-share-tool">
                                                    <div class="flex">
                                                        <div class="slider_block">
                                                            <div class="time_map_pin">    </div>
                                                            <div class="slider_inner" id="0">
                                                                <div class="inner-wrapper">
                                                                    <div class="topBlock"><span class="absolute_block_price vertical-modifier"><span class="__currency">$</span><span>{{allrooms[0].monthly_rent}}</span><span class="__currency">USD</span><span>per month</span></span><a href="/listings/16319932" target="_blank" class="display__block"><span class="new_block search">NEW</span></a>
                                                                        <div class="item room-card">
                                                                            <div class="image room-card-search__"><a class="arrows room-card arrow-left"><i class="chevron chevron-left"></i></a>
                                                                                <a href="/listings/16319932" target="_blank"><img src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo"></a><a class="arrows room-card arrow-right"><i class="chevron chevron-right"></i></a></div>
                                                                        </div>
                                                                        <a class="profile_block search" href="/profile/15581121" target="_blank">
                                                                            <img src="../../../../public/images/no_user_thumbnail.gif" alt="">
                                                                            <div class="hover_profile_block"><span>View Profile</span></div>
                                                                            <div class="user-info search"><span><router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(allrooms[0].bedi))}}" target="_blank"><span class="link">{{allrooms[0].hati}}</span></router-link></span><span class="point">.</span><span>20</span><span class="point">.</span><i class="fa fa-venus"></i></div>
                                                                        </a>
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="description_block search">
                                                            <div class="first-dev"><span class="headline">Available Room for Rent</span></div>
                                                            <div class="google_formatted_address"><span class="green-text">Private Room</span><span class="middle_block">|</span><span>{{allrooms[0].location}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="close_modals__">×</div>
                                            </div>
                                            <div class="middle_block">
                                                <div class="copy_input">
                                                    <input autocomplete="off" type="text" disabled="" value="">
                                                    <button class="copy_button">Copy</button>
                                                    <div class="copied"></div>
                                                </div>
                                                <div class="by_email">
                                                    <div class="title">By Email</div>
                                                    <div class="form_by_email">
                                                        <div class="inputs">
                                                            <input autocomplete="off" type="text" placeholder="Email Address">
                                                            <div class="send_btn_">Send</div>
                                                        </div>
                                                        <div class="delimiter___"></div>
                                                        <textarea placeholder="Enter your personal message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="title">Share on Social Medias</div>
                                                <div class="social-share">
                                                    <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--facebook"><a href="#" class="fb"><i class="fa fa-facebook"></i></a></div>
                                                    <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--twitter"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                    <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--linkedin"><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></div>
                                                    <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--googlePlus"><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="footer" class="gray_background_footer">
                        <div class="container">
                            <div class="top row">
                                <div class="col-sm-12">
                                    <ul class="list-inline social text-center">
                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="links text-center">
                                <ul class="list-inline">
                                    <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                                    <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                                    <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                                    <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                                </ul>
                            </div>
                            <div class="copyright text-center">GettingRoom © 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        <div ref="vuemodal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="verify-modal__stadart-cont">
                            <div style="padding-left: 20px; padding-right: 20px;"><div><div class="verify-modal__background-check"><div class="text-wrapper"><div class="subtitle">Account Varification</div>
                                <div>GettingRoom takes member safety and security very seriously. We don’t even want people that aren’t easily identifiable from their Social profile. Every Profile goes through a security filter from a GettingRoom team member.</div></div><span class="start-button">Start</span></div><div class="verify-modal__account-status"><strong>Account Status:<span style="color: rgb(252,72,45);"> Unverified</span></strong></div>
                                Complete the steps marked with * to verify your account and send a message:
                                <div class="verify-modal__checklist" style="border: 0px; padding: 0px 10px; box-shadow: none; cursor: auto;">
                                </div>
                                <div v-if="front">
                                    <div class="checks-modal" @click="emailSection">
                                        <div class="row" style="padding-right: 2px;margin-right:-40px">
                                            <div class="col-md-8" style="padding-left:15px">
                                                <h5>Confirm your email</h5>
                                                <p>Email verification is  needed to validate your account </p>
                                            </div>
                                            <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                <span class="text-danger"><b>*</b></span>
                                                <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checks-modal" @click="phoneSection">
                                        <div class="row" style="padding-right: 2px;margin-right:-40px">
                                            <div class="col-md-8" style="padding-left:15px">
                                                <h5>Verify your phone number.</h5>
                                                <p>verifying your phone number helps prospective matches contact you faster </p>
                                            </div>
                                            <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                <span class="text-danger"><b>*</b></span>
                                                <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checks-modal" @click="pushi">
                                        <div class="row" style="padding-right: 2px;margin-right:-40px">
                                            <div class="col-md-8" style="padding-left:15px">
                                                <h5>Active Trial package it's free</h5>
                                                <p>Trial package has fully premium featured and it's completely free for 24 hours! to enjoy the service </p>
                                            </div>
                                            <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                <span class="text-danger"><b>*</b></span>
                                                <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="verify-modal__mobile-scroll  ">
                                        Verify your social media.
                                        <div class="verify-modal__border" style="border: 0px; padding: 0px 10px; box-shadow: none;"><div class="verify-modal__additional-badges">Get 1 or more badges of your choice</div><div class="verify-modal__media-container-wrapper"><div class="verify-modal__media-container">
                                            <div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Facebook"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/409f653bdf65dacee6819aed33a80ea5.png" alt="icon"></div><p class="verify-modal__name">Facebook</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--LinkedIn"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3f8ed3bb8a3264436a9ad0e8eaaa92b8.png" alt="icon"></div><p class="verify-modal__name">LinkedIn</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Instagram"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/8b60dd7c808cb6245d790378973ac2cc.png" alt="icon"></div><p class="verify-modal__name">Instagram</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Twitter"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/d4b8306096a743e469061a446f7ffd30.png" alt="icon"></div><p class="verify-modal__name">Twitter</p></div></div></div></div></div>
                                </div>
                                <div v-if="mobile">
                                    <div class="verify-modal__verified-phone verified__content "><div><p class="verify-modal__email-title ">Text Message Verification</p>
                                        <form class="verify-modal__input-group
                            verify-modal__input-group--sms-group">
                                            <vue-tel-input v-model="phone" id="number" style="pointer-events: auto;"></vue-tel-input>
                                            <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;"></i><button type="submit" style="display: none;"></button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                <div v-if="emailVerify">
                                    <div class="verify-modal__verified-email verified__content "><p class="verify-modal__email-title">Email Verification</p><form class="verify-modal__input-group">
                                        <input autocomplete="off" type="text" id="verify-modal-input-group" placeholder="Email Address"  v-model="emailVerifyData.email" style="pointer-events: auto;">
                                        <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;" @click="mailSend"></i><button type="submit" style="display: none;"></button></form><div class="visible_content email">
                                    </div></div>
                                </div>
                            </div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>
    
    <script>
        import Slick from 'vue-slick';
        import { VueperSlides, VueperSlide } from 'vueperslides'
        import 'vueperslides/dist/vueperslides.css'
        export default {
            components: { Slick, VueperSlides, VueperSlide },
            mixins: [],
            data () {
                return {
                    slides:[],
                    cheka:false,
                    tokens:'',
                    allrooms:[],
                    given:null,
                    open: false,
                    slickOptions: {
                        slidesToShow: 4,
                        dots: false,
                        infinite: true,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {
                                    arrows: false,
                                    centerMode: true,
                                    centerPadding: '40px',
                                    slidesToShow: 4
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    arrows: false,
                                    centerMode: true,
                                    centerPadding: '40px',
                                    slidesToShow: 1
                                }
                            }
                        ]
                    },
                }

            },
            props: {
                co:Number,
                id:Number,
                loggedUser: { type: Object, default: null }
            },
    
            computed: {
                //
            },
    
            created () {
                //
            },
    
            mounted () {
                console.log(this.loggedUser.id);
                axios.get('/single/aroom/'+(this.id - 78965428))
                    .then(resp => {
                        this.allrooms = resp.data;
                        document.title = this.allrooms[0].headline;
                        this.slides = this.allrooms[0].photos.split(' ');
                        if (this.allrooms[0].bedi == this.loggedUser.id){
                            this.cheka = true;
                        }else{
                            this.cheka = false;
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            },
            watch: {
                cheka(){
                    console.log("Component mounted");
                    axios.get('/single/aroom/'+(this.id - 78965428))
                        .then(resp => {
                            this.allrooms = resp.data;
                            document.title = this.allrooms[0].headline;
                            this.slides = this.allrooms[0].photos.split(' ') ;
                            if (this.allrooms[0].bedi === this.loggedUser.id){
                                this.cheka = true;
                            }else{
                                this.cheka = false;
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                        });
                },
                slides(){
                    console.log(this.loggedUser.id);
                    axios.get('/single/aroom/'+(this.id - 78965428))
                        .then(resp => {
                            this.allrooms = resp.data;
                            document.title = this.allrooms[0].headline;
                            this.slides = this.allrooms[0].photos.split(' ');
                            if (this.allrooms[0].bedi === this.loggedUser.id){
                                this.cheka = true;
                            }else{
                                this.cheka = false;
                            }
                        })
                        .catch(function (resp) {
                            console.log(resp);
                        });
                }
            },
            methods: {
                next() {
                    this.$refs.slick.next();
                },

                prev() {
                    this.$refs.slick.prev();
                },

                reInit() {
                    // Helpful if you have to deal with v-for to update dynamic lists
                    this.$nextTick(() => {
                        this.$refs.slick.reSlick();
                    });
                },

                // Events listeners
                handleAfterChange(event, slick, currentSlide) {
                    console.log('handleAfterChange', event, slick, currentSlide);
                    this.$nextTick(function () {
                        if (this.$refs.slick) {
                            this.$refs.slick.create(this.slickOptions);
                        }
                    });

                },
                handleBeforeChange(event, slick, currentSlide, nextSlide) {
                    console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
                    if (this.$refs.slick) {
                        this.$refs.slick.destroy();
                    }

                },
                handleBreakpoint(event, slick, breakpoint) {
                    console.log('handleBreakpoint', event, slick, breakpoint);
                },
                handleDestroy(event, slick) {
                    console.log('handleDestroy', event, slick);
                },
                handleEdge(event, slick, direction) {
                    console.log('handleEdge', event, slick, direction);
                },
                handleInit(event, slick) {
                    console.log('handleInit', event, slick);
                },
                handleReInit(event, slick) {
                    console.log('handleReInit', event, slick);
                },
                handleSetPosition(event, slick) {
                    console.log('handleSetPosition', event, slick);
                },
                handleSwipe(event, slick, direction) {
                    console.log('handleSwipe', event, slick, direction);
                },
                handleLazyLoaded(event, slick, image, imageSource) {
                    console.log('handleLazyLoaded', event, slick, image, imageSource);
                },
                handleLazeLoadError(event, slick, image, imageSource) {
                    console.log('handleLazeLoadError', event, slick, image, imageSource);
                },
                givenDate(dato){
                    this.given = new Date(dato);
                    return this.given;
                },
                aler(){
                    var tak = window.localStorage.getItem('token');
                    if (tak){
                        this.$nextTick(() => {
                            $('#exampleModal').modal()
                        })
                    }else{
                        this.$router.push('/login');
                    }

                },
                getAge(dateString) {
                    let today = new Date();
                    let birthDate = new Date(dateString);
                    let age = today.getFullYear() - birthDate.getFullYear();
                    let month = today.getMonth() - birthDate.getMonth();
                    if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                        age--;
                    }
                    return age;
                },
                moveIn(){
                    this.$router.push('/upgrade');
                },
                bookmarkList(value){
                    this.tokens = window.localStorage.getItem('token');
                    if(this.tokens){
                        event.target.classList.toggle('active');
                        axios.get('/add/bookmark/'+value+'/'+'room')
                            .then(resp => {
                            })
                            .catch(function (resp) {
                            });

                    }else {
                        this.$router.push('/login');
                    }

                },
                timeSince(date) {

                    var seconds = Math.floor((new Date() - date) / 1000);

                    var interval = Math.floor(seconds / 31536000);

                    if (interval > 1) {
                        return interval + " years";
                    }
                    interval = Math.floor(seconds / 2592000);
                    if (interval > 1) {
                        return interval + " months";
                    }
                    interval = Math.floor(seconds / 86400);
                    if (interval > 1) {
                        return interval + " days";
                    }
                    interval = Math.floor(seconds / 3600);
                    if (interval > 1) {
                        return interval + " hours";
                    }
                    interval = Math.floor(seconds / 60);
                    if (interval > 1) {
                        return interval + " minutes";
                    }
                    return Math.floor(seconds) + " seconds";
                }
            }
        };
    </script>
 <style>
     .moner-size{
         /*height:50px !important;*/
         /*width:50px !important;*/
     }

     .pre {
         white-space: pre-wrap;       /* Since CSS 2.1 */
         white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
         white-space: -pre-wrap;      /* Opera 4-6 */
         white-space: -o-pre-wrap;    /* Opera 7 */
         word-wrap: break-word;       /* Internet Explorer 5.5+ */
     }
     .vueperslides__bullet{display:none !important}
     .delete-listing-btn:hover{color:#000000!important}
     .edit-listing-btn:hover{color:#000000!important}
     .mob-sl{display: none}
     .pc-sl{display:block}
     @media only screen and (max-width: 600px) {
         .mob-sl{display: block}
         .pc-sl{display:none}
     }
 </style>
    