<template>
    <div>
        <div class="wrapper">
            <div class="custom-container-profile mobile ios-overflow">
                <div class="content">
                    <div class="left_content">
                        <div class="left_top_content shadow-block">
                            <div class="verify-modal__verified-text profile__verify-abs-cont">
                                <div class="verify-modal__media-block">

                                </div>
                            </div>
                            <div class="photo_block" dir="ltr">
                                <div class="slick-initialized slick-slider">
                                    <div class="slick-list">
                                        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 750px;"><img :src="loggedUser.avatar" id="image_edit_https://d2w0a6wbaasgww.cloudfront.net/pics/Original/U-15661583-a0cadd4d5c604310a3fc715d8d225ded.jpg" data-index="0" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-white profile__icon-check">
                                <div class="name_block"><span>{{loggedUser.first_name}}</span></div>
                                <div class="info_block"><span>{{loggedUser.age}}</span></div>
                                <div>
                                </div>
                                <div class="joined_ago"></div>
                                <div>
                                    <div class="edit__profile"><span class="edit-profile-btn mobile block hidden-lgs" href="/profile/15661583/update">Edit Profile</span></div>
                                    <div class="edit__profile"><span class="edit-profile-btn mobile block hidden-lgs">View Matches</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="tag_google profile_tag" id="div-gpt-ad-1508181089534-1" data-google-query-id="CKOlh-KKkeQCFUkNaAodwRsOxA" style="width: 336px; height: 280px;">
                            <div id="google_ads_iframe_/255073872/rr_desktop/ProfilePage_LSB_336x280_0__container__" style="border: 0pt none;">
                                <iframe id="google_ads_iframe_/255073872/rr_desktop/ProfilePage_LSB_336x280_0" title="3rd party ad content" name="google_ads_iframe_/255073872/rr_desktop/ProfilePage_LSB_336x280_0" width="336" height="280" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;" data-google-container-id="3" data-load-complete="true"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="right_content">
                        <div class="panel-group listings">
                            <div class="panel panel-default">
                                <div id="collapseOne1" class="panel-collapse show_about">
                                    <div class="profile__panel block_profile interested_profile shadow-block hidden">
                                        <div class="profile__panel-title"><span>Interests</span></div>
                                        <content dir="ltr" class="display_flex profile__panel-body"></content>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group listings" id="accordion2" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne"><a><i class="fa fa-minus"></i></a></div>
                                <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="slider_profile">
                                        <div class="title_slider_profile">
                                            <div></div>
                                            <div class="pointer">

                                            </div>
                                        </div>
                                        <content>
                                            <div dir="ltr">
                                                <div class="slick-initialized slick-slider">
                                                    <div class="slick-list">
                                                        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 2400px;">
                                                            <div data-index="0" v-for="list in listings" class="slick-slide slick-active" tabindex="-1" style="outline: none;">
                                                                <div class="room-card-search profile-room-card room-card-search search-roomcard  display_flex ">
                                                                    <div class="flex">
                                                                        <div class="slider_block">
                                                                            <div class="time_map_pin"></div>
                                                                            <div class="slider_inner" id="0">
                                                                                <div class="inner-wrapper">
                                                                                    <div class="topBlock"><span class="absolute_block_price vertical-modifier"><span class="__currency">$</span><span>{{list.monthly_rent}}</span><span class="__currency">USD</span><span>per month</span></span><span class="favorite"><i class="star__icon fa fa-star active" @click="bookmarkList(list.huda,list.listing_type)"></i></span>
                                                                                        <router-link v-if="list.listing_type === 'room'" :to="{ name: 'CommonList', params: { id:  (78965428+ parseInt(list.huda))}}" target="_blank" class="display__block"><span class="new_block search">NEW</span></router-link>
                                                                                        <router-link v-if="list.listing_type === 'apartment'" :to="{ name: 'CommonList', params: { id:  (5395611294+ parseInt(list.huda))}}" target="_blank" class="display__block"><span class="new_block search">NEW</span></router-link>
                                                                                        <router-link v-if="list.listing_type === 'roommate'" :to="{ name: 'CommonList', params: { id:  (564432193+ parseInt(list.huda))}}" target="_blank" class="display__block"><span class="new_block search">NEW</span></router-link>
                                                                                        <router-link v-if="list.listing_type === 'tenant'" :to="{ name: 'CommonList', params: { id:  (53956112945+ parseInt(list.huda))}}" target="_blank" class="display__block"><span class="new_block search">NEW</span></router-link>
                                                                                        <div class="item room-card">
                                                                                            <div class="image room-card-search__">

                                                                                                <router-link v-if="list.listing_type === 'room'" :to="{ name: 'CommonList', params: { id:  (78965428+ parseInt(list.huda))}}" target="_blank">
                                                                                                    <img v-if="list.photos" :src="list.photos.split(' ')[0]" alt="carousel-photo">
                                                                                                    <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo">
                                                                                                </router-link>
                                                                                                <router-link v-if="list.listing_type === 'apartment'" :to="{ name: 'CommonList', params: { id:  (5395611294+ parseInt(list.huda))}}" target="_blank">
                                                                                                    <img v-if="list.photos" :src="list.photos.split(' ')[0]" alt="carousel-photo">
                                                                                                    <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo">
                                                                                                </router-link>
                                                                                                <router-link v-if="list.listing_type === 'roommate'" :to="{ name: 'CommonList', params: { id:  (564432193+ parseInt(list.huda))}}" target="_blank">
                                                                                                    <img v-if="list.avatar" :src="list.avatar" alt="carousel-photo">
                                                                                                    <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo">
                                                                                                </router-link>
                                                                                                <router-link v-if="list.listing_type === 'tenant'" :to="{ name: 'CommonList', params: { id:  (53956112945+ parseInt(list.huda))}}" target="_blank">
                                                                                                    <img v-if="list.avatar" :src="list.avatar" alt="carousel-photo">
                                                                                                    <img v-else src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo">
                                                                                                </router-link>
                                                                                                </div>
                                                                                        </div>
                                                                                        <router-link class="profile_block search" :to="{ name: 'User', params: { id:  (78965428+ parseInt(list.user_id))}}" target="_blank">
                                                                                            <img v-if="list.avatar" :src="list.avatar" alt="Leslie">
                                                                                            <img v-else src="https://s.roomster.com/Content/images/placeholders/no_user_thumbnail.gif" alt="Leslie">
                                                                                            <div class="hover_profile_block"><span>View Profile</span></div>
                                                                                            <div class="user-info search"><span>{{list.first_name}}</span><span class="point">.</span><span>{{Math.floor((Date.now() - givenDate(list.dob))/1000/60/60/24/365)}}</span><span class="point">.</span><i class="fa fa-venus"></i></div>
                                                                                        </router-link>
                                                                                        <div></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="description_block search">
                                                                            <div class="first-dev"><span class="headline">{{list.headline}}</span></div>
                                                                            <div class="google_formatted_address">
                                                                                <span class="green-text" v-if="list.listing_type === 'room'">Private room</span>
                                                                                <span class="green-text" v-if="list.listing_type === 'apartment'">Entire place</span>
                                                                                <span class="green-text" v-if="list.listing_type === 'roommate'">Roommate</span>
                                                                                <span class="green-text" v-if="list.listing_type === 'tenant'">Tenant</span>
                                                                                <span class="middle_block">|</span><span>{{list.location}}</span></div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <p class="profile__social-text">Social Connect</p>
                                                                        <div class="social_contact">
                                                                            <div class="profile__link-edit-cont"><a target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </content>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="footer" class="gray_background_footer">
                <div class="container">
                    <div class="top row">
                        <div class="col-sm-12">
                            <ul class="list-inline social text-center">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="links text-center">
                        <ul class="list-inline">
                            <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                            <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                            <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                            <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                        </ul>
                    </div>
                    <div class="copyright text-center">GettingRoom © 2019</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Slick from 'vue-slick'

    export default {
        components: {Slick},
        data() {
            return {
                token:'',
                listings: [],
                user:[],
                slickOptions: {
                    slidesToShow: 3,
                    dots: true,
                    infinite: false,
                    responsive: [
                        {
                            breakpoint: 768,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 1
                            }
                        }
                    ]
                },
            }
        },
        props: {
            loggedUser: { type: Object, default: null }
        },
        mounted() {
            this.getListings();
        },
        created(){
            //
        },
        ready(){
            //
        },
        methods: {
            next() {
                this.$refs.slick.next();
            },

            prev() {
                this.$refs.slick.prev();
            },

            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },

            // Events listeners
            handleAfterChange(event, slick, currentSlide) {
                console.log('handleAfterChange', event, slick, currentSlide);
            },
            handleBeforeChange(event, slick, currentSlide, nextSlide) {
                console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
            },
            handleBreakpoint(event, slick, breakpoint) {
                console.log('handleBreakpoint', event, slick, breakpoint);
            },
            handleDestroy(event, slick) {
                console.log('handleDestroy', event, slick);
            },
            handleEdge(event, slick, direction) {
                console.log('handleEdge', event, slick, direction);
            },
            handleInit(event, slick) {
                console.log('handleInit', event, slick);
            },
            handleReInit(event, slick) {
                console.log('handleReInit', event, slick);
            },
            handleSetPosition(event, slick) {
                console.log('handleSetPosition', event, slick);
            },
            handleSwipe(event, slick, direction) {
                console.log('handleSwipe', event, slick, direction);
            },
            handleLazyLoaded(event, slick, image, imageSource) {
                console.log('handleLazyLoaded', event, slick, image, imageSource);
            },
            handleLazeLoadError(event, slick, image, imageSource) {
                console.log('handleLazeLoadError', event, slick, image, imageSource);
            },
            getListings() {
                window.axios.get('/mybookmarks')
                    .then(response => {
                        this.listings = response.data;
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    })
            },
            fuzzyDate(postDate) {
                postDate = new Date(postDate + ' UTC');
                let delta = Math.round((new Date - postDate) / 1000);

                const
                    minute = 60,
                    hour = minute * 60,
                    day = hour * 24,
                    week = day * 7;

                let fuzzy;

                if (delta < 30) {
                    fuzzy = 'just then.';
                } else if (delta < minute) {
                    fuzzy = delta + ' seconds ago.';
                } else if (delta < 2 * minute) {
                    fuzzy = 'a minute ago.';
                } else if (delta < hour) {
                    fuzzy = Math.floor(delta / minute) + ' minutes ago.';
                } else if (Math.floor(delta / hour) === 1) {
                    fuzzy = '1 hour ago.';
                } else if (delta < day) {
                    fuzzy = Math.floor(delta / hour) + ' hours ago.';
                } else if (delta < day * 2) {
                    fuzzy = 'yesterday';
                } else if (delta < week) {
                    fuzzy = Math.floor(delta / day) + ' days ago.';
                }

                return fuzzy;
            },
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            },
            bookmarkList(value,type){
                this.tokens = window.localStorage.getItem('token');
                if(this.tokens){
                    axios.get('/add/bookmark/'+value+'/'+type)
                        .then(resp => {
                        })
                        .catch(function (resp) {
                        });

                }else {
                    this.$router.push('/login');
                }

            }
        },
        watch: {
            listings(){
                window.axios.get('/mybookmarks')
                    .then(response => {
                        this.listings = response.data;
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    })
            }
        }
    };
</script>
