<template>
    <div>
        <div v-if="viewType == 'aroom'">
            <aroomsingleview v-bind:id="id" v-bind:loggedUser="loggedUser"></aroomsingleview>
        </div>
        <div v-if="viewType == 'tenant'">
            <atenantsingleview v-bind:id="id" v-bind:loggedUser="loggedUser"></atenantsingleview>
        </div>
        <div v-if="viewType == 'entireplace'">
            <anEntirePlaceSingleView v-bind:id="id" v-bind:loggedUser="loggedUser"></anEntirePlaceSingleView>
        </div>
        <div v-if="viewType == 'aroommate'">
            <SingleListViewComponent v-bind:id="id" v-bind:loggedUser="loggedUser"></SingleListViewComponent>
        </div>
    </div>
</template>

<script>
    import aroomsingleview from "./aroomsingleview";
    import atenantsingleview from "./atenantsingleview";
    import anEntirePlaceSingleView from "./anEntirePlaceSingleView";
    import SingleListViewComponent from "./SingleListViewComponent";
    export default {
        components: {aroomsingleview,atenantsingleview,anEntirePlaceSingleView,SingleListViewComponent},

        mixins: [],

        data () {
            return {
                viewType:'aroom'
            }
        },

        props: {
            id:Number,
            loggedUser: { type: Object, default: null }
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
           var contu =  this.id.toString().length;
           console.log(contu);
           if(contu == 8){
               this.viewType = 'aroom';
           }else if(contu == 9){
               this.viewType = 'aroommate';
           }else if(contu == 10){
               this.viewType = 'entireplace';
           }else if(contu == 11){
               this.viewType = 'tenant';
           }
        },

        methods: {
            //
        }
    };
</script>
