<template>
    <div>

        <div class="wrapper">
            <div class="custom-container-profile mobile ios-overflow">
                <form>
                    <div class="content">
                        <div class="left_content edit">
                            <div class="left_top_content shadow-block edit">
                                <picture-input
                                        ref="pictureInput"
                                        width="600"
                                        height="600"
                                        margin="16"
                                        accept="image/jpeg,image/png"
                                        size="10"
                                        button-class="btn"
                                        :custom-strings="{
        upload: '<h1>Bummer!</h1>',
        drag: 'Drag a Photo to upload'
      }"
                                        v-on:change="onChange">
                                </picture-input>
                            </div>
                            <div class="left_bottom_content shadow-block edit">
                                <div class="tablet-flex profile__tablet-name">
                                    <div class="profile__mobile-edit-flex">
                                        <div class="name_block">{{loggedUser.first_name}}</div>
                                        <div class="info_block"><span>{{loggedUser.age}}</span><span style="display: none;">,&nbsp;</span></div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="title__"><span>Birthday</span></div>
                                    <div class="login-form__date-select">
                                        <div class="login-form__select" @click.prevent="toggleShowDay">
                                            <div class="login-form__selected login-form__selected--default">{{ registerData.day ? registerData.day : 'Day' }}</div>
                                            <i class="fa fa-angle-down"></i>
                                            <div class="login-form__list">
                                                <div v-if="showDay">
                                                    <div class="login-form___gender-select">
                                                        <span v-for="n in 31" :key="n" @click.prevent="setDay(n)">{{ n }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="login-form__select" @click.prevent="toggleShowMonth">
                                            <div class="login-form__selected login-form__selected--default">{{ registerData.month ? registerData.month : 'Month' }}</div>
                                            <i class="fa fa-angle-down"></i>
                                            <div class="login-form__list">
                                                <div v-if="showMonth">
                                                    <div class="login-form___gender-select">
                                                        <span v-for="n in 12" :key="n" @click.prevent="setMonth(n)">{{ n }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="login-form__select" @click.prevent="toggleShowYear">
                                            <div class="login-form__selected login-form__selected--default">{{ registerData.year ? registerData.year : 'Year' }}</div>
                                            <i class="fa fa-angle-down"></i>
                                            <div class="login-form__list">
                                                <div v-if="showYear">
                                                    <div class="login-form___gender-select">
                                                        <span v-for="n in 80" :key="n" @click.prevent="setYear(n)">{{ 2003 - n }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-form__select" @click.prevent="toggleShowGender">
                                    <div class="login-form__selected login-form__selected--default">{{ registerData.gender ? registerData.gender : 'Gender' }}</div>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="login-form__list">
                                        <div v-if="showGender">
                                            <div class="login-form___gender-select">
                                                <span @click.prevent="setGender('Male')">Male</span>
                                                <span @click.prevent="setGender('Female')">Female</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left_bottom_content edit bottom shadow-block">
                                <div class="profile__social-title">
                                    <p>Social Connect. <i class="fa fa-question-circle"></i></p>
                                    <p>Displayed on your profile. Enable up to 5. </p>
                                </div>
                                <div class="profile__social-flex-cont">
                                    <div class="profile__link-edit-cont profile__link-edit-cont--visible"><span class="profile__link--SMS profile__link"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/2285d7df1c23585c4e635aa3e69f5cd8.svg" alt=""></span><span class="profile__shown-link profile__shown-link--visible"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="right_content edit">
                            <div class="profile__container shadow-block">
                                <div class="block_profile languages_profile edit">
                                    <div class="title"><i class="fa fa-globe"></i><span>Languages</span></div>
                                    <content>

                                        <input-tag v-model="registerData.tags"></input-tag>
                                    </content>
                                </div>
                                <div class="block_profile hometown_profile edit">
                                    <div class="title"><i class="fa fa-home"></i><span>Hometown</span></div>
                                    <content>
                                        <input autocomplete="off" v-model="registerData.hometown" type="text" class="form-control" name="home_town"   value="">
                                    </content>
                                </div>
                                <div class="block_profile about_profile edit">
                                    <content>
                                        <textarea name="about" v-model="registerData.details" placeholder="What kind of person are you? Tell us what it’s like to have you as a guest or a host. HTML, emails and phone numbers will be removed." class="form-control"  ></textarea>
                                    </content>
                                </div>
                            </div>
                            <div class="display__flex __nomargin edit-button-save-cont">
                                <button class="edit-profile-btn block hidden-xs" id="edit-profile" @click.prevent="setData">Save Changes</button><router-link to="/myprofile" class="cancel-profile-btn block hidden-xs  active">Cancel</router-link></div>

                            <div id="mobile_option_buttons"><a class="edit-profile-btn block save" id="edit-profilee" @click.prevent="setData">Save</a><router-link to="/myprofile" class="cancel-profile-btn block  active">Cancel</router-link></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="footer" class="gray_background_footer">
            <div class="container">
                <div class="top row">
                    <div class="col-sm-12">
                        <ul class="list-inline social text-center">
                            <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="links text-center">
                    <ul class="list-inline">
                        <li><a href="" target="_blank">FAQ</a></li>
                        <li><a class="" href="/terms">Terms</a></li>
                        <li><a class="" href="/privacy">Privacy</a></li>
                        <li><a class="" href="/press">Press</a></li>
                        <li><a href="https://gettingroom.com/affiliate" target="_blank">Affiliate Program</a></li>
                        <li><a href="" target="_blank">Fair Housing</a></li>
                        <li><a href="" target="_blank">Blog</a></li>
                    </ul>
                </div>
                <div class="copyright text-center">gettingroom © 2019</div>
            </div>
        </div>
    </div>


</template>

<script>
    import PictureInput from 'vue-picture-input'
    export default {
        components: {PictureInput},

        mixins: [],

        data () {
            return {
                msg: "Vue Image Upload and Resize Demo",
                hasImage: false,
                image: null,
                showDay: false,
                showMonth: false,
                showYear: false,
                azim:'',
                showGender: false,
                registerData:{
                    day:'',
                    month:'',
                    year:'',
                    gender:'',
                    photo:'',
                    hometown:'',
                    details:'',
                    tags:[]
                },
            }
        },

        props: {
            loggedUser: { type: Object, default: null }
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            dataShow(){
               //
            },
            onChange (image) {
                if (image) {
                    this.registerData.photo = image;
                } else {
                    console.log('FileReader API not supported: use the <form>, Luke!')
                }
            },
            setImage: function(output) {
                this.hasImage = true;
                this.image = output;
                console.log(this.registerData.photo);
            },
            toggleShowDay() {
                this.showMonth = this.showYear = this.showGender = false;
                this.showDay = !this.showDay;
            },
            toggleShowMonth() {
                this.showDay = this.showYear = this.showGender = false;
                this.showMonth = !this.showMonth;
            },
            toggleShowYear() {
                this.showDay = this.showMonth = this.showGender = false;
                this.showYear = !this.showYear;
            },
            toggleShowGender() {
                this.showDay = this.showMonth = this.showYear = false;
                this.showGender = !this.showGender;
            },
            setDay(num) {
                this.registerData.day = num;
            },
            setMonth(num) {
                this.registerData.month = num;
            },
            setYear(num) {
                this.registerData.year = 2003 - num;
            },
            setGender(type) {
                this.registerData.gender = type;
            },
            setData(){
                axios.post('/save/user',this.registerData).then(response => {
                    this.$router.push('/myprofile');
                }).catch(error=>{
                    console.log(error.response.data);
                })
            }
        }
    };
</script>
<style>
    #fileInput {
        display: none;
    }
    .login-form__select{width: 100%;margin-top: 20px}
    .login-form__select{margin-right: 15px}
</style>
