<template>
    <div>
        <topy></topy>
        <div class="banner">
            <div class="absolute-login">
                <div class="header__brand"><span class="logo__main" style="background: none"></span></div>
                <div class="header-mobile-menu">
                    <div class="mobile-selects"><i class="fa fa-globe"></i>
                        <div class="mobile-lang-wrapper ___selectpicker"><select class="selectpicker-native input-react">
                            <option value="USD">USD</option>
                            <option value="AED">AED</option>
                            <option value="ARS">ARS</option>
                            <option value="AUD">AUD</option>
                            <option value="BRL">BRL</option>
                            <option value="CAD">CAD</option>
                            <option value="CHF">CHF</option>
                            <option value="CNY">CNY</option>
                            <option value="CZK">CZK</option>
                            <option value="DKK">DKK</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="HKD">HKD</option>
                            <option value="HUF">HUF</option>
                            <option value="IDR">IDR</option>
                            <option value="ILS">ILS</option>
                            <option value="INR">INR</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="MXN">MXN</option>
                            <option value="MYR">MYR</option>
                            <option value="NOK">NOK</option>
                            <option value="NZD">NZD</option>
                            <option value="PHP">PHP</option>
                            <option value="PLN">PLN</option>
                            <option value="RUB">RUB</option>
                            <option value="SEK">SEK</option>
                            <option value="SGD">SGD</option>
                            <option value="THB">THB</option>
                            <option value="TRY">TRY</option>
                            <option value="TWD">TWD</option>
                            <option value="UAH">UAH</option>
                            <option value="VND">VND</option>
                            <option value="ZAR">ZAR</option>
                        </select></div><span>/</span>
                        <div dir="ltr">
                            <div class="mobile-lang-wrapper ___selectpicker" dir="ltr"><select
                                    class="selectpicker-native input-react ">
                                <option value="en-GB">English (UK)</option>
                                <option value="ar-SA">‏العربية</option>
                                <option value="zh-CN">中文(简体)</option>
                                <option value="zh-TW">中文(台灣)</option>
                                <option value="cs-CZ">Čeština</option>
                                <option value="en-US">English (US)</option>
                                <option value="fr-FR">Français</option>
                                <option value="de-DE">Deutsch</option>
                                <option value="el-GR">Ελληνικά</option>
                                <option value="he-IL">‏עברית</option>
                                <option value="it-IT">Italiano</option>
                                <option value="ja-JP">日本語</option>
                                <option value="ko-KR">한국어</option>
                                <option value="pl-PL">Polski</option>
                                <option value="pt-PT">Português</option>
                                <option value="pt-BR">Português (Brasil)</option>
                                <option value="ru-RU">Русский</option>
                                <option value="es-MX">Español</option>
                                <option value="es-ES">Español (España)</option>
                                <option value="sv-SE">Svenska</option>
                                <option value="tr-TR">Türkçe</option>
                            </select></div>
                        </div>
                    </div>
                    <router-link class="display_block header-mobile-menu__button" to="/login">Login</router-link>
                    <router-link class="display_block item_list" to="/support">
                        <div class="item_icon relative"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/bc6de916935d3b25eaa27c0ee571990a.png" alt="">
                        </div>
                    </router-link>
                </div>
            </div>
            <div class="banner__roomshare-slider-content">
                <section class="roomshare-slider-content">
                    <h1 class="roomshare-slider-content__main-title">
                        {{ whois[0] }}
                    </h1>
                    <div class="roomshare-slider-content__looking-for">
                        <div class="roomshare-slider-content__looking-for-desktop-list">
                            <router-link to="/listing" class="roomshare-chip isChosen" data-id="button-HaveShare">
                                {{$t('room')}}</router-link>
                            <router-link to="/listingentireplace" class="roomshare-chip" data-id="button-HaveApartment">
                                {{$t('entire')}}</router-link>
                            <router-link to="/aroommate" class="roomshare-chip" data-id="button-NeedRoom">
                                {{$t('roommate')}}
                            </router-link>
                            <router-link to="/atenant" class="roomshare-chip" data-id="button-NeedApartment">
                                {{$t('tenant')}}
                            </router-link></div>
                        <div class="roomshare-slider-content__looking-for-mobile-list">
                            <div class="mobile-lang-wrapper ___selectpicker mainPage">
                                <select class="selectpicker-native input-react">
                                    <option value="HaveShare">{{$t('room')}}</option>
                                    <option value="HaveApartment">{{$t('entire')}}</option>
                                    <option value="NeedRoom">{{$t('roommate')}}</option>
                                    <option value="NeedApartment">{{$t('tenant')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="roomshare-slider-content__searching-field">
                        <div class="searching-field main"><span class="icon-location"></span>
                            <div class="input-autocomplete">
                                <div class="display__flex">
                                    <input id="modal-filters-Main" @click="putted"
                                           placeholder="Enter an address, neighborhood, city or ZIP code"
                                           class="typeahead form-control form-ready-for-bubble" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-selects under-search-mobile"><i class="fa fa-globe"> </i>
                        <div class="mobile-lang-wrapper ___selectpicker"><select class="selectpicker-native input-react">
                            <option value="USD">USD</option>
                            <option value="AED">AED</option>
                            <option value="ARS">ARS</option>
                            <option value="AUD">AUD</option>
                            <option value="BRL">BRL</option>
                            <option value="CAD">CAD</option>
                            <option value="CHF">CHF</option>
                            <option value="CNY">CNY</option>
                            <option value="CZK">CZK</option>
                            <option value="DKK">DKK</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                            <option value="HKD">HKD</option>
                            <option value="HUF">HUF</option>
                            <option value="IDR">IDR</option>
                            <option value="ILS">ILS</option>
                            <option value="INR">INR</option>
                            <option value="JPY">JPY</option>
                            <option value="KRW">KRW</option>
                            <option value="MXN">MXN</option>
                            <option value="MYR">MYR</option>
                            <option value="NOK">NOK</option>
                            <option value="NZD">NZD</option>
                            <option value="PHP">PHP</option>
                            <option value="PLN">PLN</option>
                            <option value="RUB">RUB</option>
                            <option value="SEK">SEK</option>
                            <option value="SGD">SGD</option>
                            <option value="THB">THB</option>
                            <option value="TRY">TRY</option>
                            <option value="TWD">TWD</option>
                            <option value="UAH">UAH</option>
                            <option value="VND">VND</option>
                            <option value="ZAR">ZAR</option>
                        </select></div><span>/</span>
                        <div dir="ltr">
                            <div class="mobile-lang-wrapper ___selectpicker" dir="ltr"><select
                                    class="selectpicker-native input-react language__customer">
                                <option value="en-US">English (US)</option>
                                <option value="en-GB">English (UK)</option>
                                <option value="ar-SA">‏العربية</option>
                                <option value="zh-CN">中文(简体)</option>
                                <option value="zh-TW">中文(台灣)</option>
                                <option value="cs-CZ">Čeština</option>
                                <option value="fr-FR">Français</option>
                                <option value="de-DE">Deutsch</option>
                                <option value="el-GR">Ελληνικά</option>
                                <option value="he-IL">‏עברית</option>
                                <option value="it-IT">Italiano</option>
                                <option value="ja-JP">日本語</option>
                                <option value="ko-KR">한국어</option>
                                <option value="pl-PL">Polski</option>
                                <option value="pt-PT">Português</option>
                                <option value="pt-BR">Português (Brasil)</option>
                                <option value="ru-RU">Русский</option>
                                <option value="es-MX">Español</option>
                                <option value="es-ES">Español (España)</option>
                                <option value="sv-SE">Svenska</option>
                                <option value="tr-TR">Türkçe</option>
                            </select></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="banner__roomshare-slider">
                <div class="roomshare-slider " dir="ltr">
                    <div class="slick-initialized slick-slider slick-initialized slick-slider slider_main">
                        <div class="slick-list">
                            <!-----------slider starts here---------------->
                            <carousel :data="data"></carousel>
                            <!--slider end here-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="fa fa-angle-down white-angle-down"></div>
        </div>
        <section class="gallery">
            <header class="gallery__header">
                <h3 class="gallery__header-title">{{$t('search listings')}}</h3>
            </header>
            <article class="gallery__cities-box">
                <div class="cities-box">
                    <div class="city-box">
                        <router-link to="/listing/atlanta">
                            <div class="city-box__inner newYork"><img
                                    src="../../../../public/image/Atlanta/Atlanta.jpg"
                                    class="background"><span class="__text">{{$t('newyork')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i
                                        class="fa fa-search"></i>{{$t('yorklist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/boston">
                            <div class="city-box__inner paris"><img
                                    src="../../../../public/image/Boston/Boston.jpg"
                                    class="background"><span class="__text">{{$t('paris')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('parlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/chicago">
                            <div class="city-box__inner Istanbul"><img
                                    src="../../../../public/image/Chicago/Chicago.jpg"
                                    class="background"><span class="__text">{{$t('istanbul')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('istlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/dallas">
                            <div class="city-box__inner saoPaulo"><img
                                    src="../../../../public/image/Dallas/Dallas.jpeg"
                                    class="background"><span class="__text">{{$t('sao')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('saolist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/denvar">
                            <div class="city-box__inner london"><img
                                    src="../../../../public/image/Denver/Denver.jpg"
                                    class="background"><span class="__text">{{$t('london')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('lonlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/houston">
                            <div class="city-box__inner rome"><img
                                    src="../../../../public/image/Houston/Houston.jpg"
                                    class="background"><span class="__text">{{$t('rome')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('romlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/lasvegas">
                            <div class="city-box__inner miami"><img
                                    src="../../../../public/image/LasVegas/LasVegas.jpg"
                                    class="background"><span class="__text">{{$t('miami')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('mialist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/losangeles">
                            <div class="city-box__inner tokyo"><img
                                    src="../../../../public/image/LosAngeles/LosAngeles.png"
                                    class="background"><span class="__text">{{$t('tokyo')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('toklist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/miami">
                            <div class="city-box__inner amsterdam"><img
                                    src="../../../../public/image/Miami/Miami.jpg"
                                    class="background"><span class="__text">{{$t('ams')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('amslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/new-york-city">
                            <div class="city-box__inner losAngeles"><img
                                    src="../../../../public/image/NewYorkCity/NewYorkCity.jpg"
                                    class="background"><span class="__text">{{$t('los')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('loslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/haveshare/philadelphia">
                            <div class="city-box__inner moscow"><img
                                    src="../../../../public/image/Philadelphia/Philadelphia.jpg"
                                    class="background"><span class="__text">{{$t('mos')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('moslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/haveshare/phoenix">
                            <div class="city-box__inner singapore"><img
                                    src="../../../../public/image/Phoenix/Phoenix.jpg"
                                    class="background"><span class="__text">{{$t('sin')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('sinlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/haveshare/san-francisco">
                            <div class="city-box__inner sanFrancisco"><img
                                    src="../../../../public/image/SanFrancisco/SanFrancisco.jpg"
                                    class="background"><span class="__text">{{$t('san')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text little_padding"><span><i
                                        class="fa fa-search"></i>{{$t('sanlist')}}</span></div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/haveshare/seattle">
                            <div class="city-box__inner melbourne"><img
                                    src="../../../../public/image/Seattle/Seattle.jpg"
                                    class="background"><span class="__text">{{$t('mel')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('mellist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/haveshare/whashington-dc">
                            <div class="city-box__inner berlin"><img
                                    src="../../../../public/image/WashingtonDC/WashingtonDC.jpg"
                                    class="background"><span class="__text">{{$t('ber')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('berlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </article>
        </section>
        <div class="offers">
            <div class="offers__wrapper">
                <div class="offers__add-listing-button">
                    <router-link to="/newlisting" class="add-listing-button"><span class="plus">+</span><span>{{$t('addlist')}}</span></router-link>
                </div>
                <div class="offers__content">
                    <p>{{$t('tellus')}}</p>
                    <p>{{$t('createlist')}}</p>
                </div>
                <div class="offers__room-cards"></div>
            </div>
        </div>
        <div class="briefly">
            <div class="briefly__roomshare-brief-desc">
                <ul class="roomshare-brief-desc">
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/9fe3317938f476e506b3de21c18240e3.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('discover')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('conect')}} <span class="accent">{{$t('mail')}}</span> {{$t('and')}} <span
                                    class="accent">{{$t('sconnect')}}</span></p>
                        </footer>
                    </li>
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/77b4755d4f9b7c2bbddda4f2176546ba.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('findhome')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('searchlisting')}}</p>
                        </footer>
                    </li>
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/f6fc0f0d24dc8eb15f3ae46f8b783a7b.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('pets')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('searchfilter')}}</p>
                        </footer>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inthepress"><img class="inthepress__background"
                                     src="https://d1frv26ioc12ph.cloudfront.net/dist/45a5fd424ef0d30b4bf016cb45bbd09c.jpg" alt="">
            <div class="overlay_blocks_"></div>
            <div class="inthepress__box-content">
                <h4 class="inthepress__title">{{$t('inpress')}}</h4>
                <div class="inthepress__client-bg"></div>
                <div class="inthepress__read-more"><a href="/press" class="roomshare-button">{{$t('more')}}</a>
                </div>
            </div>
            <div class="inthepress__box-content-desktop">
                <h2 class="inthepress__box-content-desktop-title">{{$t('inpress')}}</h2>
                <div class="inthepress__box-content-desktop-btn"><a href="/#"
                                                                    class="roomshare-button">{{$t('more')}}</a></div>
            </div>
        </div>
        <div>
            <footer class="footer">
                <header class="footer__head">
                    <div class="footer__head-brand">
                        <div class="brand"></div>
                    </div>
                    <div class="footer__head-stores">
                        <a href="https://itunes.apple.com/us/app/roomshare-roommate-finder-find/id1045548013"
                           rel="nofollow" class="roomshare-appstore-button" target="_blank"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg"
                                alt="App Store"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.roomshare" rel="nofollow"
                           class="roomshare-market-button" target="_blank"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg"
                                alt="Google Play"></a>
                        <a href="https://www.amazon.com/roomshare-Roommates-Roommate-Finder-shares/dp/B06XW2MN6J/"
                           rel="nofollow" class="footer-amazon-block" target="_blank"><img
                                class="__big_img _footer"
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/508e40a53631852575ffc716c5ea29f3.svg"
                                alt="google-play"></a>
                    </div>
                </header>
                <div class="footer__foot-menu">
                    <section class="foot-menu">
                        <ul class="foot-menu__item foot-menu-main">
                            <li class="foot-menu__item-city"><a href="/press">{{$t('press')}}</a></li>
                            <li class="foot-menu__item-city"><a href="#">{{$t('team')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/support">{{$t('contact')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/sitemaps">{{$t('sitemap')}}</a></li>
                            <li class="foot-menu__item-social-media">
                                <ul class="social-medias">
                                    <li class="social-medias__item">
                                        <a href="https://www.facebook.com/roomshareCorp/" target="_blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/43f97560b1c0a89fcb6c01c5095ed207.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="https://twitter.com/roomshare" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/618c271335c4997ee2fa670591718f66.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="https://plus.google.com/110760636620508942692" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/7f07f90c381721294fd5c1ff2709bfa3.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="https://www.instagram.com/roomshare/" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/b2269b31f84348b70c1095880c870332.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                                <ul class="social-medias">
                                    <li class="social-medias__item">
                                        <a href="https://vimeo.com/30505627" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/5e23637c42d51b0ec5b6b8d6a01af064.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="https://www.youtube.com/channel/UCgUFjSK1FK8kuMxhfj98G3A"
                                           target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/fdc31dbecce6dd75cf290ccc1813b4b8.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="https://ru.pinterest.com/roomshare/?eq=roomshare&amp;etslf=NaN"
                                           target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/accc2d009d31d9dd5fa6d8399d4a436c.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="http://roomshare.tumblr.com/" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/f4dac3967e14949ee768d9f758cae3cc.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="foot-menu__item foot-menu-addition">
                            <li class="foot-menu__item-city"><a href="/conversations">{{$t('mailbox')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/megaphone">{{$t('megaphone')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/bookmarks">{{$t('bookmarks')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/support">{{$t('support')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/settings">{{$t('settings')}}</a></li>
                        </ul>
                        <ul class="foot-menu__item foot-menu-more">
                            <li class="foot-menu__item-city"><a href="/tutorial">{{$t('tutorial')}}</a></li>
                            <li class="foot-menu__item-city"><a href="/support">{{$t('helpcenter')}}</a></li>
                            <li class="foot-menu__item-city"><a
                                    href="http://support.roomshare.com/hc/en-us"><abbr>{{$t('faq')}}</abbr></a></li>
                            <li class="foot-menu__item-city"><a
                                    href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights"
                                    rel="nofollow">{{$t('fairhousing')}}</a></li>
                            <li class="foot-menu__item-city"><a
                                    href="https://roomshare.com/affiliate">{{$t('affiliate')}}</a></li>
                        </ul>
                    </section>
                </div>
                <div class="footer__top-cities">
                    <div class="top-cities">
                        <div class="top-cities__title">Top Cities</div>
                        <div class="top-cities__cities-list">
                            <ul class="top-cities__cities-column">
                                <li class="top-cities__city"><router-link to="haveshare/new-york">New York</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/los-angeles">Los Angeles</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/chicago">Chicago</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/houston">Houston</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/phoenix">Phoenix</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/philadelphia">Philadelphia</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/san-antonio">San Antonio</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/san-diego">San Diego</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/dallas">Dallas</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/austin">Austin</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/jacksonville">Jacksonville</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/columbus">Columbus</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/san-francisco">San Francisco</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/charlotte">Charlotte</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/indianapolis">Indianapolis</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/seattle">Seattle</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/denver">Denver</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/washington-dc">Washington DC</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/boston">Boston</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/el-paso">El Paso</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/detroit">Detroit</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/nashville">Nashville</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/portland">Portland</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/memphis">Memphis</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/oklahoma-city">Oklahoma City</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/las-vegas">Las Vegas</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/louisville">Louisville</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/baltimore">Baltimore</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/milwaukee">Milwaukee</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/albuquerque">Albuquerque</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/tucson">Tucson</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/fresno">Fresno</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/sacramento">Sacramento</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/atlanta">Atlanta</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/kansas-city">Kansas City</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/colorado-springs">Colorado Springs</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/miami">Miami</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/raleigh">Raleigh</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/omaha">Omaha</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/minneapolis">Minneapolis</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/Tulsa">Tulsa</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/tampa">Tampa</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/new-orleans">New Orleans</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/jersey-shore">Jersey Shore</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/birmingham">Birmingham</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/delaware">Delaware</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/orlando">Orlando</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/ann-arbor">Ann Arbor</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/new-hampshire">New Hampshire</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/north-jersey">North Jersey</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/asheville">Asheville</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/athens">Athens</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/cincinnati">Cincinnati</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/rhode-island">Rhode Island</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/columbia">Columbia</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/charleston">Charleston</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/hampton">Hampton</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/madison">Madison</router-link></li>
                                <li class="top-cities__city"><router-link to="haveshare/mobile">Mobile</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer__footer-app-markets">
                    <div class="footer-app-markets">


                        <div class="footer-app-markets__links-wrapper">
                            <a href="https://itunes.apple.com/us/app/roomshare-roommate-finder-find/id1045548013"
                               rel="nofollow" class="roomshare-appstore-button" target="_blank"><img
                                    class="size_apple_image footer_img"
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg"
                                    alt="App Store"></a>
                            <a href="https://play.google.com/store/apps/details?id=com.roomshare" rel="nofollow"
                               target="_blank" class="roomshare-market-button"><img
                                    class="size_google_image footer_img"
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg"
                                    alt="Google Play"></a>
                            <a href="https://www.amazon.com/roomshare-Roommates-Roommate-Finder-shares/dp/B06XW2MN6J/"
                               rel="nofollow" target="_blank"><img class="__big_img footer_big"
                                                                   src="https://d1frv26ioc12ph.cloudfront.net/dist/508e40a53631852575ffc716c5ea29f3.svg"
                                                                   alt="google-play"></a>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">
                    <p>Gettingroom Ⓒ 2019</p>
                    <p><a href="/terms">{{$t('terms')}}</a></p>
                    <p><a href="/privacy">{{$t('policy')}}</a></p>



                </div>
                <footer class="footer__social-medias">
                    <ul class="social-medias">
                        <li class="social-medias__item">
                            <a href="https://www.facebook.com/roomshareCorp/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/43f97560b1c0a89fcb6c01c5095ed207.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://twitter.com/roomshare"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/618c271335c4997ee2fa670591718f66.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://plus.google.com/110760636620508942692"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/7f07f90c381721294fd5c1ff2709bfa3.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://www.instagram.com/roomshare/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/b2269b31f84348b70c1095880c870332.png"
                                    alt=""></a>
                        </li>
                    </ul>
                    <ul class="social-medias">
                        <li class="social-medias__item">
                            <a href="https://vimeo.com/30505627"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/5e23637c42d51b0ec5b6b8d6a01af064.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://www.youtube.com/channel/UCgUFjSK1FK8kuMxhfj98G3A"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/fdc31dbecce6dd75cf290ccc1813b4b8.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://ru.pinterest.com/roomshare/?eq=roomshare&amp;etslf=NaN"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/accc2d009d31d9dd5fa6d8399d4a436c.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="http://roomshare.tumblr.com/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/f4dac3967e14949ee768d9f758cae3cc.png"
                                    alt=""></a>
                        </li>
                    </ul>
                </footer>
            </footer>
        </div>
    </div>
</template>
<script>
    import TopPanel from './inc/HeaderComponent'
    export default {
        components: {
            topy: TopPanel,
        },
        data() {
            return {
                token: '',
                data: [
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd3.jpg" alt="First slide"></div>',
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd2.jpg" alt="First slide"></div>',
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd1.jpg" alt="First slide"></div>',
                ],
                whois: ['Live together with people who will \n inspire you.\n','Find great places & people to \n share a home with.\n','Choose to live with  like-minded \n people.', 'Wherever you are 192 countries \n & 18 languages.'],

            };
        },
        mounted() {
            window.axios.get('/set/user').then(res=>{
                let token = res.data.token;
                if(token){
                    localStorage.setItem('token',token);
                    this.$emit('tokenset', token);
                }
                window.location.href = "/newlisting";
            }).catch(err=>{
                console.log(err)
            });
            this.$nextTick(() => {
                $('.carousel').carousel();
            });
            // this.token = window.localStorage.getItem('token');
            // if (this.token){
            //     this.$router.push('/listing/anywhere');
            // }
            var  SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-Main'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                var formatter = place.formatted_address;
                var lower = formatter.replace(", ","_");
                var modified = lower.replace(" ","_");
                this.$router.push('/listing/'+modified);
            });
            window.setInterval(()=>{
                this.pollPerson();
            }, 5000);
        },
        methods: {
            putted(){
                //
            },
            pollPerson(){
                const first = this.whois.shift();
                this.whois = this.whois.concat(first);
            }
        }
    }
</script>
<style>
    a:hover{text-decoration: none}
    #modal-filters-Main{margin-top: 20px}
    .example-slide {
        align-items: center;
        background-color: #666;
        color: #999;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        min-height: 10rem;
    }
</style>