<template>
    <div>
        <topy></topy>
        <div class="banner">
            <div class="absolute-login">
                <div class="header__brand"><span class="logo__main" style="background: none"></span></div>
                <div class="header-mobile-menu">
                    <div class="mobile-selects"><i class="fa fa-globe"></i>
                        <div class="mobile-lang-wrapper ___selectpicker"><select class="selectpicker-native input-react">
                            <option value="USD">USD</option>

                        </select></div><span>/</span>
                        <div dir="ltr">
                            <div class="mobile-lang-wrapper ___selectpicker" dir="ltr"><select
                                    class="selectpicker-native input-react ">
                                <option value="en-GB">English (USA)</option>
                            </select></div>
                        </div>
                    </div>
                    <router-link class="display_block header-mobile-menu__button" to="/login">Login</router-link>
                    <router-link class="display_block item_list" to="/support">
                        <div class="item_icon relative"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/bc6de916935d3b25eaa27c0ee571990a.png" alt="">
                        </div>
                    </router-link>
                </div>
            </div>
            <div class="banner__roomshare-slider-content">
                <section class="roomshare-slider-content">
                    <h1 class="roomshare-slider-content__main-title">
                        {{ whois[0] }}
                    </h1>
                    <div class="roomshare-slider-content__looking-for">
                        <div class="roomshare-slider-content__looking-for-desktop-list">
                            <router-link to="/listing" class="roomshare-chip isChosen" data-id="button-HaveShare">
                                {{$t('room')}}</router-link>
                            <router-link to="/listingentireplace" class="roomshare-chip" data-id="button-HaveApartment">
                                {{$t('entire')}}</router-link>
                            <router-link to="/aroommate" class="roomshare-chip" data-id="button-NeedRoom">
                                {{$t('roommate')}}
                            </router-link>
                            <router-link to="/atenant" class="roomshare-chip" data-id="button-NeedApartment">
                                {{$t('tenant')}}
                            </router-link></div>
                        <div class="roomshare-slider-content__looking-for-mobile-list">
                            <div class="mobile-lang-wrapper ___selectpicker mainPage">
                                <select class="selectpicker-native input-react" v-model="shoua" @change="shona">
                                    <option value="room">{{$t('room')}}</option>
                                    <option value="entire place">{{$t('entire')}}</option>
                                    <option value="roommate">{{$t('roommate')}}</option>
                                    <option value="tenant">{{$t('tenant')}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="roomshare-slider-content__searching-field">
                        <div class="searching-field main"><span class="icon-location"></span>
                            <div class="input-autocomplete">
                                <div class="display__flex">
                                    <input id="modal-filters-Main" @click="putted"
                                        placeholder="Enter an address, neighborhood, city or ZIP code"
                                        class="typeahead form-control form-ready-for-bubble" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-selects under-search-mobile"><i class="fa fa-globe"> </i>
                        <div class="mobile-lang-wrapper ___selectpicker"><select class="selectpicker-native input-react">
                            <option value="USD">USD</option>
                        </select></div><span>/</span>
                        <div dir="ltr">
                            <div class="mobile-lang-wrapper ___selectpicker" dir="ltr"><select
                                    class="selectpicker-native input-react language__customer">
                                <option value="en-US">English (US)</option>
                            </select></div>
                        </div>
                    </div>
                </section>
            </div>
                <div class="banner__roomshare-slider">
                    <div class="roomshare-slider " dir="ltr">
                        <div class="slick-initialized slick-slider slick-initialized slick-slider slider_main">
                            <div class="slick-list">
                                <!-----------slider starts here---------------->
                                <carousel :data="data"></carousel>
                                <!--slider end here-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fa fa-angle-down white-angle-down"></div>
            </div>
        <section class="gallery">
            <header class="gallery__header">
                <h3 class="gallery__header-title">{{$t('search listings')}}</h3>
            </header>
            <article class="gallery__cities-box">
                <div class="cities-box">
                    <div class="city-box">
                        <router-link to="/listing/atlanta">
                            <div class="city-box__inner newYork"><img
                                    src="../../../../public/image/Atlanta/Atlanta.jpg"
                                    class="background"><span class="__text">{{$t('newyork')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i
                                            class="fa fa-search"></i>{{$t('yorklist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/boston">
                            <div class="city-box__inner paris"><img
                                    src="../../../../public/image/Boston/Boston.jpg"
                                    class="background"><span class="__text">{{$t('paris')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('parlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/chicago">
                            <div class="city-box__inner Istanbul"><img
                                    src="../../../../public/image/Chicago/Chicago.jpg"
                                    class="background"><span class="__text">{{$t('istanbul')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('istlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/dallas">
                            <div class="city-box__inner saoPaulo"><img
                                    src="../../../../public/image/Dallas/Dallas.jpeg"
                                    class="background"><span class="__text">{{$t('sao')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('saolist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/denvar">
                            <div class="city-box__inner london"><img
                                    src="../../../../public/image/Denver/Denver.jpg"
                                    class="background"><span class="__text">{{$t('london')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('lonlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/houston">
                            <div class="city-box__inner rome"><img
                                    src="../../../../public/image/Houston/Houston.jpg"
                                    class="background"><span class="__text">{{$t('rome')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('romlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/lasvegas">
                            <div class="city-box__inner miami"><img
                                    src="../../../../public/image/LasVegas/LasVegas.jpg"
                                    class="background"><span class="__text">{{$t('miami')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('mialist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/losangeles">
                            <div class="city-box__inner tokyo"><img
                                    src="../../../../public/image/LosAngeles/LosAngeles.png"
                                    class="background"><span class="__text">{{$t('tokyo')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('toklist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/miami">
                            <div class="city-box__inner amsterdam"><img
                                    src="../../../../public/image/Miami/Miami.jpg"
                                    class="background"><span class="__text">{{$t('ams')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('amslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/new-york-city">
                            <div class="city-box__inner losAngeles"><img
                                    src="../../../../public/image/NewYorkCity/NewYorkCity.jpg"
                                    class="background"><span class="__text">{{$t('los')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('loslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/philadelphia">
                            <div class="city-box__inner moscow"><img
                                    src="../../../../public/image/Philadelphia/Philadelphia.jpg"
                                    class="background"><span class="__text">{{$t('mos')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('moslist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/phoenix">
                            <div class="city-box__inner singapore"><img
                                    src="../../../../public/image/Phoenix/Phoenix.jpg"
                                    class="background"><span class="__text">{{$t('sin')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('sinlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/san-francisco">
                            <div class="city-box__inner sanFrancisco"><img
                                    src="../../../../public/image/SanFrancisco/SanFrancisco.jpg"
                                    class="background"><span class="__text">{{$t('san')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text little_padding"><span><i
                                            class="fa fa-search"></i>{{$t('sanlist')}}</span></div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/seattle">
                            <div class="city-box__inner melbourne"><img
                                    src="../../../../public/image/Seattle/Seattle.jpg"
                                    class="background"><span class="__text">{{$t('mel')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('mellist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                    <div class="city-box">
                        <router-link to="/listing/whashington-dc">
                            <div class="city-box__inner berlin"><img
                                    src="../../../../public/image/WashingtonDC/WashingtonDC.jpg"
                                    class="background"><span class="__text">{{$t('ber')}}</span>
                                <div class="__hover"></div>
                                <div class="_hover_text "><span><i class="fa fa-search"></i>{{$t('berlist')}}</span>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </article>
        </section>
        <div class="offers">
            <div class="offers__wrapper">
                <div class="offers__add-listing-button">
                    <router-link to="/newlisting" class="add-listing-button"><span class="plus">+</span><span>{{$t('addlist')}}</span></router-link>
                </div>
                <div class="offers__content">
                    <p>{{$t('tellus')}}</p>
                    <p>{{$t('createlist')}}</p>
                </div>
                <div class="offers__room-cards"></div>
            </div>
        </div>
        <div class="briefly">
            <div class="briefly__roomshare-brief-desc">
                <ul class="roomshare-brief-desc">
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/9fe3317938f476e506b3de21c18240e3.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('discover')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('conect')}} <span class="accent">{{$t('mail')}}</span> {{$t('and')}} <span
                                    class="accent">{{$t('sconnect')}}</span></p>
                        </footer>
                    </li>
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/77b4755d4f9b7c2bbddda4f2176546ba.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('findhome')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('searchlisting')}}</p>
                        </footer>
                    </li>
                    <li class="roomshare-brief-desc-item">
                        <header class="roomshare-brief-desc-item__image"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/f6fc0f0d24dc8eb15f3ae46f8b783a7b.png"
                                alt="">
                        </header>
                        <p class="roomshare-brief-desc-item__title">{{$t('pets')}}</p>
                        <footer class="roomshare-brief-desc-item__description">
                            <p>{{$t('searchfilter')}}</p>
                        </footer>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inthepress"><img class="inthepress__background"
                src="https://d1frv26ioc12ph.cloudfront.net/dist/45a5fd424ef0d30b4bf016cb45bbd09c.jpg" alt="">
            <div class="overlay_blocks_"></div>
            <div class="inthepress__box-content">
                <h4 class="inthepress__title">{{$t('inpress')}}</h4>
                <div class="inthepress__client-bg"></div>
                <div class="inthepress__read-more"><router-link to="/login" class="roomshare-button">{{$t('more')}}</router-link>
                </div>
            </div>
            <div class="inthepress__box-content-desktop">
                <h2 class="inthepress__box-content-desktop-title">{{$t('inpress')}}</h2>
                <div class="inthepress__box-content-desktop-btn"><router-link to="/login"
                        class="roomshare-button">{{$t('more')}}</router-link></div>
            </div>
        </div>
        <div>
            <footer class="footer">
                <header class="footer__head">
                    <div class="footer__head-brand">
                        <div class="brand"></div>
                    </div>
                    <div class="footer__head-stores">
                        <a href="https://itunes.apple.com/us/app/roomshare-roommate-finder-find/id1045548013"
                            rel="nofollow" class="roomshare-appstore-button" target="_blank"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg"
                                alt="App Store"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.roomshare" rel="nofollow"
                            class="roomshare-market-button" target="_blank"><img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg"
                                alt="Google Play"></a>
                        <a href="https://www.amazon.com/roomshare-Roommates-Roommate-Finder-shares/dp/B06XW2MN6J/"
                            rel="nofollow" class="footer-amazon-block" target="_blank"><img
                                class="__big_img _footer"
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/508e40a53631852575ffc716c5ea29f3.svg"
                                alt="google-play"></a>
                    </div>
                </header>
                <div class="footer__foot-menu">
                    <section class="foot-menu">
                        <ul class="foot-menu__item foot-menu-main">
                            <li class="foot-menu__item-city"><router-link to="/login">{{$t('press')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/login">{{$t('team')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/login">{{$t('contact')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/sitemaps">{{$t('sitemap')}}</router-link></li>
                            <li class="foot-menu__item-social-media">
                                <ul class="social-medias">
                                    <li class="social-medias__item">
                                        <a href="#" target="_blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/43f97560b1c0a89fcb6c01c5095ed207.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/618c271335c4997ee2fa670591718f66.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/7f07f90c381721294fd5c1ff2709bfa3.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/b2269b31f84348b70c1095880c870332.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                                <ul class="social-medias">
                                    <li class="social-medias__item">
                                        <a href="#" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/5e23637c42d51b0ec5b6b8d6a01af064.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#"
                                            target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/fdc31dbecce6dd75cf290ccc1813b4b8.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#"
                                            target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/accc2d009d31d9dd5fa6d8399d4a436c.png"
                                                alt=""></a>
                                    </li>
                                    <li class="social-medias__item">
                                        <a href="#" target="blank"><img
                                                src="https://d1frv26ioc12ph.cloudfront.net/dist/f4dac3967e14949ee768d9f758cae3cc.png"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="foot-menu__item foot-menu-addition">
                            <li class="foot-menu__item-city"><router-link to="/login">{{$t('mailbox')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/megaphone">{{$t('megaphone')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/bookmarks">{{$t('bookmarks')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/support">{{$t('support')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/settings">{{$t('settings')}}</router-link></li>
                        </ul>
                        <ul class="foot-menu__item foot-menu-more">
                            <li class="foot-menu__item-city"><router-link to="/tutorial">{{$t('tutorial')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/support">{{$t('helpcenter')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/login"><abbr>{{$t('faq')}}</abbr></router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/login"
                                    rel="nofollow">{{$t('fairhousing')}}</router-link></li>
                            <li class="foot-menu__item-city"><router-link to="/affiliate">{{$t('affiliate')}}</router-link></li>
                        </ul>
                    </section>
                </div>
                <div class="footer__top-cities">
                    <div class="top-cities">
                        <div class="top-cities__title">Top Cities</div>
                        <div class="top-cities__cities-list">
                            <ul class="top-cities__cities-column">
                                <li class="top-cities__city"><router-link to="listing/new-york">New York</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/los-angeles">Los Angeles</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/chicago">Chicago</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/houston">Houston</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/phoenix">Phoenix</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/philadelphia">Philadelphia</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/san-antonio">San Antonio</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/san-diego">San Diego</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/dallas">Dallas</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/austin">Austin</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/jacksonville">Jacksonville</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/columbus">Columbus</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/san-francisco">San Francisco</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/charlotte">Charlotte</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/indianapolis">Indianapolis</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/seattle">Seattle</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/denver">Denver</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/washington-dc">Washington DC</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/boston">Boston</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/el-paso">El Paso</router-link></li>
                            </ul>
                            <ul class="top-cities__cities-column">
                                <li class="top-cities__city"><router-link to="listing/detroit">Detroit</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/nashville">Nashville</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/portland">Portland</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/memphis">Memphis</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/oklahoma-city">Oklahoma City</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/las-vegas">Las Vegas</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/louisville">Louisville</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/baltimore">Baltimore</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/milwaukee">Milwaukee</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/albuquerque">Albuquerque</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/tucson">Tucson</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/fresno">Fresno</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/sacramento">Sacramento</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/atlanta">Atlanta</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/kansas-city">Kansas City</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/colorado-springs">Colorado Springs</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/miami">Miami</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/raleigh">Raleigh</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/omaha">Omaha</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/minneapolis">Minneapolis</router-link></li>
                            </ul>
                            <ul class="top-cities__cities-column">
                                <li class="top-cities__city"><router-link to="listing/minneapolis">Minneapolis</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/Tulsa">Tulsa</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/tampa">Tampa</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/new-orleans">New Orleans</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/jersey-shore">Jersey Shore</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/birmingham">Birmingham</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/delaware">Delaware</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/orlando">Orlando</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/ann-arbor">Ann Arbor</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/new-hampshire">New Hampshire</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/north-jersey">North Jersey</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/asheville">Asheville</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/athens">Athens</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/cincinnati">Cincinnati</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/rhode-island">Rhode Island</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/columbia">Columbia</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/charleston">Charleston</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/hampton">Hampton</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/madison">Madison</router-link></li>
                                <li class="top-cities__city"><router-link to="listing/mobile">Mobile</router-link></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer__footer-app-markets">
                    <div class="footer-app-markets"><div class="footer-app-markets__title">Download GettingRoom App</div><div class="footer-app-markets__links"><div class="footer-app-markets__links-wrapper"><a href="#" rel="nofollow" class="roomster-appstore-button" target="_blank"><img class="size_apple_image footer_img" src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg" alt="App Store"></a><a href="https://play.google.com/store/apps/details?id=com.roomster" rel="nofollow" target="_blank" class="roomster-market-button"><img class="size_google_image footer_img" src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg" alt="Google Play"></a><a href="#" rel="nofollow" target="_blank"><img class="__big_img footer_big" src="https://d1frv26ioc12ph.cloudfront.net/dist/508e40a53631852575ffc716c5ea29f3.svg" alt="google-play"></a></div></div></div>
                </div>
                <div class="footer__copyright">
                    <p>Gettingroom Ⓒ 2019</p>
                    <p><router-link to="/terms">{{$t('terms')}}</router-link></p>
                    <p><router-link to="/privacy">{{$t('policy')}}</router-link></p>
                </div>
                <footer class="footer__social-medias">
                    <ul class="social-medias">
                        <li class="social-medias__item">
                            <a href="https://www.facebook.com/roomshareCorp/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/43f97560b1c0a89fcb6c01c5095ed207.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://twitter.com/roomshare"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/618c271335c4997ee2fa670591718f66.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://plus.google.com/110760636620508942692"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/7f07f90c381721294fd5c1ff2709bfa3.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://www.instagram.com/roomshare/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/b2269b31f84348b70c1095880c870332.png"
                                    alt=""></a>
                        </li>
                    </ul>
                    <ul class="social-medias">
                        <li class="social-medias__item">
                            <a href="https://vimeo.com/30505627"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/5e23637c42d51b0ec5b6b8d6a01af064.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://www.youtube.com/channel/UCgUFjSK1FK8kuMxhfj98G3A"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/fdc31dbecce6dd75cf290ccc1813b4b8.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="https://ru.pinterest.com/roomshare/?eq=roomshare&amp;etslf=NaN"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/accc2d009d31d9dd5fa6d8399d4a436c.png"
                                    alt=""></a>
                        </li>
                        <li class="social-medias__item">
                            <a href="http://roomshare.tumblr.com/"><img
                                    src="https://d1frv26ioc12ph.cloudfront.net/dist/f4dac3967e14949ee768d9f758cae3cc.png"
                                    alt=""></a>
                        </li>
                    </ul>
                </footer>
            </footer>
        </div>
         </div>
</template>
<script>
    import TopPanel from './inc/HeaderComponent'
    export default {
        components: {
            topy: TopPanel,
        },
        data() {
            return {
                shoua:'room',
                token: '',
                data: [
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd3.jpg" alt="First slide"></div>',
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd2.jpg" alt="First slide"></div>',
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd1.jpg" alt="First slide"></div>',
                    '<div class="example-slide"><img class="d-block w-100" src="image/hd4.jpg" alt="First slide"></div>',
                ],
                whois: ['Live together with people who will \n inspire you.\n','Find great places & people to \n share a home with.\n','Choose to live with  like-minded \n people.'],

            };
        },
        mounted() {
            this.$nextTick(() => {
              $('.carousel').carousel();
            });
            this.token = window.localStorage.getItem('token');
            if (this.token){
                this.$router.push('/listing/anywhere');
            }
            var  SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-Main'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                var mamu = place.formatted_address;
                this.$router.push('/listing/'+mamu);
            });
            window.setInterval(()=>{
                this.pollPerson();
            }, 6000);
        },
        methods: {
            putted(){
              //
            },
            pollPerson(){
                const first = this.whois.shift();
                this.whois = this.whois.concat(first);
            },
            shona(){
                if(this.shoua == 'room'){
                    this.$router.push('/listing/anywhere');
                }else if(this.shoua == 'entire place'){
                    this.$router.push('/listingentireplace/anywhere');
                }else if(this.shoua == 'roommate'){
                    this.$router.push('/aroommate/anywhere');
                }else if(this.shoua == 'tenant'){
                    this.$router.push('/atenant/anywhere');
                }
            }
        }
    }
</script>
<style>
    a:hover{text-decoration: none}
    #modal-filters-Main{margin-top: 20px}
    .example-slide {
        align-items: center;
        background-color: #666;
        color: #999;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
        min-height: 10rem;
    }
    .top-cities__cities-list {
        display:block !important;
    }
    @media only screen and (max-width: 500px) {
        .top-cities__cities-list {
            display:flex !important;
        }
        .footer__social-medias{display:none}
        .roomshare-slider-content{margin-top: 80px}
        .roomshare-slider-content__main-title{margin-top:80px}
    }
</style>