<template>
<div>
    <div>
    <div class="wrapper">
      <div>
        <main>
          <div class="search-conteiner clearfix ios-overflow mobile_search_content">
            <div class="search-content">
              <div class="basicsearch">
                <div class="list clearfix">
                  <div class="col-md-3 title">
                    I’m looking for
                    <div class="btn-group bootstrap-select primary visible-xs">
                      <button
                        type="button"
                        class="btn dropdown-toggle btn-default"
                        data-toggle="dropdown"
                        role="button"
                        title="a room"
                      >
                        <span class="filter-option pull-left">
                          <i class="fa fa-bed"></i> a room
                        </span>&nbsp;
                        <span class="bs-caret">
                          <span class="caret"></span>
                        </span>
                      </button>
                      <div class="dropdown-menu open" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                          <li data-original-index="0" class="selected">
                            <a
                              tabindex="0"
                              class
                              data-tokens="null"
                              role="option"
                              aria-disabled="false"
                              aria-selected="true"
                            >
                              <i class="fa fa-bed"></i> a room
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="1">
                            <a
                              tabindex="0"
                              class
                              data-tokens="null"
                              role="option"
                              aria-disabled="false"
                              aria-selected="false"
                            >
                              <i class="fa fa-home"></i> an entire place
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="2">
                            <a
                              tabindex="0"
                              class
                              data-tokens="null"
                              role="option"
                              aria-disabled="false"
                              aria-selected="false"
                            >
                              <i class="fa fa-user"></i> a roommate
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="3">
                            <a
                              tabindex="0"
                              class
                              data-tokens="null"
                              role="option"
                              aria-disabled="false"
                              aria-selected="false"
                            >
                              <i class="fa fa-user"></i> a tenant
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <select
                        class="selectpicker primary visible-xs"
                        name="service_type"
                        tabindex="-98"
                      >
                        <option
                          data-content="<i class='fa fa-bed'></i> a room"
                          value="HaveShare"
                        >a room</option>
                        <option
                          data-content="<i class='fa fa-home'></i> an entire place"
                          value="HaveApartment"
                        >an entire place</option>
                        <option
                          data-content="<i class='fa fa-user'></i> a roommate"
                          value="NeedRoom"
                        >a roommate</option>
                        <option
                          data-content="<i class='fa fa-user'></i> a tenant"
                          value="NeedApartment"
                        >a tenant</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="radio-button-tabs hidden-xs">

                      <router-link to="/listing">
                      <input type="radio" id="a-room" name="service_type" value="HaveShare" />
                      </router-link>
                      <label for="a-room">a room</label>

                      <router-link to="/listingentireplace">
                      <input type="radio" id="place" name="service_type" value="HaveApartment" />
                      </router-link>
                      <label for="place" style="background-color:green;border-color:green;color:#ffffff">an entire place</label>

                      <router-link to="/aroommate">
                      <input type="radio" id="roommate" name="service_type" value="NeedRoom" />
                      </router-link>
                      <label for="roommate">a roommate</label>

                      <router-link to="/atenant">
                      <input type="radio" id="tenant" name="service_type" value="NeedApartment" />
                      </router-link>
                      <label for="tenant">a tenant</label>

                    </div>
                  </div>
                </div>
                <div class="list clearfix no-border budget-slider">
                  <div class="col-md-3 title">Budget</div>
                  <div class="col-md-9 padding-40" dir="ltr">
                    <!--fuck------->
                    <vue-slider
                            :min="0"
                            :max="5000"
                            v-model="value"
                            :tooltip="'none'"
                            :enable-cross="false"
                    ></vue-slider>
                    <span style="font-size: 30px;color: #47a40e">${{value[0]}}</span>
                    <span style="font-size: 30px;float: right;color: #47a40e">${{value[1]}}</span>
                  </div>
                </div>
                <div class="search-listing clearfix container-filters">
                  <div class="content_filters" :class="{'__show':showFilter}">
                    <!--class="content_filters __show"-->
                    <div class="budget_block __blocks">
                      <div class="title_budget_block __title">
                        <div>Radius</div>
                      </div>
                      <div class="content radius" dir="ltr" style="padding-right: 20px">
                        <vue-slider
                                :min="874"
                                :max="17490"
                                v-model="valuei"
                                :tooltip="'none'"
                                :enable-cross="false"
                        ></vue-slider>
                        <span style="font-size: 25px;color: #47a40e">{{Math.floor( 0.621371*valuei )}}ml/ {{valuei}} km</span>
                      </div>
                    </div>
               

                  <div class="__chosen_block __blocks bedrooms">
    <div class="title__chose_block bedrooms">Bedrooms</div>
    <div class="content bedrooms">
        <div
                          v-for="(option,index) in bedrooms"
                          :key="index"
                          class="chosen_block bedrooms"
                          :class="[option.selected ? 'isChosen' : '' ]"
                          @click="option.selected = !option.selected"
                        >{{ option.name }}</div>
    </div>
</div>

                
                <div class="__chosen_block __blocks bathrooms">
    <div class="title__chose_block bathrooms">Bathrooms</div>
    <div class="content bathrooms">
        <div
                          v-for="(option,index) in bathrooms"
                          :key="index"
                          class="chosen_block bathrooms"
                          :class="[option.selected ? 'isChosen' : '' ]"
                          @click="option.selected = !option.selected"
                        >{{ option.name }}</div>
    </div>
</div>
<div class="__chosen_block __blocks amenities">
    <div class="title__chose_block amenities">Apartment amenities</div>
    <div class="content amenities">
        <div class="chosen_block amenities amenities_3">
            <div class="container-icon"><i class="icon-apt-3 icon-apt-"></i></div>High-rise</div>
        <div class="chosen_block amenities amenities_4">
            <div class="container-icon"><i class="icon-apt-4 icon-apt-"></i></div>Low-rise</div>
        <div class="chosen_block isChosen amenities amenities_5">
            <div class="container-icon"><i class="icon-apt-5 icon-apt-"></i></div>Disability Access</div>
        <div class="chosen_block amenities amenities_7">
            <div class="container-icon"><i class="icon-apt-7 icon-apt-"></i></div>Doorman</div>
        <div class="chosen_block amenities amenities_8">
            <div class="container-icon"><i class="icon-apt-8 icon-apt-"></i></div>Elevator</div>
        <div class="chosen_block amenities amenities_9">
            <div class="container-icon"><i class="icon-apt-9 icon-apt-"></i></div>Walkup</div>
        <div class="chosen_block amenities amenities_10">
            <div class="container-icon"><i class="icon-apt-10 icon-apt-"></i></div>Health Club</div>
        <div class="chosen_block amenities amenities_12">
            <div class="container-icon"><i class="icon-apt-12 icon-apt-"></i></div>Laundromat</div>
        <div class="chosen_block amenities amenities_13">
            <div class="container-icon"><i class="icon-apt-13 icon-apt-"></i></div>Covered Parking</div>
        <div class="chosen_block amenities amenities_14">
            <div class="container-icon"><i class="icon-apt-14 icon-apt-"></i></div>Garage</div>
        <div class="chosen_block amenities amenities_15">
            <div class="container-icon"><i class="icon-apt-15 icon-apt-"></i></div>Parking Lot</div>
        <div class="chosen_block amenities amenities_17">
            <div class="container-icon"><i class="icon-apt-17 icon-apt-"></i></div>Street Parking</div>
        <div class="chosen_block amenities amenities_18">
            <div class="container-icon"><i class="icon-apt-18 icon-apt-"></i></div>Near Bus Stop</div>
        <div class="chosen_block amenities amenities_19">
            <div class="container-icon"><i class="icon-apt-19 icon-apt-"></i></div>Near Subway</div>
        <div class="chosen_block amenities amenities_21">
            <div class="container-icon"><i class="icon-apt-21 icon-apt-"></i></div>Electronic Security</div>
        <div class="chosen_block amenities amenities_22">
            <div class="container-icon"><i class="icon-apt-22 icon-apt-"></i></div>Security</div>
        <div class="chosen_block amenities amenities_23">
            <div class="container-icon"><i class="icon-apt-23 icon-apt-"></i></div>Swimming Pool</div>
        <div class="chosen_block amenities amenities_24">
            <div class="container-icon"><i class="icon-apt-24 icon-apt-"></i></div>Internet</div>
        <div class="chosen_block amenities amenities_25">
            <div class="container-icon"><i class="icon-apt-25 icon-apt-"></i></div>Wireless Internet</div>
    </div>
</div>

                  
                  
                    
                    <div class="apply_filters __blocks">
                      <div class="title__chose_block"></div>
                      <div class="content">
                        <button @click="showFilter=false">Apply filters</button>
                        <!--after click this filter div will hidden-->
                        <button @click="showFilter=false">Cancel</button>
                        <!--after click this filter div will hidden-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search-listing clearfix">
                  <div class="header clearfix" style="z-index: 1000; position: relative;">
                    <div class="clearfix __other">
                      <!--@click Filters new div will be shown 
                      and a class="hidden" will be added-->
                      <div @click="showFilter=true" class="filer">
                        <a :class="{'hidden':showFilter}">
                          <span class="icon icon-fliter"></span>
                          <span>Filters</span>
                        </a>
                      </div>
                      <div class="result-found">
                        <span>
                        </span>
                      </div>
                      <div class="sorting">
                        <select v-model="sortBy"  class="form-control" style="width: 280px">
                          <option value="activity"> Sort by  : Last Activity</option>
                          <option value="newest"> Sort by  :  Newest</option>
                          <option value="rent"> Sort by: Rent</option>
                        </select>
                      </div>
                      <div class="type_view_listing">
                        <i class="fa fa-bars" :class="listView" @click="toggleListView"></i>
                        <i class="fa fa-th-large" :class="gridView" @click="toggleGridView"></i>
                        <!--active class will be added after pressing-->
                      </div>
                    </div>
                  </div>
                  <div class="listing clearfix">
                      <div v-if="!isMobile()">
                          <desktop>
                    <anEntirePlaceListView v-if="listValue" v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]"></anEntirePlaceListView>
                      <anEntirePlaceGridView v-else v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]"></anEntirePlaceGridView>
                          </desktop>
                          <div v-else>
                              <mobile>
                                  <AnEntirePlaceMobileComponent v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]">

                                  </AnEntirePlaceMobileComponent>

                              </mobile>
                          </div>
                      </div>
                    <div>
                </div>
              </div>
            </div>
          </div>
            </div>
              <GoogleMapComponent v-bind:zoomG="this.zoom" v-bind:markerList="markerList" v-bind:lat="lat" v-bind:lng="lng"></GoogleMapComponent>
          </div>
        </main>
      </div>
    </div>
  </div>

</div>

</template>
<script>
  import VueSlider from 'vue-slider-component'
  import anEntirePlaceListView from "./anEntirePlaceListView";
  import GoogleMapComponent from "./GoogleMapComponent";
  import anEntirePlaceGridView from "./anEntirePlaceGridView";
  import AnEntirePlaceMobileComponent from "./AnEntirePlaceMobileComponent"
export default {
  components: {
    VueSlider, anEntirePlaceListView,GoogleMapComponent,anEntirePlaceGridView, AnEntirePlaceMobileComponent
  },

  mixins: [],

  data() {
    return {
        zoom:12,
        listView:'active',
        gridView:'',
        listValue:true,
        sortBy:'newest',
        lat:null,
        lng:null,
        markerList:[],
      valuea:[18,99],
      valuei: 17490,
      value: [0, 5000],
      showFilter: false,
      chosen: false,
     
      bedrooms: {
        Studio: { name: "Studio", selected: false },
        Onebedroom : { name: "1 bedroom",  selected: false },
        twobedrooms: { name: "2 bedrooms",  selected: false },
        threebedrooms: { name: "3 bedrooms", selected: false },
        forurbedrooms: { name: "4 bedrooms",  selected: false },
   
      },
      bathrooms: {
          one: { name: "1", selected: false },
        onefive: { name: "1.5", selected: false },
        two: { name: "2", selected: false },
        twofive: { name: "2.5", selected: false },
        three: { name: "3", selected: false },
        threefive: { name: "3.5+", selected: false },
        
     
   
      }
    };
  },
  computed: {
    //
  },
    props:['place','gblat','gblng'],

    created() {
    //
  },
  mounted() {
      document.title = "Place in "+this.place;
      axios.get('/needentireplace/'+this.place)
          .then(resp => {
              this.lat = parseFloat(this.gblat);
              this.lng = parseFloat(this.gblng);
              if(this.place == 'anywhere'){
                  this.zoom = 3
              }else {
                  this.zoom = 12;
              }
          })
          .catch(function (resp) {
              console.log(resp);
          });
      axios.get('/offeringentireplace/markers/')
          .then(resp => {
              this.markerList = resp.data;
          })
          .catch(function (resp) {
              console.log(resp);
          });
  },
    watch: {

        place () {
            document.title = "Place in "+this.place;
            axios.get('/needentireplace/'+this.place)
                .then(resp => {
                    this.lat = parseFloat(this.gblat);
                    this.lng = parseFloat(this.gblng);
                    if(this.place == 'anywhere'){
                        this.zoom = 3
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        }
    },

  methods: {
      toggleListView(){
          this.listValue = true;
          this.listView = 'active';
          this.gridView = '';
      },
      toggleGridView(){
          this.listValue = false;
          this.listView = '';
          this.gridView = 'active';
      },
      isMobile() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          return true
        } else {
          return false
        }
      }
  }
};
</script>

<style>
  .vue-slider-process {
    background-color: #47a40e;
  }
  .vue-slider-dot{width: 25px !important; height: 25px !important;}
</style>

