<template>
<div>
    <div class="room-card-wrapper list_view" v-for="room in rooms">
        <div class="room-card-list">
            <div class="photo_block">
                <router-link class="view__" :to="{ name: 'Listi', params: { id:  78965428+room.id}}" target="_blank"><img src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" class="image-list" alt="Bleecker Street, Manhattan, New York, NY, USA"></router-link>
                <div class="time_map_pin">{{Math.floor((Date.now() - givenDate(room.created_at))/1000/60/60)}} Hours ago</div><span class="pull-left none_click favorite false"><i class="star__icon fa fa-star "></i></span><span class="new__block">NEW</span></div>
            <div class="info_block">
                <div class="headline"><router-link :to="{ name: 'Listi', params: { id:  78965428+room.id}}" target="_blank" style="color: black;"><span>{{room.headline}}</span></router-link></div>
                <div class="details_listings"><span>Private Room</span><span class="delimiter_">|</span><span>{{room.location}}</span></div>
                <div class="user_block">
                    <router-link href="/myprofile" target="_blank" class="photo_user_block profile__icon-check"><img src="https://s.roomster.com/Content/images/placeholders/no_user_thumbnail.gif" alt="Kyla Langotsky"><span class="hover__block"></span></router-link>
                    <div class="details_user_block">
                        <div>{{room.hati}}</div>
                        <div><span>{{Math.floor((Date.now() - givenDate(room.dob))/1000/60/60/24/365)}}</span><span>,</span> <i class="fa fa-mars"></i></div>
                    </div>
                </div>
                <div class="social_block_">
                    <div class="title_">Contact {{room.hati}}</div>
                    <div>
                        <p class="profile__social-text">Social Connect</p>
                        <div class="social_contact full_width">
                            <div class="profile__link-edit-cont"><a target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="big_delimiter"></div>
            <div class="details_block">
                <div class="price_block"><span class="_currency">$</span><span> {{room.monthly_rent}}</span><span class="_currency">USD</span></div>
                <div class="per_month">per month</div>
                <div class="move_in_date"><span class="icon_calendar_v2"></span><span>Move-in Date:</span><span>{{room.move_date}}</span></div><router-link class="view__" :to="{ name: 'Listi', params: { id:  78965428+room.id}}" target="_blank">View</router-link></div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},
        mixins: [],

        data () {
            return {
                rooms :[],
                given:null
            }
        },
        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            axios.get('/allroom')
                .then(resp => {
                    this.rooms = resp.data
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },

        methods: {
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            }
        }
    };
</script>
