<template>
  <div>
      <div class="wrapper">
      <div>
        <main>
          <div class="search-conteiner clearfix ios-overflow mobile_search_content">
            <div class="search-content">
              <div class="basicsearch">
                <div class="list clearfix">
                  <div class="col-md-3 title">
                    I’m looking for
                    <div class="btn-group bootstrap-select primary visible-xs">
                      <button
                              type="button"
                              class="btn dropdown-toggle btn-default"
                              data-toggle="dropdown"
                              role="button"
                              title="a room">
                        <span class="filter-option pull-left">
                          <i class="fa fa-bed"></i> a room
                        </span>&nbsp;
                        <span class="bs-caret">
                          <span class="caret"></span>
                        </span>
                      </button>
                      <div class="dropdown-menu open" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                          <li data-original-index="0" class="selected">
                            <a
                                    tabindex="0"
                                    class
                                    data-tokens="null"
                                    role="option"
                                    aria-disabled="false"
                                    aria-selected="true"
                            >
                              <i class="fa fa-bed"></i> a room
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="1">
                            <a
                                    tabindex="0"
                                    class
                                    data-tokens="null"
                                    role="option"
                                    aria-disabled="false"
                                    aria-selected="false"
                            >
                              <i class="fa fa-home"></i> an entire place
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="2">
                            <a
                                    tabindex="0"
                                    class
                                    data-tokens="null"
                                    role="option"
                                    aria-disabled="false"
                                    aria-selected="false"
                            >
                              <i class="fa fa-user"></i> a roommate
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                          <li data-original-index="3">
                            <a
                                    tabindex="0"
                                    class
                                    data-tokens="null"
                                    role="option"
                                    aria-disabled="false"
                                    aria-selected="false"
                            >
                              <i class="fa fa-user"></i> a tenant
                              <span class="glyphicon glyphicon-ok check-mark"></span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <select
                              class="selectpicker primary visible-xs"
                              name="service_type"
                              tabindex="-98"
                      >
                        <option
                                data-content="<i class='fa fa-bed'></i> a room"
                                value="HaveShare"
                        >a room</option>
                        <option
                                data-content="<i class='fa fa-home'></i> an entire place"
                                value="HaveApartment"
                        >an entire place</option>
                        <option
                                data-content="<i class='fa fa-user'></i> a roommate"
                                value="NeedRoom"
                        >a roommate</option>
                        <option
                                data-content="<i class='fa fa-user'></i> a tenant"
                                value="NeedApartment"
                        >a tenant</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="radio-button-tabs hidden-xs">

                      <router-link to="/listing" >
                        <input type="radio" id="a-room"  name="service_type" value="HaveShare" />
                      </router-link>
                      <label for="a-room" style="background-color:green;border-color:green;color:#ffffff">a room</label>

                      <router-link to="/listingentireplace">
                        <input type="radio" id="place" name="service_type" value="HaveApartment" />
                      </router-link>
                      <label for="place">an entire place</label>

                      <router-link to="/aroommate">
                        <input type="radio" id="roommate" name="service_type" value="NeedRoom" />
                      </router-link>
                      <label for="roommate">a roommate</label>

                      <router-link to="/atenant">
                        <input type="radio" id="tenant" name="service_type" value="NeedApartment" />
                      </router-link>
                      <label for="tenant">a tenant</label>

                    </div>
                  </div>
                </div>
                <div class="list clearfix no-border budget-slider">
                  <div class="col-md-3 title">Budget</div>
                  <div class="col-md-9 padding-40" dir="ltr">
                    <!--fuck------->
                    <vue-slider
                            :min="0"
                            :max="5000"
                            v-model="value"
                            :tooltip="'none'"
                            :enable-cross="false"
                    ></vue-slider>
                    <span style="font-size: 30px;color: #47a40e">${{value[0]}}</span>
                    <span style="font-size: 30px;float: right;color: #47a40e">${{value[1]}}</span>
                  </div>
                </div>
                <div class="search-listing clearfix container-filters">
                  <div class="content_filters" :class="{'__show':showFilter}">
                    <!--class="content_filters __show"-->
                    <div class="budget_block __blocks">
                      <div class="title_budget_block __title">
                        <div>Radius</div>
                      </div>
                      <div class="content radius" dir="ltr" style="padding-right: 20px">
                        <vue-slider
                                :min="874"
                                :max="17490"
                                v-model="valuei"
                                :tooltip="'none'"
                                :enable-cross="false"
                        ></vue-slider>
                        <span style="font-size: 25px;color: #47a40e">{{Math.floor( 0.621371*valuei )}}ml/ {{valuei}} km</span>
                      </div>
                    </div>
                    <div class="age_block __blocks">
                      <div class="title_age_block __title">
                        <div>Age</div>
                      </div>
                      <div class="content age" dir="ltr" style="padding-right: 20px">
                        <vue-slider
                                :min="18"
                                :max="99"
                                v-model="valuea"
                                :tooltip="'none'"
                                :enable-cross="false"
                        ></vue-slider>
                        <span style="font-size: 30px;color: #47a40e">{{valuea[0]}}</span>
                        <span style="font-size: 30px;float: right;color: #47a40e">{{valuea[1]}}</span>
                      </div>
                    </div>
                    <div class="__chosen_block __blocks household_sex">
                      <div class="title__chose_block household_sex">Household Sex</div>
                      <div class="content household_sex">
                        <div
                                v-for="(option,index) in householdSex.options"
                                :key="index"
                                class="chosen_block household_sex household_sex_1258548"
                                :class="{'isChosen': option === householdSex.selected}"
                                @click="householdSex.selected = option"
                        >{{ option }}</div>
                      </div>
                    </div>
                    <div class="__chosen_block __blocks zodiac">
                      <div class="title__chose_block zodiac">Zodiac</div>
                      <div class="content zodiac">
                        <div
                                v-for="(option,index) in zodiac"
                                :key="index"
                                class="chosen_block zodiac"
                                :class="[option.color, option.selected ? 'isChosen' : '' ]"
                                @click="option.selected = !option.selected"
                        >{{ option.name }}</div>
                      </div>
                    </div>
                    <div class="__chosen_block __blocks pets_preference">
                      <div class="title__chose_block pets_preference">Pets</div>
                      <div class="col-sm-8">
                        <div class="checkbox animal" v-for="(pet,i) in preferPets" :key="i">
                          <label>
                            <input autocomplete="off" type="checkbox" v-model="pet.checked">
                            <span class="custom-checkbox"><i :class="pet.icon"></i></span>{{ pet.name }}
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="apply_filters __blocks">
                      <div class="title__chose_block"></div>
                      <div class="content">
                        <button @click="showFilter=false">Apply filters</button>
                        <!--after click this filter div will hidden-->
                        <button @click="showFilter=false">Cancel</button>
                        <!--after click this filter div will hidden-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search-listing clearfix">
                  <div class="header clearfix" style="z-index: 1000; position: relative;">
                    <div class="clearfix __other">
                      <!--@click Filters new div will be shown
                      and a class="hidden" will be added-->
                      <div @click="showFilter=true" class="filer">
                        <a :class="{'hidden':showFilter}">
                          <span class="icon icon-fliter"></span>
                          <span>Filters</span>
                        </a>
                      </div>
                      <div class="result-found">
                        <span>
                        </span>
                      </div>
                      <div class="sorting">
                        <select  class="form-control" v-model="sortBy" style="width: 280px">
                          <option value="activity"> Sort by  : Last Activity</option>
                          <option value="newest"> Sort by  :  Newest</option>
                          <option value="rent"> Sort by: Rent</option>
                        </select>
                      </div>
                      <div class="type_view_listing">
                        <i class="fa fa-bars" :class="listView" @click="toggleListView"></i>
                        <i class="fa fa-th-large" :class="gridView" @click="toggleGridView"></i>
                        <!--active class will be added after pressing-->
                      </div>
                    </div>
                  </div>
                  <div class="listing clearfix">
                    <div v-if="!isMobile()">
                    <desktop>
                    <aroomlistview v-if="listValue" v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]"></aroomlistview>
                    <aroomgridview v-else v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]"></aroomgridview>
        </desktop>
                    </div>
                    <div v-else>
                      <mobile>
                        <AroomMobileComponent v-bind:sort="sortBy" v-bind:place="place" v-bind:min="value[0]" v-bind:max="value[1]">

                        </AroomMobileComponent>
                      </mobile>
                    </div>

                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <GoogleMapComponent v-bind:zoomG="zoom"  v-bind:markerList="markerList" v-bind:lat="lat" v-bind:lng="lng"></GoogleMapComponent>
          </div>
        </main>
      </div>
    </div>
    </div>
</template>
<script>
  import VueSlider from 'vue-slider-component'
  import aroomlistview from "./aroomlistview";
  import aroomgridview from "./aroomgridview";
  import GoogleMapComponent from "./GoogleMapComponent";
  import AroomMobileComponent from "./AroomMobileComponent";
  
  export default {
    components: {
      VueSlider, aroomlistview, GoogleMapComponent,aroomgridview, AroomMobileComponent
    },

    mixins: [],

    data() {
      return {
        zoom:12,
        sortBy:'newest',
        lat:null,
        lng:null,
        markerList:[],
        listView:'active',
        gridView:'',
        listValue:true,
        valuea:[18,99],
        value: [0,5000],
        valuei: 17490,
        showFilter: false,
        chosen: false,
        householdSex: {
          selected: "Everyone",
          options: ["Female", "Male", "Co-ed", "Everyone"]
        },
        preferPets: {
          cats: { name: 'Cats', icon: 'icon-cat', checked: false },
          dogs: { name: 'Dogs', icon: 'icon-dog', checked: false },
          smallPets: { name: 'Small Pets', icon: 'icon-pets', checked: false },
          birds: { name: 'Birds', icon: 'icon-birds', checked: false },
          fish: { name: 'Fish', icon: 'icon-fish', checked: false },
          reptiles: { name: 'Reptiles', icon: 'icon-reptiles', checked: false }
        },

        zodiac: {
          aries: { name: "Aries", color: "zodiac_216", selected: false },
          taurus: { name: "Taurus", color: "zodiac_217", selected: false },
          gemini: { name: "Gemini", color: "zodiac_218", selected: false },
          cancer: { name: "Cancer", color: "zodiac_219", selected: false },
          leo: { name: "Leo", color: "zodiac_220", selected: false },
          virgo: { name: "Virgo", color: "zodiac_221", selected: false },
          libra: { name: "Libra", color: "zodiac_222", selected: false },
          scorpio: { name: "Scorpio", color: "zodiac_223", selected: false },
          sagittarius: {
            name: "Sagittarius",
            color: "zodiac_224",
            selected: false
          },
          capricorn: { name: "Capricorn", color: "zodiac_213", selected: false },
          aquarius: { name: "Aquarius", color: "zodiac_214", selected: false },
          pisces: { name: "Pisces", color: "zodiac_215", selected: false }
        }
      };
    },

    props:['place','gblat','gblng'],
    computed: {
      //
    },

    created() {
      //
    },
    mounted() {
      document.title = "Rooms in "+this.place;
      axios.get('/needplace/'+this.place)
              .then(resp => {
                this.lat = parseFloat(this.gblat);
                this.lng = parseFloat(this.gblng);
                if(this.place == 'anywhere'){
                  this.zoom = 3
                }
              })
              .catch(function (resp) {
                console.log(resp);
              });
      axios.get('/offeringroom/markers/')
              .then(resp => {
                this.markerList = resp.data;
              })
              .catch(function (resp) {
                console.log(resp);
              });
    },
    watch: {
      place () {
        document.title = "Rooms in "+this.place;
        axios.get('/needplace/'+this.place)
                .then(resp => {
                  this.lat = parseFloat(this.gblat);
                  this.lng = parseFloat(this.gblng);
                  if(this.place == 'anywhere'){
                    this.zoom = 3;
                  }else {
                    this.zoom = 12;
                  }
                })
                .catch(function (resp) {
                  console.log(resp);
                });
      },
    },
    methods: {
      toggleListView(){
        this.listValue = true;
        this.listView = 'active';
        this.gridView = '';
      },
      toggleGridView(){
        this.listValue = false;
        this.listView = '';
        this.gridView = 'active';
      },
      isMobile() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          return true
        } else {
          return false
        }
      }
          }
        };
</script>

<style>
  .vue-slider-process {
    background-color: #47a40e;
  }
  .vue-slider-dot{width: 25px !important; height: 25px !important;}
  .activeZone{
    background: #47a40e;
    border-color: #47a40e;
    color: #fff;
  }
</style>

