<template>
<div>
    <div id="content" class="">
        <div class="wsmenucontainer clearfix gray_background" style="overflow: unset;">
            <div></div>
            <div style="overflow: hidden;">
                <div class="verify-modal__black-back"></div>
                <div class=" verify-modal__container verify-modal__container--fixed">
                    <div class="verify-modal__title">Account Verification</div>
                </div>
            </div>
            <div></div>
            <div class="wrapper_menu haveUser">
                <div class="overflow_menu" style="background: rgba(0, 0, 0, 0); visibility: hidden;"></div>
                <div class="menu" style="transform: translate3d(-80vw, 0px, 0px); visibility: hidden;">
                    <div class="photos_block">
                        <div class="display_block content_user" href="/profile/15016193">
                            <div class="user_photo"><img src="https://s.roomster.com/Content/images/placeholders/no_user_thumbnail.gif" alt="avatar"></div>
                            <div class="desc_user"><span>Meraj</span><span>My Profile</span></div>
                        </div>
                    </div>
                    <content class="haveUser">
                        <div class="display_block item_list payment" href="/payments/choose-package">
                            <div class="item_icon"><i class="fa fa-arrow-circle-o-up"></i></div>
                            <div class="item_text"> Upgrade</div>
                        </div>
                        <div class="item_list" >
                            <div class="item_icon"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/1515ee2a49ddb0920590c08bbb88f66a.png"></div>
                            <div class="item_text">Account Verification</div>
                        </div>
                        <div class="item_list" id="matches">
                            <div class="item_icon"><i class="fa fa-search"></i></div>
                            <div class="item_text">View Matches</div>
                        </div>
                        <div class="display_block item_list" href="/mylistings">
                            <div class="item_icon"><i class="fa fa-file-o"></i></div>
                            <div class="item_text"> My Listings</div>
                        </div>
                        <div class="display_block item_list" href="/tutorial">
                            <div class="item_icon"><i class="fa fa-book"></i></div>
                            <div class="item_text">Tutorial</div>
                        </div>
                        <div class="display_block item_list" href="/payments/choose-package">
                            <div class="wrapper__"></div>
                            <div class="item_icon relative"><i class="fa fa-comment-o"></i></div>
                            <div class="item_text">Message</div>
                        </div>
                        <div class="display_block item_list" href="/megaphone">
                            <div class="item_icon relative"><i class="fa fa-bullhorn"></i></div>
                            <div class="item_text">Megaphone</div>
                        </div>
                        <div class="display_block item_list" href="/bookmarks">
                            <div class="item_icon relative"><i class="fa fa-star"></i></div>
                            <div class="item_text"> Bookmarks</div>
                        </div>
                        <div class="display_block item_list" href="/settings">
                            <div class="item_icon relative"><i class="fa fa-cogs"></i></div>
                            <div class="item_text"> Settings</div>
                        </div>
                        <div class="display_block item_list" href="/support">
                            <div class="item_icon relative support"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/c166a68e18b692a8d40394a81a73d52f.svg"></div>
                            <div class="item_text"> 24/7 Support</div>
                        </div>
                        <div class="display_block item_list" href="/support">
                            <div class="wrapper__"></div>
                            <div class="item_icon relative"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/5c4fe03587f8bb76dc8c16fcedd9a2e5.svg"></div>
                            <div class="item_text">Help</div>
                        </div>
                        <div class="item_list">
                            <div class="item_icon relative"><i class="fa fa-sign-out"></i></div>
                            <div class="item_text">Log Out</div>
                        </div>
                    </content>
                    <div class="bottom_block">
                        <div dir="ltr">
                            <div class="Select btn-group bootstrap-select language-picker has-value Select--single">
                                <input name="lang-picker" type="hidden" value="en-US">
                                <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-2--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-2--value-item">English (US)</span></div>
                                <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-2--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                                </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="Select btn-group bootstrap-select currency-picker has-value Select--single">
                            <input name="currency-picker" type="hidden" value="USD">
                            <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-3--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-3--value-item">USD</span></div>
                        <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-3--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                        </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="connection_fail">You've lost internet connection. Application will launch when Internet is on again</div>
            <div class="wsmenuexpandermain slideRight">
                <a id="navToggle" class="animated-arrow __nomain"></a>
            </div>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="top-bar-header">
                    <div class="navbar-header">
                        <a class="navbar-brand hidden-xs"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/0452163cd2f33ed9fba9533236323826.png" alt="roomster-logo"></a>
                    </div>
                    <div class="search ">
                        <div class="input-autocomplete">
                            <div class="display__flex"><span class="icon icon-location"></span>
                                <input autocomplete="off" id="modal-filters-App" placeholder="Search" class="typeahead form-control form-ready-for-bubble" value="Chittagong, Bangladesh">
                            </div>
                        </div>
                    </div>
                    <a id="navToggle_default"></a>
                    <div id="navbar" class="  collapse navbar-collapse">
                        <ul class="nav navbar-nav loggined-user-nav">
                            <li>
                                <div class="header-smm-big">
                                    <div class="hiddens">
                                        <a href="https://itunes.apple.com/us/app/roomster-roommate-finder-find/id1045548013" rel="nofollow" target="_blank"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/143d89652241555c8cfb70747b34bb56.svg" alt="apple-store"></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.roomster" rel="nofollow" target="_blank"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/80292db08dbe284420365f144444b93a.svg" alt="google-play"></a>
                                        <a href="https://www.amazon.com/Roomster-Roommates-Roommate-Finder-shares/dp/B06XW2MN6J/" rel="nofollow" target="_blank"><img class="__small_img" src="https://d1frv26ioc12ph.cloudfront.net/dist/796ae98384aa14073bee9cb17732af8f.png" alt="apple-store"></a>
                                    </div>
                                    <div class="hiddens-1">
                                        <a href="https://itunes.apple.com/us/app/roomster-roommate-finder-find/id1045548013" rel="nofollow" target="_blank"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg" class="size_apple_image" alt="apple-store"></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.roomster" rel="nofollow" target="_blank"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg" class="size_apple_image" alt="google-play"></a>
                                        <a href="https://www.amazon.com/Roomster-Roommates-Roommate-Finder-shares/dp/B06XW2MN6J/" rel="nofollow" target="_blank">
                                            <div class="__big_img">

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="roomster-desktop-menu__header-locals">
                                    <div class="header-locals header-locals--desktop">
                                        <div dir="ltr">
                                            <div class="Select btn-group bootstrap-select language-picker has-value Select--single">
                                                <input name="lang-picker" type="hidden" value="en-US">
                                                <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-6--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-6--value-item">English (US)</span></div>
                                        <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-6--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                                        </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Select btn-group bootstrap-select currency-picker has-value Select--single">
                                            <input name="currency-picker" type="hidden" value="USD">
                                            <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-7--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-7--value-item">USD</span></div>
                                <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-7--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                                </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a><span class="hide-md">Messages</span><div class="message-wrapper"><span class="icon icon-message"></span></div><div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                            <li><a><span class="hide-md">Megaphone</span><div class="message-wrapper"><span class="icon icon-megaphone"></span></div><div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                            <li><a class="" href="/support"><span class="hide-md">Help</span> <span class="icon icon-help"></span></a></li>
                            <li class="dropdown dropdown_show"><a class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="hide-md"></span><img src="https://s.roomster.com/Content/images/placeholders/no_user_thumbnail.gif" alt="user-photo"> <span class="icon icon-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="new"><a><i class="fa fa-arrow-circle-o-up"></i> Upgrade<div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                                    <li class="list-custom__"><a><span class="images___ requiredVerified"></span>Account Verification</a></li>
                                    <li><a><span class="icon icon-profile"></span> My Profile / Listings<div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                                    <li><a><i class="fa fa-book"></i>Tutorial<div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                                    <li><a><i class="fa fa-search"></i>View Matches<div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                                    <li><a><span class="icon icon-bookmark"></span> Bookmarks<div class="notification">Please create a listing in order to <br> access this feature.</div></a></li>
                                    <li><a class="" href="/settings"><span class="icon icon-setting"></span> Settings</a></li>
                                    <li><a class="" href="/support"><span class="icon icon-support"></span> 24/7 Support</a></li>
                                    <li><a><span class="icon icon-logout"></span> Logout</a></li>
                                    <li class="separator"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="wrapper bottom_footer_flex">
                <div class="mobile-new-listing-container">
                    <div class="mobile-new-listing-container__wrapper">
                        <h1 class="wrapper__header">What are you looking for?</h1>
                        <div class="wrapper__switch-toggle">
                            <div class="choose-type">
                                <div class="blocks left" draggable="true"></div>
                                <div class="text-block">
                                    <div class="__left_block green">Places</div>
                                    <div class="__right_block ">People</div>
                                </div>
                            </div>
                        </div>
                        <div class="listing-types__wrapper"><span class="listing-types__wrapper_header">Select one:</span>
                            <div class="listing-types__wrapper-blocks">
                                <div class="listing-types__wrapper_left-block"><span>I'm looking for a room</span></div>
                                <div class="listing-types__wrapper_right-block"><span>I'm looking for an entire place</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="footer" class="gray_background_footer">
                    <div class="container">
                        <div class="top row">
                            <div class="col-sm-12">
                                <ul class="list-inline social text-center">
                                    <li><a href="https://www.facebook.com/RoomsterCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://twitter.com/roomster" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/110760636620508942692" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://vimeo.com/roomsterroommates" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="https://www.youtube.com/user/roomsterroommates" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="http://pinterest.com/roomster/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="http://roomster.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="https://www.instagram.com/roomster/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links text-center">
                            <ul class="list-inline">
                                <li><a href="http://support.roomster.com/hc/en-us" target="_blank">FAQ</a></li>
                                <li><a class="" href="/terms">Terms</a></li>
                                <li><a class="" href="/privacy">Privacy</a></li>
                                <li><a class="" href="/press">Press</a></li>
                                <li><a href="https://roomster.com/affiliate" target="_blank">Affiliate Program</a></li>
                                <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                                <li><a href="http://blog.roomster.com/" target="_blank">Blog</a></li>
                            </ul>
                        </div>
                        <div class="copyright text-center">Roomster © 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                //
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            //
        }
    };
</script>
