<template>
    <div class="wrapper login_wrapper">
        <div class="no-supported-lang" style="position: relative;"><img
                src="https://d1frv26ioc12ph.cloudfront.net/dist/9cddaa944454dcaa13c40829fdebc31d.svg"
                style="display: none;">
            <div class="login-page mobile-login__form new__form">
                <div class="social-visible">
                    <h1>Login to continue</h1>
                    <div class="mobile-login__social-block"><a href="/login/facebook"
                                                               class="login__social login__social--Facebook"><span class="rollover"></span><span
                            class="content-text"><span class="img"></span><span
                            class="_text__">Facebook</span></span></a><a href="/login/instagram"
                                                                         class="login__social login__social--Instagram"><span class="rollover"></span><span
                            class="content-text"><span class="img"></span><span
                            class="_text__">Instagram</span></span></a><a href="/login/twitter"
                                                                          class="login__social login__social--Twitter"><span class="rollover"></span><span
                            class="content-text"><span class="img"></span><span
                            class="_text__">Twitter</span></span></a><a
                            href="/login/google" class="login__social login__social--Google"><span
                            class="rollover"></span><span class="content-text"><span class="img"></span><span
                            class="_text__">Google</span></span></a><router-link to="/login/mail"
                                                                       class="login__social login__social--Email"><span class="rollover"></span><span
                            class="content-text"><span class="img"></span><span
                            class="_text__">Email</span></span></router-link><i id="login-page-go-down-button"
                                                                      class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div><i id="login-page-go-down-button-2" class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoginComponent"
    }
</script>

<style>
        .login_wrapper .login-page{
            background-image:url('../../../../public/frontend/resourses/img/Banner/banner.jpg');
        }

</style>