<template>
<div>

    <div id="content">
        <div class="wsmenucontainer clearfix wsmenucontainer--login-page">
            <div class="wrapper login_wrapper">
                <div class="no-supported-lang" style="position: relative;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/9cddaa944454dcaa13c40829fdebc31d.svg" style="display: none;">
                    <div class="login-page mobile-login__form new__form">
                        <div>
                            <div>
                                <form class="new___form_email">
                                    <input :class="[errorClass,mailError]" v-on:blur="checkMail" autocomplete="off" type="email" v-model="login.email" required="" placeholder="Email Address" >
                                    <input :class="[errorClass,passwordError]" v-on:blur="checkPassword" autocomplete="off" type="password" v-model="login.password" required="" placeholder="Password">
                                    <p v-if="errorVariable" class="text-danger" style="color:red !important"> Wrong email or password</p>
                                    <input autocomplete="off" type="submit" class="login-form__button-submit login___button_" @click.prevent="loginCall" value="Login">
                                    <p class="mobile-login__forgot-pass mb"> Forgot your password?</p>
                                    <p class="mobile-login__forgot-pass mobile-login__forgot-pass--sign-up" @click="registercall">Sign Up with Email</p>
                                </form>
                            </div>
                        </div><i id="login-page-go-down-button-2" class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
            </div>
            <div>
                <div id="footer" class="">
                    <div class="container">
                        <div class="top row">
                            <div class="col-sm-12">
                                <ul class="list-inline social text-center">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank">FAQ</a></li>
                                <li><a class="#" href="/terms">Terms</a></li>
                                <li><a class="#" href="/privacy">Privacy</a></li>
                                <li><a class="#" href="/press">Press</a></li>
                                <li><a href="#" target="_blank">Affiliate Program</a></li>
                                <li><a href="#" target="_blank">Fair Housing</a></li>
                                <li><a href="#" target="_blank">Blog</a></li>
                            </ul>
                        </div>
                        <div class="copyright text-center">GettingRoom © 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div>
        <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; position: fixed; visibility: hidden; display: block; transition: right 0.3s ease 0s; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px;">
            <div class="grecaptcha-logo">
                <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdAYI8UAAAAAJ4RdDYTwdqwJm4_sClc2d2ere0E&amp;co=aHR0cHM6Ly93d3cucm9vbXN0ZXIuY29tOjQ0Mw..&amp;hl=en-GB&amp;v=v1563777128698&amp;size=invisible&amp;cb=eavoc3mk011t" width="256" height="60" role="presentation" name="a-rdaw2fo7g1lr" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
            </div>
            <div class="grecaptcha-error"></div>
            <textarea id="g-recaptcha-response-100000" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
        </div>
    </div>
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div>
                <iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=44#channel=f31eca8aab73fe8&amp;origin=https%3A%2F%2Fwww.roomster.com" style="border: none;"></iframe>
            </div>
            <div>
                <iframe name="fe485d6b0cf0ac" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/connect/ping?client_id=2395669880&amp;domain=www.roomster.com&amp;origin=1&amp;redirect_uri=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df1f3dccbb6c9ef%26domain%3Dwww.roomster.com%26origin%3Dhttps%253A%252F%252Fwww.roomster.com%252Ff31eca8aab73fe8%26relation%3Dparent&amp;response_type=token%2Csigned_request&amp;sdk=joey" style="display: none;"></iframe>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                mailError:'',
                passwordError:'',
                errorClass:'',
                errorVariable:false,
                registerData:{
                    email:'',
                    password:'',
                    first_name:'',
                    last_name:'',
                    day:'',
                    month:'',
                    year:'',
                    gender:''
                },
                login:{
                    email:'',
                    password:''
                }
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            register(){
                axios.post('/register',this.registerData).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }
                    this.$router.push('/newlisting');
                }).catch(error=>{
                    this.errorVariable = true;
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            registercall(){
                this.$router.push('/register/mail');
            },
            loginCall(){
                axios.post('/login',this.login).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }
                    window.location.href = "/myprofile";
                }).catch(error=>{
                    this.errorVariable = true;
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            checkMail(){
                if (!this.validEmail(this.login.email)) {
                    this.mailError = 'input-error';
                }else {
                    this.mailError = '';
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            checkPassword(){
                if(!this.login.password){
                    this.passwordError = 'input-error';
                }else {
                    this.passwordError = '';
                }
            }
        }
    };
</script>
<style>
    .login-form__button-submit:active{padding-right: 1px!important;}
</style>
