<template>
<div>
    <div class="wrapper">
        <div class="megaphone">

            <div class="title-main"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/7192b8279c3decf1491c60d589886f17.png">Megaphone</div>
            <div class="container-listing">
                <div class="__block_listing">
                    <div class="title">1. Choose a listing</div>
                    <div class="content" dir="ltr">
                        <div class="slick-initialized slick-slider"><a class="slick-arrow slick-prev slick-disabled" data-role="none" currentslide="0" style="display: block;" slidecount="1"><i class="chevron chevron-left"></i></a>
                            <div class="slick-list">
                                <div class="slick-track" style="opacity: 1; transform: translate3d(-74px, 0px, 0px); width: 3900px;">
                                    <div class="slick-slide slick-active listing_item" data-index="0" tabindex="-1" style="outline: none;">
                                        <div class="overlay_item"></div>
                                        <div class="top_listing_item"><img src="" alt="Description coming soon">
                                            <div class="_price"><span class="currency">$</span><span class="__price">1200</span><span class="currency mr">USD</span><span>per month</span></div>
                                        </div>
                                        <div class="bottom_listing_item chosen-block"><span>Roommate</span><span>|</span><span>New York, NY, USA</span></div>
                                        <div class="opacity-hidden"><span>Roommate</span><span>|</span><span>New York, NY, USA</span></div>
                                    </div>
                                </div>
                            </div><a class="slick-arrow slick-next slick-disabled" data-role="none" currentslide="0" style="display: block;" slidecount="1"><i class="chevron chevron-right"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="container-filter">
                <div class="content_filters_megaphone">
                    <div class="title">2. Target your audience</div>
                    <div class="inner_content_filters">
                        <div class="left">
                            <div class="members_found">
                                <div class="circle_found">
                                    <div class="inner_circle">1.4k</div>
                                </div>
                                <div class="members_found_text">members found</div>
                            </div>
                            <div class="title_text">Promote your listing to 1438 members who are offering a room in your area.</div>
                            <div class="default_text">
                                <div class="title_default_text">Get started with following messages:</div>
                                <div class="chosen-text">I am interested in renting your room. Is yours still available?</div>
                                <div class="chosen-text">When can I see the available room?</div>
                                <div class="chosen-text">Do you allow pets?</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="content_filters __show">
                                <div class="budget_block __blocks">
                                    <div class="title_budget_block __title">
                                        <div>Budget</div>
                                        <div>{{valuea[0]}} - {{valuea[1]}}</div>
                                    </div>
                                    <div class="content budget" dir="ltr">
                                        <vue-slider
                                                :min="0"
                                                :max="5000"
                                                v-model="valuea"
                                                :tooltip="'none'"
                                                :enable-cross="false"
                                        ></vue-slider>
                                    </div>
                                </div>
                                <div class="age_block __blocks">
                                    <div class="title_age_block __title">
                                        <div>Age</div>
                                        <div>{{valueb[0]}} - {{valueb[1]}}</div>
                                    </div>
                                    <div class="content age" dir="ltr">
                                        <vue-slider
                                                :min="18"
                                                :max="99"
                                                v-model="valueb"
                                                :tooltip="'none'"
                                                :enable-cross="false"
                                        ></vue-slider>
                                    </div>
                                </div>
                                <div class="__chosen_block __blocks household_sex">
                                    <div class="title__chose_block household_sex">Household Sex</div>
                                    <div class="content household_sex">
                                        <div class="chosen_block household_sex household_sex_1258548">Female</div>
                                        <div class="chosen_block household_sex household_sex_1258549">Male</div>
                                        <div class="chosen_block household_sex household_sex_1258550">Co-ed</div>
                                        <div class="chosen_block isChosen household_sex household_sex_1258560">Everyone</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send_message"><i class="icon-mess fa fa-arrow-circle-up false"></i>
                    <div class="_input-message-text" data-text="Write a message..." contenteditable="true"></div>
                    <button>Send message</button>
                </div>
            </div>
            <div class="modal-default">
                <div class="overlay-default"></div>
                <div class="modal-inner">
                    <div class="inner">
                        <div class="content_block">
                            <div class="_title_default_text">Use short messages to get started</div>
                            <div class="inner_content">
                                <div class="chosen-text">I am interested in renting your room. Is yours still available?</div>
                                <div class="chosen-text">When can I see the available room?</div>
                                <div class="chosen-text">Do you allow pets?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="gray_background_footer">
        <div class="container">
            <div class="top row">
                <div class="col-sm-12">
                    <ul class="list-inline social text-center">
                        <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="links text-center">
                <ul class="list-inline">
                    <li><a href="" target="_blank">FAQ</a></li>
                    <li><a class="" href="">Terms</a></li>
                    <li><a class="" href="">Privacy</a></li>
                    <li><a class="" href="">Press</a></li>
                    <li><a href="https://gettingroom.com/affiliate" target="_blank">Affiliate Program</a></li>
                    <li><a href="" target="_blank">Fair Housing</a></li>
                    <li><a href="" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="copyright text-center">gettingroom © 2019</div>
        </div>
    </div>
</div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    export default {
        components: {
            VueSlider
        },

        mixins: [],

        data () {
            return {
                valuea:[0,5000],
                valueb:[18,99],
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            //
        }
    };
</script>
<style>
    .vue-slider-process {
        background-color: #47a40e;
    }
    .vue-slider-dot{width: 25px !important; height: 25px !important;}
</style>
