<template>
    <div class="wrapper">
        <div v-if="ajaxProcess" class="text-center">
            <Spinner name="ball-pulse-sync" color="green"/>
        </div>
        <div v-else>
            <div id="edit-listing-page" class="ios-overflow">
                <div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div class="edit-listing-container">
                            <div class="forms-container">
                                <div class="option-buttons top-submit">
                                    <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                    <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                                </div>
                                <div class="basic-form">
                                    <div>
                                        <div class="headline">Headline</div>
                                        <input autocomplete="off" class="headline-input" v-model="headline" :class="errorClass">
                                    </div>
                                    <div class="location">
                                        <i class="icon__location"></i>
                                        <span style="margin-left: 15px;">Location</span>
                                    </div>
                                    <div class="input-autocomplete">
                                        <div class="display__flex">
                                            <span class="icon__location"></span>
                                            <input name="location" autocomplete="off" id="modal-filters-BasicForm"
                                                   placeholder="Example: 'New York, NY'"
                                                   class="headline-input google-place-input form-ready-for-bubble" :class="errorClass">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-types">
                                            <img class="listing-icon icon__apartment-types" src="https://d1frv26ioc12ph.cloudfront.net/dist/6c2b57b0f6c06eb65cf4ea4ceaa0b07e.png" style="margin-left: -2px; width: 31px; height: 31px;">
                                            <span style="margin-left: 15px; font-size: 18px;">Apartments Types</span>
                                        </div>
                                        <div class="form-types__list">
                                            <div class="row">
                                                <div class="col-sm-6 checkbox" v-for="(option,i) in apartmentTypes" :key="i">
                                                    <label>
                                                        <input autocomplete="off" type="checkbox" v-model="option.checked">
                                                        <span class="custom-checkbox"><i class="icon-check"></i></span>{{ option.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rental-rates">
                                        <i class="icon__dollars"></i>
                                        <span style="margin-left: 10px;">Monthly Rental Rate</span>
                                    </div>
                                    <div class="rental-container">
                                        <div class="left-content">
                                            <div class="currency">Currency</div>
                                            <div class="btn-group bootstrap-select full currency-dropdown"
                                                 :class="{ 'open': currencyDropdown }"> <!--class="open"-->
                                                <button type="button" class="btn dropdown-toggle btn-default"
                                                        data-toggle="dropdown" role="button" title="USD"
                                                        @click="openCurrency">
                                                    <span class="filter-option pull-left">{{ currency.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox">
                                                        <li v-for="(option,i) in currency.options" :key="i"
                                                            @click.prevent="currency.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-content" style="position: relative;">
                                            <div class="budget">Per month budget</div>
                                            <input autocomplete="off" type="number" pattern="\d*" placeholder="12345"
                                                   v-model="monthlyRent" class="budget-input" name="monthly_rent" :class="errorClass">
                                        </div>
                                    </div>
                                    <div class="duration"><i class="icon__clock"></i>
                                        <span style="margin-left: 10px;">Duration</span>
                                    </div>
                                    <div class="terms-container">
                                        <div class="short-term" :class="{ 'active': shortTermActive }"
                                             @click="shortTerm">
                                            <span>Short Term</span>
                                        </div>
                                        <div class="long-term" :class="{ 'active': !shortTermActive }"
                                             @click="longTerm">
                                            <span>Long Term</span>
                                        </div>
                                    </div>
                                    <div class="dates-container">
                                        <div class="left-date-container">
                                            <div class="move-by">Move Date</div>
                                            <div>
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container">
                                                        <input type="date" name="move_date" class="date-start" v-model="duration.moveDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="center-date-container" v-if="shortTermActive">
                                            <div>
                                                <div class="leave-by">Leave By</div>
                                                <div>
                                                    <div class="react-datepicker-wrapper">
                                                        <div class="react-datepicker__input-container">
                                                            <input type="date" name="leave_date" class="date-end" v-model="duration.leaveDate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="description" class="description-form">
                                    <div class="box border">
                                        <div class="row">
                                            <div class="col-sm-12 list-title">
                                                <div class="description">
                                                    <i class="icon__description"></i>
                                                    <span style="margin-left: 20px;">Description</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="info">
                                                    Try to have at least 20 words. Our most successful listings are more than 160 words long.
                                                </span>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="help-block" style="margin-top: 0px;">
                                                    HTML, emails and phone numbers will be removed.
                                                </span>
                                                <textarea class="form-control" maxlength="2000" name="description"
                                                          v-model="description" :class="errorClass"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="amenities" class="box border" style="margin-top: 0px;">
                                        <div class="row">
                                            <div class="col-md-4 list-title" style="display: flex;">
                                                <i class="icon__amenities-preferences"></i>
                                                <span style="margin-left: 17px;">Amenities</span>
                                            </div>
                                            <div class="col-md-12" style="margin-top: 15px; padding-left: 5px;">
                                                <div class="col-sm-6 checkbox" v-for="(option,i) in amenities" :key="i">
                                                    <label>
                                                        <input autocomplete="off" type="checkbox" v-model="option.checked">
                                                        <span class="custom-checkbox"><i class="icon-check"></i></span>{{ option.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title"><span>Is Furnished</span></div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-6 col-md-6 radio">
                                                    <label>
                                                        <input autocomplete="off" type="radio" v-model="isFurnished" value="Yes">
                                                        <span class="custom-radio"></span>Yes
                                                    </label>
                                                </div>
                                                <div class="col-sm-6 col-md-6 radio">
                                                    <label>
                                                        <input autocomplete="off" type="radio" v-model="isFurnished" value="No">
                                                        <span class="custom-radio"></span>No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-buttons bottom-submit" style="margin-top: 35px; margin-bottom: 20px;">
                                    <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                    <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                                </div>
                            </div>
                            <div class="listing__container custom_width_edit_listing">
                                <div class="listing-user__container">
                                    <div>
                                        <div class="image__container">
                                            <router-link to="/myprofile" target="_blank">
                                                <img :src="loggedUser.avatar"
                                                     alt="User Profile Photo">
                                                <i class="fa fa-check"></i>
                                            </router-link>
                                        </div>
                                        <div class="aside-content-container text-center">
                                            <div class="listing-user__name">
                                                <router-link to="/myprofile" target="_blank">
                                                    <span class="link">{{ loggedUser.first_name }}</span>
                                                </router-link>
                                            </div>
                                            <div class="listing-user__age listing-user__gender">
                                            <span>{{ loggedUser.age }},
                                                <i v-if="loggedUser.gender === 'Male'" class="icon__male"></i>
                                                <i v-if="loggedUser.gender === 'Female'" class="icon__female"></i>
                                            </span>
                                            </div>
                                            <span class="green-text"></span>
                                            <router-link to="/myprofile" target="_blank">
                                            <span class="btn btn-primary message__send-message own-profile-btn">
                                                <span id="my-profile-btn">View my profile</span></span>
                                            </router-link>
                                            <div class="border-line hidden"></div>
                                            <div class="phone__container hidden">
                                                <div class="phone">
                                                    <i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i>
                                                    <span class="phone__number" dir="ltr"
                                                          style="color: rgb(102, 102, 102);">{{ loggedUser.mobile }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "NeedEntirePlace",

        mounted() {
            axios.get('/single/apartment/'+(this.id))
                .then(resp => {
                    this.apartments = resp.data;
                    this.headline = this.apartments[0].headline;
                    this.lat = this.apartments[0].lat;
                    this.lng = this.apartments[0].lng;
                    this.location = this.apartments[0].location;
                    this.monthlyRent = this.apartments[0].monthly_rent;
                    this.currency.selected = this.apartments[0].rental_currency;
                    this.apartmentTypes.studio.checked = this.apartments[0].is_studio;
                    this.apartmentTypes.oneBed.checked = this.apartments[0].is_one_bed;
                    this.apartmentTypes.twoBed.checked = this.apartments[0].is_two_bed;
                    this.apartmentTypes.threeBed.checked = this.apartments[0].is_three_bed;
                    this.apartmentTypes.fourBed.checked = this.apartments[0].is_four_bed;
                    this.apartmentTypes.fiveBed.checked = this.apartments[0].is_five_bed;
                    this.monthlyRent = this.apartments[0].monthly_rent;
                    this.currency.selected = this.apartments[0].rental_currency;
                    this.shortTermActive = this.apartments[0].is_short_term;
                    this.duration.moveDate = this.apartments[0].move_date;
                    this.duration.leaveDate = this.apartments[0].leave_date;
                    this.description = this.apartments[0].description;
                    this.amenities.highRise.checked = this.apartments[0].is_high_rise;
                    this.amenities.lowRise.checked = this.apartments[0].is_low_rise;
                    this.amenities.disabilityAccess.checked = this.apartments[0].have_disability_access;
                    this.amenities.doorman.checked = this.apartments[0].have_doorman;
                    this.amenities.elevator.checked = this.apartments[0].have_elevator;
                    this.amenities.walkup.checked = this.apartments[0].have_walkup;
                    this.amenities.healthClub.checked = this.apartments[0].have_health_club;
                    this.amenities.laundromat.checked = this.apartments[0].have_laundromat;
                    this.amenities.coveredParking.checked = this.apartments[0].have_covered_parking;
                    this.amenities.garage.checked = this.apartments[0].have_garage;
                    this.amenities.parkingLot.checked = this.apartments[0].have_parking_lot;
                    this.amenities.streetParking.checked = this.apartments[0].have_street_parking;
                    this.amenities.nearBusStop.checked = this.apartments[0].have_near_bus_stop;
                    this.amenities.nearSubway.checked = this.apartments[0].have_near_subway;
                    this.amenities.electronicSecurity.checked = this.apartments[0].have_electronic_security;
                    this.amenities.security.checked = this.apartments[0].have_security;
                    this.amenities.swimmingPool.checked = this.apartments[0].have_swimming_pool;
                    this.amenities.internet.checked = this.apartments[0].have_internet;
                    this.amenities.wirelessInternet.checked = this.apartments[0].have_wireless_internet;
                    if(this.apartments[0].is_furnished == 1){
                        this.isFurnished = 'Yes';
                    }else{
                         this.isFurnished = 'No';
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
                
            var SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-BasicForm'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                this.location = place.formatted_address;
                console.log(this.location);
                this.modifiedlocation = this.location.replace(" ","_");
                this.lat = place.geometry.location.lat();
                this.lng = place.geometry.location.lng();
            });
        },

        data() {
            return {
                errorClass:'',
                ajaxProcess:false,
                currencyDropdown: false,
                shortTermActive: false,
                modifiedlocation:null,
                apartments : [],
                lat:null,
                lng:null,
                currency: {
                    selected: 'USD',
                    options: ['AED', 'ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'TWD', 'UAH', 'USD', 'VND', 'ZAR']
                },
                headline: null,
                location: null,
                monthlyRent: null,
                duration: {
                    moveDate: new Date().toJSON().slice(0,10),
                    leaveDate: null
                },
                description: null,
                apartmentTypes: {
                    studio: { name: 'Studio', checked: false },
                    oneBed: { name: '1 Bedroom', checked: false },
                    twoBed: { name: '2 Bedrooms', checked: false },
                    threeBed: { name: '3 Bedrooms', checked: false },
                    fourBed: { name: '4 Bedrooms', checked: false },
                    fiveBed: { name: '5 Bedrooms', checked: false }
                },
                isFurnished: 'No',
                amenities: {
                    highRise: { name: 'High-rise', icon: '', checked: false },
                    lowRise: { name: 'Low-rise', icon: '', checked: false },
                    disabilityAccess: { name: 'Disability Access', icon: '', checked: false },
                    doorman: { name: 'Doorman', icon: '', checked: false },
                    elevator: { name: 'Elevator', icon: '', checked: false },
                    walkup: { name: 'Walkup', icon: '', checked: false },
                    healthClub: { name: 'Health Club', icon: '', checked: false },
                    laundromat: { name: 'Laundromat', icon: '', checked: false },
                    coveredParking: { name: 'Covered Parking', icon: '', checked: false },
                    garage: { name: 'Garage', icon: '', checked: false },
                    parkingLot: { name: 'Parking Lot', icon: '', checked: false },
                    streetParking: { name: 'Street Parking', icon: '', checked: false },
                    nearBusStop: { name: 'Near Bus Stop', icon: '', checked: false },
                    nearSubway: { name: 'Near Subway', icon: '', checked: false },
                    electronicSecurity: { name: 'Electronic Security', icon: '', checked: false },
                    security: { name: 'Security', icon: '', checked: false },
                    swimmingPool: { name: 'Swimming Pool', icon: '', checked: false },
                    internet: { name: 'Internet', icon: '', checked: false },
                    wirelessInternet: { name: 'Wireless Internet', icon: '', checked: false }
                }
            }
        },

        props: {
            id: Number,
            loggedUser: { type: Object, default: null }
        },

        methods: {
            openCurrency() {
                this.currencyDropdown = !this.currencyDropdown;
            },
            longTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = false;
            },
            shortTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = true;
            },
            submitForm() {
                this.ajaxProcess = true;
                const postData = {
                    headline: this.headline,
                    location: this.location,
                    longitude:this.lng,
                    latitude:this.lat,
                    monthly_rent: this.monthlyRent,
                    rental_currency: this.filterSelection(this.currency.selected),
                    is_short_term: this.shortTermActive,
                    move_date: this.duration.moveDate,
                    leave_date: this.duration.leaveDate,
                    description: this.description,
                    is_studio: this.apartmentTypes.studio.checked,
                    is_one_bed: this.apartmentTypes.oneBed.checked,
                    is_two_bed: this.apartmentTypes.twoBed.checked,
                    is_three_bed: this.apartmentTypes.threeBed.checked,
                    is_four_bed: this.apartmentTypes.fourBed.checked,
                    is_five_bed: this.apartmentTypes.fiveBed.checked,
                    is_furnished: this.makeBoolean(this.isFurnished),
                    is_high_rise: this.amenities.highRise.checked,
                    is_low_rise: this.amenities.lowRise.checked,
                    have_disability_access: this.amenities.disabilityAccess.checked,
                    have_doorman: this.amenities.doorman.checked,
                    have_elevator: this.amenities.elevator.checked,
                    have_walkup: this.amenities.walkup.checked,
                    have_health_club: this.amenities.healthClub.checked,
                    have_laundromat: this.amenities.laundromat.checked,
                    have_covered_parking: this.amenities.coveredParking.checked,
                    have_garage: this.amenities.garage.checked,
                    have_parking_lot: this.amenities.parkingLot.checked,
                    have_street_parking: this.amenities.streetParking.checked,
                    have_near_bus_stop: this.amenities.nearBusStop.checked,
                    have_near_subway: this.amenities.nearSubway.checked,
                    have_electronic_security: this.amenities.electronicSecurity.checked,
                    have_security: this.amenities.security.checked,
                    have_swimming_pool: this.amenities.swimmingPool.checked,
                    have_internet: this.amenities.internet.checked,
                    have_wireless_internet: this.amenities.wirelessInternet.checked
                };

                window.axios.post('/needapartment/new', postData)
                    .then(response => {
                        this.ajaxProcess = false;
                        this.$router.push({ name: 'ListingAtenant', params: { place: this.modifiedlocation } })
                    })
                    .catch(error => {
                        this.ajaxProcess = false;
                        this.errorClass = 'input-error';
                        console.log(error.response.data);
                    });
            },
            filterSelection(option) {
                if ('Select' !== option) { return option; }
                return null;
            },
            makeBoolean(option) {
                return 'Yes' === option;
            },
            cancelForm(){
                this.$router.push('/newlisting');
            }
        }
    };
</script>
