<template>
    <div class="wrapper">
        <div id="edit-listing-page" class="ios-overflow">
            <div>
                <div style="width: 100%; display: flex; justify-content: center;">
                    <div class="edit-listing-container">
                        <div class="forms-container">
                            <div class="option-buttons top-submit">
                                <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                            </div>

                            <div class="basic-form">
                                <div>
                                    <div class="headline">Headline</div>
                                    <input autocomplete="off" class="headline-input" placeholder="" name="headline"
                                           v-model="headline">
                                </div>
                                <div class="location">
                                    <i class="icon__location"></i>
                                    <span style="margin-left: 15px;">Location</span>
                                </div>
                                <div class="input-autocomplete">
                                    <div class="display__flex">
                                        <span class="icon__location"></span>
                                        <input name="location" type="text"  id="modal-filters-BasicForms"
                                               placeholder="Example: 'New York, NY'"
                                               class="headline-input google-place-input form-ready-for-bubble" :value="location">
                                    </div>
                                </div>
                                <div class="rental-rates">
                                    <i class="icon__dollars"></i>
                                    <span style="margin-left: 10px;">Monthly Rental Rate</span>
                                </div>
                                <div class="rental-container">
                                    <div class="left-content">
                                        <div class="currency">Currency</div>
                                        <div class="btn-group bootstrap-select full currency-dropdown"
                                             :class="{ 'open': currencyDropdown }"> <!--class="open"-->
                                            <button type="button" class="btn dropdown-toggle btn-default"
                                                    data-toggle="dropdown" role="button" title="USD"
                                                    @click="openCurrency">
                                                <span class="filter-option pull-left">{{ currency.selected }}</span>
                                                <span class="bs-caret"><span class="caret"></span></span>
                                            </button>
                                            <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                <ul class="dropdown-menu inner" role="listbox">
                                                    <li v-for="(option,i) in currency.options" :key="i"
                                                        @click.prevent="currency.selected = option">
                                                        <a tabindex="0" data-tokens="null" role="option">
                                                            <span class="text">{{ option }}</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-content" style="position: relative;">
                                        <div class="budget">Per month budget</div>
                                        <input autocomplete="off" type="number" pattern="\d*" placeholder="12345"
                                               v-model="monthlyRent" class="budget-input" name="monthly_rent">
                                    </div>
                                </div>
                                <div class="duration"><i class="icon__clock"></i>
                                    <span style="margin-left: 10px;">Duration</span>
                                </div>
                                <div class="terms-container">
                                    <div class="short-term" :class="{ 'active': shortTermActive }"
                                         @click="shortTerm">
                                        <span>Short Term</span>
                                    </div>
                                    <div class="long-term" :class="{ 'active': !shortTermActive }"
                                         @click="longTerm">
                                        <span>Long Term</span>
                                    </div>
                                </div>
                                <div class="dates-container">
                                    <div class="left-date-container">
                                        <div class="move-by">Move Date</div>
                                        <div>
                                            <div class="react-datepicker-wrapper">
                                                <div class="react-datepicker__input-container">
                                                    <input type="date" name="move_date" class="date-start" v-model="duration.moveDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-date-container" v-if="shortTermActive">
                                        <div>
                                            <div class="leave-by">Leave By</div>
                                            <div>
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container">
                                                        <input type="date" name="move_date" class="date-start" v-model="moveDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="center-date-container">
                                            <div v-if="shortTermActive">
                                                <div class="leave-by">Leave By</div>
                                                <div>
                                                    <div class="react-datepicker-wrapper">
                                                        <div class="react-datepicker__input-container">
                                                            <input type="date" name="leave_date" class="date-end" v-model="leaveDate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="description" class="description-form">
                                <div class="box border">
                                    <div class="row">
                                        <div class="col-sm-12 list-title">
                                            <div class="description">
                                                <i class="icon__description"></i>
                                                <span style="margin-left: 20px;">Description</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="info">
                                                Try to have at least 20 words. Our most successful listings are more than 160 words long.
                                            </span>
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="help-block" style="margin-top: 0px;">
                                                HTML, emails and phone numbers will be removed.
                                            </span>
                                            <textarea class="form-control" maxlength="2000" name="description"
                                                      v-model="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lifestyle-form">
                                <div class="lifestyle" style="margin-bottom: 10px; margin-top: 0px;">
                                    <i class="icon__lifestyle"></i>
                                    <span style="margin-left: 12px;"></span>Lifestyle
                                </div>
                                <div class="box border">
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">My Cleanliness</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ cleanliness.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox" >
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in cleanliness.options" :key="i"
                                                            :class="{ 'selected': option === cleanliness.selected }"
                                                            @click.prevent="cleanliness.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Overnight Guests</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ overnightGuests.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in overnightGuests.options" :key="i"
                                                            :class="{ 'selected': option === overnightGuests.selected }"
                                                            @click.prevent="overnightGuests.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{option}}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Party Habits</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ partyHabits.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in partyHabits.options" :key="i"
                                                            :class="{ 'selected': option === partyHabits.selected }"
                                                            @click.prevent="partyHabits.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Get Up</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ getUp.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in getUp.options" :key="i"
                                                            :class="{ 'selected': option === getUp.selected }"
                                                            @click.prevent="getUp.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Go To Bed</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ goToBed.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in goToBed.options" :key="i"
                                                            :class="{ 'selected': option === goToBed.selected }"
                                                            @click.prevent="goToBed.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Food Preference</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width">
                                                <!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ foodPreference.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in foodPreference.options" :key="i"
                                                            :class="{ 'selected': option === foodPreference.selected }"
                                                            @click.prevent="foodPreference.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Smoker</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ smoker.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in smoker.options" :key="i"
                                                            :class="{ 'selected': option === smoker.selected }"
                                                            @click.prevent="smoker.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Work Schedule</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ workSchedule.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in workSchedule.options" :key="i"
                                                            :class="{ 'selected': option === workSchedule.selected }"
                                                            @click.prevent="workSchedule.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title">Occupation</div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                <button type="button"
                                                        class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ occupation.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in occupation.options" :key="i"
                                                            :class="{ 'selected': option === occupation.selected }"
                                                            @click.prevent="occupation.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="roommate-preference" class="roommate-preference " style="margin-top: 45px;">
                                    <i class="icon__roommate-preference"></i><span style="margin-left: 10px;">Flatmate preference</span>
                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-sm-4 row-title"><span>Age</span></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-2"
                                                 style="color: rgb(96, 173, 36); font-size: 17px; white-space: nowrap;">{{agarange[0]}}-{{agarange[1]}}
                                            </div>
                                            <div class="col-sm-10" style="margin-top: 4px;">
                                                <div aria-disabled="false" class="input-range">
                                                    <!----Fuck you----->
                                                    <vue-slider
                                                            :min="18"
                                                            :max="99"
                                                            v-model="agarange"
                                                            :tooltip="'none'"
                                                            :enable-cross="false"
                                                    ></vue-slider>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-sm-4 row-title"><span>Smoke Preference</span></div>
                                    <div class="col-sm-8">
                                        <div class="btn-group bootstrap-select full input-big-width"> <!--open-->
                                            <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                    data-toggle="dropdown" role="button" title="Select">
                                                <span class="filter-option pull-left">{{ preferSmoker.selected }}</span>
                                                <span class="bs-caret"><span class="caret"></span></span>
                                            </button>
                                            <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                    <li v-for="(option,i) in preferSmoker.options" :key="i"
                                                        :class="{ 'selected': option === preferSmoker.selected }"
                                                        @click.prevent="preferSmoker.selected = option">
                                                        <a tabindex="0" class="" data-tokens="null" role="option"
                                                           aria-disabled="false" aria-selected="true">
                                                            <span class="text">{{ option }}</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pos">
                                    <div class="col-sm-4"><span>Students Only</span></div>
                                    <div class="col-sm-8">
                                        <div class="col-sm-6 col-md-5 radio">
                                            <label>
                                                <input autocomplete="off" type="radio" v-model="preferStudent" value="Yes">
                                                <span class="custom-radio"></span>Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-6 col-md-4 radio">
                                            <label>
                                                <input autocomplete="off" type="radio" v-model="preferStudent" value="No">
                                                <span class="custom-radio"></span>No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="pets-preference" style="margin-top: 80px;">
                                    <i class="icon__pets"></i>
                                    <span style="margin-left: 10px;">Pets Preference</span>
                                </div>
                                <div class="row pos"><span class="col-sm-4">Do you have pets?</span>
                                    <div class="col-sm-8">
                                        <div class="checkbox animal" v-for="(pet,i) in havePets" :key="i">
                                            <label>
                                                <input autocomplete="off" type="checkbox" v-model="pet.checked">
                                                <span class="custom-checkbox"><i :class="pet.icon"></i></span>{{ pet.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pos">
                                    <span class="col-sm-4">Pets Preference</span>
                                    <div class="col-sm-8">
                                        <div class="checkbox animal" v-for="(pet,i) in preferPets" :key="i">
                                            <label>
                                                <input autocomplete="off" type="checkbox" v-model="pet.checked">
                                                <span class="custom-checkbox"><i :class="pet.icon"></i></span>{{ pet.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-buttons bottom-submit"
                                 style="margin-top: 35px; margin-bottom: 20px;">
                                <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                            </div>
                        </div>
                        <div class="listing__container custom_width_edit_listing">
                            <div class="listing-user__container">
                                <div>
                                    <div class="image__container">
                                        <router-link to="/myprofile" target="_blank">
                                            <img :src="loggedUser.avatar"
                                                 alt="User Profile Photo">
                                            <i class="fa fa-check"></i>
                                        </router-link>
                                    </div>
                                    <div class="aside-content-container text-center">
                                        <div class="listing-user__name">
                                            <router-link to="/myprofile" >
                                                <span class="link">{{ loggedUser.first_name }}</span>
                                            </router-link>
                                        </div>
                                        <div class="listing-user__age listing-user__gender">
                                            <span>{{ loggedUser.age }},
                                                <i v-if="loggedUser.gender === 'Male'" class="icon__male"></i>
                                                <i v-if="loggedUser.gender === 'Female'" class="icon__female"></i>
                                            </span>
                                        </div>
                                        <span class="green-text"></span>
                                        <router-link to="/myprofile">
                                            <span class="btn btn-primary message__send-message own-profile-btn">
                                                <span id="my-profile-btn">View my profile</span></span>
                                        </router-link>
                                        <div class="border-line hidden"></div>
                                        <div class="phone__container hidden">
                                            <div class="phone">
                                                <i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i>
                                                <span class="phone__number" dir="ltr"
                                                      style="color: rgb(102, 102, 102);">{{ loggedUser.mobile }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'

    export default {
        name: "NeedRoom",
        mounted: function () {
             axios.get('/single/room/'+(this.id))
                .then(resp => {
                    
                    this.rooms = resp.data;
                    this.headline = this.rooms[0].headline;
                    this.location = this.rooms[0].location;
                    this.lat = this.rooms[0].lat;
                    this.lng = this.rooms[0].lng;
                    this.monthlyRent = this.rooms[0].monthly_rent;
                    if(this.rooms[0].rental_currency !== null){
                        this.currency.selected = this.rooms[0].rental_currency;
                    };
                    this.shortTermActive = this.rooms[0].is_short_term;
                    this.duration.moveDate = this.rooms[0].move_date;
                    this.duration.leaveDate = this.rooms[0].leave_date;
                    this.description = this.rooms[0].description;
                    if(this.rooms[0].rental_currency !== null){
                        this.currency.selected = this.rooms[0].rental_currency;
                    };

                    if(this.rooms[0].cleanliness !== null){
                        this.cleanliness.selected = this.rooms[0].cleanliness;
                    };
                    if(this.rooms[0].overnight_guests !== null){
                        this.overnightGuests.selected = this.rooms[0].overnight_guests;
                    };
                    if(this.rooms[0].party_habits !== null){
                        this.partyHabits.selected = this.rooms[0].party_habits;
                    };
                    if(this.rooms[0].get_up !== null){
                        this.getUp.selected = this.rooms[0].get_up;
                    };
                    if(this.rooms[0].go_to_bed !== null){
                        this.goToBed.selected = this.rooms[0].go_to_bed;
                    };
                    if(this.rooms[0].food_preference !== null){
                        this.foodPreference.selected = this.rooms[0].food_preference;
                    };
                    if(this.rooms[0].smoker !== null){
                        this.currency.smoker = this.rooms[0].smoker;
                    };
                    if(this.rooms[0].work_schedule !== null){
                        this.workSchedule.selected = this.rooms[0].work_schedule;
                    };
                    if(this.rooms[0].occupation !== null){
                        this.occupation.selected = this.rooms[0].occupation;
                    };
                    this.agarange[0] = this.rooms[0].prefer_min_age;
                    this.agarange[1] = this.rooms[0].prefer_max_age;
                    if(this.rooms[0].prefer_smoker !== null){
                        this.preferSmoker.selected = this.rooms[0].prefer_smoker;
                    };
                    
                    this.havePets.cats.checked = this.rooms[0].have_cats;
                    this.havePets.dogs.checked = this.rooms[0].have_dogs;
                    this.havePets.smallPets.checked = this.rooms[0].have_small_pets;
                    this.havePets.birds.checked = this.rooms[0].have_birds;
                    this.havePets.fish.checked = this.rooms[0].have_fish;
                    this.havePets.reptiles.checked = this.rooms[0].have_reptiles;
                    this.preferPets.cats.checked = this.rooms[0].prefer_cats;
                    this.preferPets.dogs.checked = this.rooms[0].prefer_dogs;
                    this.preferPets.smallPets.checked = this.rooms[0].prefer_small_pets;
                    this.preferPets.birds.checked = this.rooms[0].prefer_birds;
                    this.preferPets.fish.checked = this.rooms[0].prefer_fish;
                    this.preferPets.reptiles.checked = this.rooms[0].prefer_reptiles;
                    
                    if(this.rooms[0].prefer_student == 1){
                        this.preferStudent = 'Yes';
                    }else{
                         this.preferStudent = 'No';
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
            var SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-BasicForms'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                this.location = place.formatted_address;
                console.log(place);
                this.modifiedlocation = this.location;
                this.lat = place.geometry.location.lat();
                this.lng = place.geometry.location.lng();
            });
        },
        components: {
            VueSlider,
        },
        props: {
            id: Number,
            loggedUser: { type: Object, default: null }
        },
        data() {
            return {
                agarange:[18,99],
                currencyDropdown: false,
                shortTermActive: false,
                rooms: [],
                lat:null,
                lng:null,
                currency: {
                    selected: 'USD',
                    options: ['AED', 'ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'TWD', 'UAH', 'USD', 'VND', 'ZAR']
                },
                headline: null,
                location: null,
                modifiedlocation:null,
                monthlyRent: null,
                duration: {
                    moveDate: new Date().toJSON().slice(0,10),
                    leaveDate: null
                },
                description: null,
                cleanliness: {
                    selected: 'Select',
                    options: ['Select', 'Clean', 'Average', 'Messy']
                },
                overnightGuests: {
                    selected: 'Select',
                    options: ['Select', 'Never', 'Rarely', 'Occasionally', 'Often']
                },
                partyHabits: {
                    selected: 'Select',
                    options: ['Select', 'Rarely', 'Occasionally', 'Weekends', 'Daily']
                },
                getUp: {
                    selected: 'Select',
                    options: ['Select', 'Before 6AM', '6AM - 8AM', '8AM - 10AM', '10AM - 12AM', 'After 12AM']
                },
                goToBed: {
                    selected: 'Select',
                    options: ['Select', 'Before 8PM', '8PM - 10PM', '10PM - 12AM', '12AM - 2AM', 'After 2AM']
                },
                foodPreference: {
                    selected: 'Select',
                    options: ['Select', 'Almost Anything', 'Fish Only', 'Vegetarian', 'Vegan', 'Kosher']
                },
                smoker: {
                    selected: 'Select',
                    options: ['Select', 'No', 'Yes', 'Outside Only']
                },
                workSchedule: {
                    selected: 'Select',
                    options: ['Select', 'Professional (9-5)', 'Student', 'Work at Night', 'Work at Home', 'Mixed']
                },
                occupation: {
                    selected: 'Select',
                    options: ['Select', 'Accounting', 'Administration/Secretarial', 'Advertising', 'Architecture/Design', 'Automotive/Mechanical', 'Aviation/Aeronautical', 'Beauty/Fashion', 'Biology/Life Science', 'Broadcasting/Publishing', 'Consulting', 'Customer Service/Support', 'Creative/Media', 'Education/Tranining', 'Engineering', 'Finance/Banking', 'Government/Social Service', 'Health Services', 'Hospitality', 'Human Resource/Recruiting', 'IT/Computers', 'Insurance', 'Internet/Media', 'Law Enforcement/Security', 'Legal', 'Manufacturing/Production', 'Marketing/Public Relations', 'Military', 'Non-Profit', 'Other', 'Physical Science/Environment', 'Real Estate', 'Retail', 'Sales', 'Sports/Fitness', 'Student/Graduate', 'Student/Undergraduate', 'Telecommunications', 'Trades/Labor', 'Transportation/Logistic']
                },
                preferAge: { min: 18, max: 99 },
                preferSmoker: {
                    selected: 'Select',
                    options: ['Select', 'No', 'Yes', 'Outside Only']
                },
                preferStudent: 'No',
                havePets: {
                    cats: { name: 'Cats', icon: 'icon-cat', checked: false },
                    dogs: { name: 'Dogs', icon: 'icon-dog', checked: false },
                    smallPets: { name: 'Small Pets', icon: 'icon-pets', checked: false },
                    birds: { name: 'Birds', icon: 'icon-birds', checked: false },
                    fish: { name: 'Fish', icon: 'icon-fish', checked: false },
                    reptiles: { name: 'Reptiles', icon: 'icon-reptiles', checked: false }
                },
                preferPets: {
                    cats: { name: 'Cats', icon: 'icon-cat', checked: false },
                    dogs: { name: 'Dogs', icon: 'icon-dog', checked: false },
                    smallPets: { name: 'Small Pets', icon: 'icon-pets', checked: false },
                    birds: { name: 'Birds', icon: 'icon-birds', checked: false },
                    fish: { name: 'Fish', icon: 'icon-fish', checked: false },
                    reptiles: { name: 'Reptiles', icon: 'icon-reptiles', checked: false }
                }
            }
        },
        methods: {
            openCurrency() {
                this.currencyDropdown = !this.currencyDropdown;
            },
            longTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = false;
            },
            shortTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = true;
            },
            submitForm() {
                const postData = {
                    headline: this.headline,
                    location: this.location,
                    latitude:this.lat,
                    longitude:this.lng,
                    monthly_rent: this.monthlyRent,
                    rental_currency: this.filterSelection(this.currency.selected),
                    is_short_term: this.shortTermActive,
                    move_date: this.duration.moveDate,
                    leave_date: this.duration.leaveDate,
                    description: this.description,
                    cleanliness: this.filterSelection(this.cleanliness.selected),
                    overnight_guests: this.filterSelection(this.overnightGuests.selected),
                    party_habits: this.filterSelection(this.partyHabits.selected),
                    get_up: this.filterSelection(this.getUp.selected),
                    go_to_bed: this.filterSelection(this.goToBed.selected),
                    food_preference: this.filterSelection(this.foodPreference.selected),
                    smoker: this.filterSelection(this.smoker.selected),
                    work_schedule: this.filterSelection(this.workSchedule.selected),
                    occupation: this.filterSelection(this.occupation.selected),
                    prefer_min_age: this.agarange[0],
                    prefer_max_age: this.agarange[1],
                    prefer_smoker: this.filterSelection(this.preferSmoker.selected),
                    prefer_student: this.makeBoolean(this.preferStudent),
                    have_cats: this.havePets.cats.checked,
                    have_dogs: this.havePets.dogs.checked,
                    have_small_pets: this.havePets.smallPets.checked,
                    have_birds: this.havePets.birds.checked,
                    have_fish: this.havePets.fish.checked,
                    have_reptiles: this.havePets.reptiles.checked,
                    prefer_cats: this.preferPets.cats.checked,
                    prefer_dogs: this.preferPets.dogs.checked,
                    prefer_small_pets: this.preferPets.smallPets.checked,
                    prefer_birds: this.preferPets.birds.checked,
                    prefer_fish: this.preferPets.fish.checked,
                    prefer_reptiles: this.preferPets.reptiles.checked
                };

                window.axios.post('/needroom/new', postData)
                    .then(response => {
                        this.$router.push({ name: 'ListingAroomMateComponent', params: { place: this.modifiedlocation } })
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
            filterSelection(option) {
                if ('Select' !== option) { return option; }
                return null;
            },
            makeBoolean(option) {
                return 'Yes' === option;
            },
            cancelForm(){
                this.$router.push('/newlisting');
            }
        }
    }
</script>

<style>
    .vue-slider-process {
        background-color: #47a40e;
    }
    .vue-slider-dot{width: 25px !important; height: 25px !important;}
</style>