<template>
<div>
    <div class="wrapper bottom_footer_flex">
        <div class="mobile-new-listing-container">
            <div class="mobile-new-listing-container__wrapper">
                <h1 class="wrapper__header">What are you looking for?</h1>
                <div class="wrapper__switch-toggle">
                    <div class="choose-type">
                        <div class="blocks" :class="[ peopleSelected ? 'right' : 'left' ]" draggable="true" :style="{ 'left': peopleSelected ? '50%' : '0%' }"></div> <!--class="blocks right" style="left 50%"-->
                        <div class="text-block">
                            <div class="__left_block"
                                 :class="{ 'green': !peopleSelected }"
                                 @click="showPlacesOptions">Places</div>
                            <div class="__right_block"
                                 :class="{ 'green': peopleSelected }"
                                 @click="showPeopleOptions">People</div>
                        </div>
                    </div>
                </div>
                <div class="listing-types__wrapper"><span class="listing-types__wrapper_header">Select one:</span>
                    <div class="listing-types__wrapper-blocks">
                        <div class="listing-types__wrapper_left-block" style="position: relative"
                             @click="loadRoomForm">
                            <span :style="{'opacity': placesOpacity}"
                                  style="position:absolute; margin: 0 auto; left: 0; right: 0">
                                I'm looking for a room
                            </span>
                            <span :style="{'opacity': peopleOpacity}"
                                  style="position:absolute; margin: 0 auto; left: 0; right: 0">
                                I'm offering a room
                            </span>
                        </div>
                        <div class="listing-types__wrapper_right-block" style="position: relative"
                             @click="loadApartmentForm">
                            <span :style="{'opacity': placesOpacity}"
                                  style="position:absolute; margin: 0 auto; left: 0; right: 0">
                                I'm looking for an entire place
                            </span>
                            <span :style="{'opacity': peopleOpacity}"
                                  style="position:absolute; margin: 0 auto; left: 0; right: 0">
                                I'm offering an entire place
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="footer" class="gray_background_footer">
            <div class="container">
                <div class="top row">
                    <div class="col-sm-12">
                        <ul class="list-inline social text-center">
                            <li><a href="https://www.facebook.com/RoomsterCorp" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com/roomster" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/110760636620508942692" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://vimeo.com/roomsterroommates" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="https://www.youtube.com/user/roomsterroommates" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="http://pinterest.com/roomster/" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="http://roomster.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="https://www.instagram.com/roomster/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="links text-center">
                    <ul class="list-inline">
                        <li><a href="http://support.roomster.com/hc/en-us" target="_blank">FAQ</a></li>
                        <li><a class="" href="/terms">Terms</a></li>
                        <li><a class="" href="/privacy">Privacy</a></li>
                        <li><a class="" href="/press">Press</a></li>
                        <li><a href="https://roomster.com/affiliate" target="_blank">Affiliate Program</a></li>
                        <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                        <li><a href="http://blog.roomster.com/" target="_blank">Blog</a></li>
                    </ul>
                </div>
                <div class="copyright text-center">Roomster © 2019</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                placesOpacity: 1,
                peopleOpacity: 0,
                peopleSelected: false,
                roomFormUrl: '/needroom',
                apartmentFormUrl: '/needentireplace'
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {

        },

        methods: {
            showPlacesOptions() {
                this.peopleSelected = false;
                this.placesOpacity = 1;
                this.peopleOpacity = 0;
                this.roomFormUrl = '/needroom';
                this.apartmentFormUrl = '/needentireplace';
            },
            showPeopleOptions() {
                this.peopleSelected = true;
                this.placesOpacity = 0;
                this.peopleOpacity = 1;
                this.roomFormUrl = '/offeringroom';
                this.apartmentFormUrl = '/offeringentireplace';
            },
            loadRoomForm() {
                if (this.roomFormUrl) { this.$router.push(this.roomFormUrl); }
            },
            loadApartmentForm() {
                if (this.apartmentFormUrl) { this.$router.push(this.apartmentFormUrl) }
            }
        }
    };
</script>
