<template>
    <div class="wrapper">
        <div id="edit-listing-page" class="ios-overflow">
            <div>
                <div>
                    <div>
                        <div class="photos-form">
                            <div class="uploader"
                                 @dragenter="OnDragEnter"
                                 @dragleave="OnDragLeave"
                                 @dragover.prevent
                                 @drop="onDrop"
                                 :class="{ dragging: isDragging }">

                                <div class="upload-control" v-show="images.length">
                                    <label for="file">Select a file</label>
                                </div>


                                <div v-show="!images.length">
                                    <i class="fa fa-cloud-upload"></i>
                                    <p>Drag your images here</p>
                                    <div>OR</div>
                                    <div class="file-input">
                                        <label for="file">Select a file</label>
                                        <input type="file" id="file" @change="onInputChange" multiple>
                                    </div>
                                </div>

                                <div class="images-preview" v-show="images.length">
                                    <div class="img-wrapper" v-for="(image, index) in images" :key="index">
                                        <img :src="image" :alt="`Image Uplaoder ${index}`">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="anchors__container hidden-xs affix-top">
                        <div class="custom-container">
                            <div class="row">
                                <div class="anchor-set col-md-12 clearfix"><a class="anchor" @click.prevent="descr">Description</a>
                                    <a class="anchor" @click.prevent="ame">Amenities</a>
                                    <a class="anchor">Flatmate preference</a>
                                    <span style="flex-grow: 1;"></span>
                                    <a class="anchor cursor-default">$&nbsp;USD&nbsp;per month</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; display: flex; justify-content: center;">
                    <div class="edit-listing-container">
                        <div class="forms-container">
                            <div class="option-buttons top-submit">
                                <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                            </div>
                            <div class="basic-form">
                                <div>
                                    <div class="headline">Headline</div>
                                    <input autocomplete="off" class="headline-input" v-model="headline">
                                </div>
                                <div class="location">
                                    <i class="icon__location"></i>
                                    <span style="margin-left: 15px;">Location</span>
                                </div>
                                <div class="input-autocomplete">
                                    <div class="display__flex">
                                        <span class="icon__location"></span>
                                        <input name="location" autocomplete="off" id="modal-filters-BasicForm"
                                               placeholder="Example: 'New York, NY'"
                                               class="headline-input google-place-input form-ready-for-bubble" :value="location">
                                    </div>
                                </div>
                                <div class="rental-rates">
                                    <i class="icon__dollars"></i>
                                    <span style="margin-left: 10px;">Monthly Rental Rate</span>
                                </div>
                                <div class="rental-container">
                                    <div class="left-content">
                                        <div class="currency">Currency</div>
                                        <div class="btn-group bootstrap-select full currency-dropdown"
                                             :class="{ 'open': currencyDropdown }"> <!--class="open"-->
                                            <button type="button" class="btn dropdown-toggle btn-default"
                                                    data-toggle="dropdown" role="button" title="USD"
                                                    @click="openCurrency">
                                                <span class="filter-option pull-left">{{ currency.selected }}</span>
                                                <span class="bs-caret"><span class="caret"></span></span>
                                            </button>
                                            <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                <ul class="dropdown-menu inner" role="listbox">
                                                    <li v-for="(option,i) in currency.options" :key="i"
                                                        @click.prevent="currency.selected = option">
                                                        <a tabindex="0" data-tokens="null" role="option">
                                                            <span class="text">{{ option }}</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-content" style="position: relative;">
                                        <div class="budget">Per month budget</div>
                                        <input autocomplete="off" type="number" pattern="\d*" placeholder="12345"
                                               v-model="monthlyRent" class="budget-input" name="monthly_rent">
                                    </div>
                                </div>
                                <div class="duration"><i class="icon__clock"></i>
                                    <span style="margin-left: 10px;">Duration</span>
                                </div>
                                <div class="terms-container">
                                    <div class="short-term" :class="{ 'active': shortTermActive }"
                                         @click="shortTerm">
                                        <span>Short Term</span>
                                    </div>
                                    <div class="long-term" :class="{ 'active': !shortTermActive }"
                                         @click="longTerm">
                                        <span>Long Term</span>
                                    </div>
                                </div>
                                <div class="dates-container">
                                    <div class="left-date-container">
                                        <div class="move-by">Move Date</div>
                                        <div>
                                            <div class="react-datepicker-wrapper">
                                                <div class="react-datepicker__input-container">
                                                    <input type="date" name="move_date" class="date-start" v-model="duration.moveDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center-date-container" v-if="shortTermActive">
                                        <div>
                                            <div class="leave-by">Leave By</div>
                                            <div>
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container">
                                                        <input type="date" name="leave_date" class="date-end" v-model="duration.leaveDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-date-container">
                                        <div class="minimum-stay">Minimum Stay</div>
                                        <div class="btn-group bootstrap-select full">
                                            <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                    data-toggle="dropdown" role="button" title="Select">
                                                <span class="filter-option pull-left">{{ minimumStay.selected }}</span>
                                                <span class="bs-caret"><span class="caret"></span></span>
                                            </button>
                                            <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                <ul class="dropdown-menu inner" role="listbox">
                                                    <li v-for="(option,i) in minimumStay.options" :key="i"
                                                        :data-original-index="i" :class="{ 'selected': option === minimumStay.selected }"
                                                        @click.prevent="minimumStay.selected = option">
                                                        <a tabindex="0" class="" data-tokens="null" role="option">
                                                            <span class="text">{{ option }}</span>
                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="description" class="description-form">
                                <div class="box border">
                                    <div class="row">
                                        <div class="col-sm-12 list-title">
                                            <div class="description">
                                                <i class="icon__description"></i>
                                                <span style="margin-left: 20px;">Description</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                                <span class="info">
                                                    Try to have at least 20 words. Our most successful listings are more than 160 words long.
                                                </span>
                                        </div>
                                        <div class="col-sm-12">
                                                <span class="help-block" style="margin-top: 0px;">
                                                    HTML, emails and phone numbers will be removed.
                                                </span>
                                            <textarea class="form-control" maxlength="2000" name="description"
                                                      v-model="description">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="box border">
                                        <div class="list-title" style="display: flex; margin-bottom: 20px; margin-top: 35px;">
                                            <i class="icon__residence"></i>
                                            <span style="margin-left: 15px; margin-top: 2px;">Residence</span>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="row pos"><span class="col-sm-4 row-title">Bedrooms</span>
                                            <div class="col-sm-8 error_field__">
                                                <div class="btn-group bootstrap-select full input-big-width">
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ bedroom.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox">
                                                            <li v-for="(option,i) in bedroom.options" :key="i"
                                                                data-original-index="i"
                                                                :class="{'selected': option === bedroom.selected}"
                                                                @click.prevent="bedroom.selected = option">
                                                                <a tabindex="-1" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <span class="col-sm-4 row-title">Bathrooms</span>
                                            <div class="col-sm-8 error_field__">
                                                <div class="btn-group bootstrap-select full input-big-width">
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ bathroom.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox">
                                                            <li v-for="(option,i) in bathroom.options" :key="i"
                                                                data-original-index="i"
                                                                :class="{ 'selected': option === bathroom.selected }"
                                                                @click.prevent="bathroom.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos"><span class="col-sm-4 row-title">Measurement</span>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <input autocomplete="off" type="tel" class="form-control"
                                                               v-model="measurement">
                                                    </div>
                                                    <div class="col-sm-5 error_field__">
                                                        <div class="btn-group bootstrap-select full input-big-width">
                                                            <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                                    data-toggle="dropdown" role="button" title="Select">
                                                                <span class="filter-option pull-left">{{ measurementUnit.selected }}</span>
                                                                <span class="bs-caret"><span class="caret"></span></span>
                                                            </button>
                                                            <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                                <ul class="dropdown-menu inner" role="listbox">
                                                                    <li v-for="(option,i) in measurementUnit.options" :key="i"
                                                                        data-original-index="i"
                                                                        :class="{ 'selected': option === measurementUnit.selected }"
                                                                        @click.prevent="measurementUnit.selected = option">
                                                                        <a tabindex="0" data-tokens="null" role="option">
                                                                            <span class="text">{{ option }}</span>
                                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4 row-title"><span>Is Furnished</span></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-6 col-md-6 radio">
                                                <label>
                                                    <input autocomplete="off" type="radio" v-model="isFurnished" value="Yes">
                                                    <span class="custom-radio"></span>Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-6 col-md-6 radio">
                                                <label>
                                                    <input autocomplete="off" type="radio" v-model="isFurnished" value="No">
                                                    <span class="custom-radio"></span>No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="amenities" class="box border" style="margin-top: 40px;">
                                    <div class="row">
                                        <div class="col-md-4 list-title" style="display: flex;">
                                            <i class="icon__amenities-preferences"></i>
                                            <span style="margin-left: 17px;">Amenities</span>
                                        </div>
                                        <div class="col-md-12" style="margin-top: 15px; padding-left: 5px;">
                                            <div class="col-sm-6 checkbox" v-for="(option,i) in amenities" :key="i">
                                                <label>
                                                    <input autocomplete="off" type="checkbox" v-model="option.checked">
                                                    <span class="custom-checkbox"><i class="icon-check"></i></span>{{ option.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="option-buttons bottom-submit" style="margin-top: 35px; margin-bottom: 20px;">
                                <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                            </div>
                        </div>
                        <div class="listing__container custom_width_edit_listing">
                            <div class="listing-user__container">
                                <div>
                                    <div class="image__container">
                                        <router-link to="/myprofile" target="_blank">
                                            <img :src="loggedUser.avatar"
                                                 alt="User Profile Photo">
                                            <i class="fa fa-check"></i>
                                        </router-link>
                                    </div>
                                    <div class="aside-content-container text-center">
                                        <div class="listing-user__name">
                                            <router-link to="/myprofile" target="_blank">
                                                <span class="link">{{ loggedUser.first_name }}</span>
                                            </router-link>
                                        </div>
                                        <div class="listing-user__age listing-user__gender">
                                            <span>{{ loggedUser.age }},
                                                <i v-if="loggedUser.gender === 'Male'" class="icon__male"></i>
                                                <i v-if="loggedUser.gender === 'Female'" class="icon__female"></i>
                                            </span>
                                        </div>
                                        <span class="green-text"></span>
                                        <router-link to="/myprofile" target="_blank">
                                            <span class="btn btn-primary message__send-message own-profile-btn">
                                                <span id="my-profile-btn">View my profile</span></span>
                                        </router-link>
                                        <div class="border-line hidden"></div>
                                        <div class="phone__container hidden">
                                            <div class="phone">
                                                <i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i>
                                                <span class="phone__number" dir="ltr"
                                                      style="color: rgb(102, 102, 102);">{{ loggedUser.mobile }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OfferingEntirePlace",
        components:{
            //
        },
        props: {
            id:Number,
            loggedUser: { type: Object, default: null }
        },

        data() {
            return {
                isDragging: false,
                dragCount: 0,
                files: [],
                images: [],
                entireplaces: [],
                currencyDropdown: false,
                shortTermActive: false,
                currency: {
                    selected: 'USD',
                    options: ['AED', 'ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'TWD', 'UAH', 'USD', 'VND', 'ZAR']
                },
                headline: null,
                location: null,
                modifiedlocation:null,
                lat:null,
                lng:null,
                monthlyRent: null,
                duration: {
                    moveDate: new Date().toJSON().slice(0,10),
                    leaveDate: null
                },
                minimumStay: {
                    selected: 'Select',
                    options: ['Select', '1 night', '2 nights', '3 nights', '4 nights', '5 nights', '6 nights', '1 week', '2 weeks', '3 weeks', '1 month', '2 months', '3 months', '4 months', '5 months', '6 months', '7 months', '8 months', '9 months', '10 months', '11 months', '12 months']
                },
                description: null,
                bedroom: {
                    selected: 'Select',
                    options: ['Select', 'Studio', '1 bedroom', '2 bedrooms', '3 bedrooms', '4 bedrooms', '5 bedrooms']
                },
                bathroom: {
                    selected: 'Select',
                    options: ['Select', '1', '1.5', '2', '2.5', '3', '3.5+']
                },
                measurement: null,
                measurementUnit: {
                    selected: 'Select',
                    options: ['Select', 'Square meter', 'Square feet']
                },
                isFurnished: 'No',
                amenities: {
                    highRise: { name: 'High-rise', icon: '', checked: false },
                    lowRise: { name: 'Low-rise', icon: '', checked: false },
                    disabilityAccess: { name: 'Disability Access', icon: '', checked: false },
                    doorman: { name: 'Doorman', icon: '', checked: false },
                    elevator: { name: 'Elevator', icon: '', checked: false },
                    walkup: { name: 'Walkup', icon: '', checked: false },
                    healthClub: { name: 'Health Club', icon: '', checked: false },
                    laundromat: { name: 'Laundromat', icon: '', checked: false },
                    coveredParking: { name: 'Covered Parking', icon: '', checked: false },
                    garage: { name: 'Garage', icon: '', checked: false },
                    parkingLot: { name: 'Parking Lot', icon: '', checked: false },
                    streetParking: { name: 'Street Parking', icon: '', checked: false },
                    nearBusStop: { name: 'Near Bus Stop', icon: '', checked: false },
                    nearSubway: { name: 'Near Subway', icon: '', checked: false },
                    electronicSecurity: { name: 'Electronic Security', icon: '', checked: false },
                    security: { name: 'Security', icon: '', checked: false },
                    swimmingPool: { name: 'Swimming Pool', icon: '', checked: false },
                    internet: { name: 'Internet', icon: '', checked: false },
                    wirelessInternet: { name: 'Wireless Internet', icon: '', checked: false }
                }
            }
        },

        methods: {
            ame(){
                window.location.href="#amenities";
            },
            descr(){
                window.location.href="#description";
            },
            cancelForm(){
                this.$router.push('/newlisting');
            },
            openCurrency() {
                this.currencyDropdown = !this.currencyDropdown;
            },
            longTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = false;
            },
            shortTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = true;
            },
            submitForm() {
                const postData = {
                    
                    headline: this.headline,
                    location: this.location,
                    latitude:this.lat,
                    longitude:this.lng,
                    photos:this.images,
                    monthly_rent: this.monthlyRent,
                    rental_currency: this.filterSelection(this.currency.selected),
                    is_short_term: this.shortTermActive,
                    move_date: this.duration.moveDate,
                    leave_date: this.duration.leaveDate,
                    minimum_stay: this.filterSelection(this.minimumStay.selected),
                    description: this.description,
                    bedrooms: this.filterSelection(this.bedroom.selected),
                    bathrooms: this.filterSelection(this.bathroom.selected),
                    measurement: this.measurement,
                    measurement_unit: this.filterSelection(this.measurementUnit.selected),
                    is_furnished: this.makeBoolean(this.isFurnished),
                    is_high_rise: this.amenities.highRise.checked,
                    is_low_rise: this.amenities.lowRise.checked,
                    have_disability_access: this.amenities.disabilityAccess.checked,
                    have_doorman: this.amenities.doorman.checked,
                    have_elevator: this.amenities.elevator.checked,
                    have_walkup: this.amenities.walkup.checked,
                    have_health_club: this.amenities.healthClub.checked,
                    have_laundromat: this.amenities.laundromat.checked,
                    have_covered_parking: this.amenities.coveredParking.checked,
                    have_garage: this.amenities.garage.checked,
                    have_parking_lot: this.amenities.parkingLot.checked,
                    have_street_parking: this.amenities.streetParking.checked,
                    have_near_bus_stop: this.amenities.nearBusStop.checked,
                    have_near_subway: this.amenities.nearSubway.checked,
                    have_electronic_security: this.amenities.electronicSecurity.checked,
                    have_security: this.amenities.security.checked,
                    have_swimming_pool: this.amenities.swimmingPool.checked,
                    have_internet: this.amenities.internet.checked,
                    have_wireless_internet: this.amenities.wirelessInternet.checked
                };

                window.axios.post('/offeringapartment/new', postData)
                    .then(response => {
                        this.$router.push({ name: 'ListingEntirePlace', params: { place: this.modifiedlocation } })
                    })
                    .catch(error => {
                        console.log(error.response.data);
                    });
            },
            filterSelection(option) {
                if ('Select' !== option) { return option; }
                return null;
            },
            makeBoolean(option) {
                return 'Yes' === option;
            },
            OnDragEnter(e) {
                e.preventDefault();

                this.dragCount++;
                this.isDragging = true;

                return false;
            },
            OnDragLeave(e) {
                e.preventDefault();
                this.dragCount--;
                if (this.dragCount <= 0)
                    this.isDragging = false;
            },
            onInputChange(e) {
                const files = e.target.files;
               Array.from(files).forEach(file => this.addImage(file));
            },
            onDrop(e) {
                e.preventDefault();
                e.stopPropagation();

                this.isDragging = false;

                const files = e.dataTransfer.files;

                Array.from(files).forEach(file => this.addImage(file));
            },
            addImage(file) {
                if (!file.type.match('image.*')) {
                    this.$toastr.e(`${file.name} is not an image`);
                    return;
                }
                this.files.push(file);
                const img = new Image(),
                    reader = new FileReader();
                reader.onload = (e) => this.images.push(e.target.result);
                reader.readAsDataURL(file);
                console.log(this.images);
            },
            getFileSize(size) {
                const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
                let i = 0;

                while(size > 900) {
                    size /= 1024;
                    i++;
                }

                return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
            },
            upload() {
                const formData = new FormData();

                this.files.forEach(file => {
                    formData.append('images[]', file, file.name);
                });

                axios.post('/images-upload', formData)
                    .then(response => {
                        this.$toastr.s('All images uplaoded successfully');
                        this.images = [];
                        this.files = [];
                    })
            }
        },
        mounted() {
           axios.get('/single/entireplace/'+(this.id))
                .then(resp => {
                    this.entireplaces = resp.data;
                    this.headline = this.entireplaces[0].headline;
                    this.monthlyRent = this.entireplaces[0].monthly_rent;
                    this.currency.selected = this.entireplaces[0].rental_currency;
                    if(this.entireplaces[0].minimum_stay !== null){
                        this.minimumStay.selected = this.entireplaces[0].minimum_stay;
                    }
                    this.measurement = this.entireplaces[0].measurement;
                    this.lat = this.entireplaces[0].lat;
                    this.lng = this.entireplaces[0].lng;
                    this.location = this.entireplaces[0].location;
                    this.shortTermActive = this.entireplaces[0].is_short_term;
                    this.duration.moveDate = this.entireplaces[0].move_date;
                    this.duration.leaveDate = this.entireplaces[0].leave_date;
                    this.description = this.entireplaces[0].description;
                    this.bedroom.selected = this.entireplaces[0].bedrooms;
                    this.bathroom.selected = this.entireplaces[0].bathrooms;
                    this.measurement = this.entireplaces[0].measurement;
                    this.measurementUnit.selected = this.entireplaces[0].measurement_unit;
                    if(this.entireplaces[0].is_furnished == 1){
                        this.isFurnished = 'Yes';
                    }else{
                         this.isFurnished = 'No';
                    }
                    this.amenities.highRise.checked = this.entireplaces[0].is_high_rise;
                    this.amenities.lowRise.checked = this.entireplaces[0].is_low_rise;
                    this.amenities.disabilityAccess.checked = this.entireplaces[0].have_disability_access;
                    this.amenities.doorman.checked = this.entireplaces[0].have_doorman;
                    this.amenities.elevator.checked = this.entireplaces[0].have_elevator;
                    this.amenities.walkup.checked  = this.entireplaces[0].have_walkup;
                    this.amenities.healthClub.checked = this.entireplaces[0].have_health_club;
                    this.amenities.laundromat.checked = this.entireplaces[0].have_laundromat;
                    this.amenities.coveredParking.checked = this.entireplaces[0].have_covered_parking;
                    this.amenities.garage.checked = this.entireplaces[0].have_garage;
                    this.amenities.parkingLot.checked = this.entireplaces[0].have_parking_lot;
                    this.amenities.streetParking.checked = this.entireplaces[0].have_street_parking;
                    this.amenities.nearBusStop.checked = this.entireplaces[0].have_near_bus_stop;
                    this.amenities.nearSubway.checked = this.entireplaces[0].have_near_subway;
                    this.amenities.electronicSecurity.checked = this.entireplaces[0].have_electronic_security;
                    this.amenities.security.checked = this.entireplaces[0].have_security;
                    this.amenities.swimmingPool.checked = this.entireplaces[0].have_swimming_pool;
                    this.amenities.internet.checked = this.entireplaces[0].have_internet;
                    this.amenities.wirelessInternet.checked = this.entireplaces[0].have_wireless_internet;
                   
                })
                .catch(function (resp) {
                    console.log(resp);
                });
            var SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-BasicForm'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                this.location = place.formatted_address;
                console.log(this.location);
                this.modifiedlocation = this.location;
                this.lat = place.geometry.location.lat();
                this.lng = place.geometry.location.lng();
            });
        }
    };
</script>
<style lang="scss" scoped>
    .uploader {
        width: 100%;
        height: 100%;
        background: #cecccc;
        color: #fff;
        padding: 40px 15px;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        position: relative;

        &.dragging {
            background: #fff;
            color: #2196F3;
            border: 3px dashed #2196F3;

            .file-input label {
                background: #2196F3;
                color: #fff;
            }
        }

        i {
            font-size: 85px;
        }

        .file-input {
            width: 200px;
            margin: auto;
            height: 68px;
            position: relative;

            label,
            input {
                background: #fff;
                color: #2196F3;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                padding: 10px;
                border-radius: 4px;
                margin-top: 7px;
                cursor: pointer;
            }

            input {
                opacity: 0;
                z-index: -2;
            }
        }

        .images-preview {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            .img-wrapper {
                width: 160px;
                display: flex;
                flex-direction: column;
                margin: 10px;
                height: 150px;
                justify-content: space-between;
                background: #fff;
                box-shadow: 5px 5px 20px #3e3737;

                img {
                    max-height: 105px;
                }
            }

            .details {
                font-size: 12px;
                background: #fff;
                color: #000;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                padding: 3px 6px;

                .name {
                    overflow: hidden;
                    height: 18px;
                }
            }
        }

        .upload-control {
            position: absolute;
            width: 100%;
            background: #fff;
            top: 0;
            left: 0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 10px;
            padding-bottom: 4px;
            text-align: right;

            button, label {
                background: #2196F3;
                border: 2px solid #03A9F4;
                border-radius: 3px;
                color: #fff;
                font-size: 15px;
                cursor: pointer;
            }

            label {
                padding: 2px 5px;
                margin-right: 10px;
            }
        }
    }
</style>