<template>
    <div class="wrapper">
        <div v-if="ajaxProcess" class="text-center">
            <Spinner name="ball-pulse-sync" color="green"/>
        </div>
        <div v-else>
            <div id="edit-listing-page" class="ios-overflow">
                <div>
                    <div>
                        <div>
                            <div class="photos-form">
                                <div class="uploader"
                                     @dragenter="OnDragEnter"
                                     @dragleave="OnDragLeave"
                                     @dragover.prevent
                                     @drop="onDrop"
                                     :class="{ dragging: isDragging }">

                                    <div class="upload-control" v-show="images.length">
                                        <label for="file">Select a file</label>
                                    </div>
                                    <div v-show="!images.length">
                                        <i class="fa fa-cloud-upload"></i>
                                        <p>Drag your images here</p>
                                        <div>OR</div>
                                        <div class="file-input">
                                            <label for="file">Select a file</label>
                                            <input type="file" id="file" @change="onInputChange" multiple>
                                        </div>
                                    </div>

                                    <div class="images-preview" v-show="images.length">
                                        <div class="img-wrapper" v-for="(image, index) in images" :key="index">
                                            <img :src="image" @click="korola" :class="{ 'drono': index === 0 }" :alt="`Image Uplaoder ${index}`">
                                            <div class="flota" @click="removea(index)">
                                                <span class="fa fa-trash text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="anchors__container hidden-xs affix-top">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="anchor-set col-md-12 clearfix">
                                        <a v-scroll-to="'#description'" class="anchor">Description</a>
                                        <a class="anchor" v-scroll-to="'#amenities'" >Amenities</a>
                                        <a class="anchor" v-scroll-to="'#roommate-preference'"  >Flatmate preference</a>
                                        <span style="flex-grow: 1;"></span>
                                        <a class="anchor cursor-default">$USD per month</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div class="edit-listing-container">
                            <div class="forms-container">
                                <div class="option-buttons top-submit">
                                    <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                    <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                                </div>
                                <div class="basic-form">
                                    <div>
                                        <div class="headline">Headline</div>
                                        <input autocomplete="off" class="headline-input" placeholder="" name="headline"
                                               v-model="headline" :class="errorClass">
                                    </div>
                                    <div class="location">
                                        <i class="icon__location"></i>
                                        <span style="margin-left: 15px;">Location</span>
                                    </div>
                                    <div class="input-autocomplete">
                                        <div class="display__flex">
                                            <span class="icon__location"></span>
                                            <input name="location" autocomplete="off" id="modal-filters-BasicForm"
                                                   placeholder="Example: 'New York, NY'"
                                                   class="headline-input google-place-input form-ready-for-bubble"
                                                   :class="errorClass"
                                            >
                                        </div>
                                    </div>
                                    <div class="rental-rates">
                                        <i class="icon__dollars"></i>
                                        <span style="margin-left: 10px;">Monthly Rental Rate</span>
                                    </div>
                                    <div class="rental-container">
                                        <div class="left-content">
                                            <div class="currency">Currency</div>
                                            <div class="btn-group bootstrap-select full currency-dropdown"
                                                 :class="{ 'open': currencyDropdown }"> <!--class="open"-->
                                                <button type="button" class="btn dropdown-toggle btn-default"
                                                        data-toggle="dropdown" role="button" title="USD"
                                                        @click="openCurrency">
                                                    <span class="filter-option pull-left">{{ currency.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox">
                                                        <li v-for="(option,i) in currency.options" :key="i"
                                                            @click.prevent="currency.selected = option">
                                                            <a tabindex="0" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-content" style="position: relative;">
                                            <div class="budget">Per month budget</div>
                                            <input autocomplete="off" type="number" pattern="\d*" placeholder="12345"
                                                   v-model="monthlyRent" class="budget-input" name="monthly_rent" :class="errorClass">
                                        </div>
                                    </div>
                                    <div class="duration"><i class="icon__clock"></i>
                                        <span style="margin-left: 10px;">Duration</span>
                                    </div>
                                    <div class="terms-container">
                                        <div class="short-term" :class="{ 'active': shortTermActive }"
                                             @click="shortTerm">
                                            <span>Short Term</span>
                                        </div>
                                        <div class="long-term" :class="{ 'active': !shortTermActive }"
                                             @click="longTerm">
                                            <span>Long Term</span>
                                        </div>
                                    </div>
                                    <div class="dates-container">
                                        <div class="left-date-container">
                                            <div class="move-by">Move Date</div>
                                            <div>
                                                <div class="react-datepicker-wrapper">
                                                    <div class="react-datepicker__input-container">
                                                        <input type="date" name="move_date" class="date-start" v-model="duration.moveDate">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="center-date-container" v-if="shortTermActive">
                                            <div>
                                                <div class="leave-by">Leave By</div>
                                                <div>
                                                    <div class="react-datepicker-wrapper">
                                                        <div class="react-datepicker__input-container">
                                                            <input type="date" name="leave_date" class="date-end" v-model="duration.leaveDate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right-date-container">
                                            <div class="minimum-stay">Minimum Stay</div>
                                            <div class="btn-group bootstrap-select full">
                                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ minimumStay.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox">
                                                        <li v-for="(option,i) in minimumStay.options" :key="i"
                                                            :data-original-index="i" :class="{ 'selected': option === minimumStay.selected }"
                                                            @click.prevent="minimumStay.selected = option">
                                                            <a tabindex="0" class="" data-tokens="null" role="option">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="description" class="description-form">
                                    <div class="box border">
                                        <div class="row">
                                            <div class="col-sm-12 list-title">
                                                <div class="description">
                                                    <i class="icon__description"></i>
                                                    <span style="margin-left: 20px;">Description</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="info">
                                                    Try to have at least 20 words. Our most successful listings are more than 160 words long.
                                                </span>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="help-block" style="margin-top: 0px;">
                                                    HTML, emails and phone numbers will be removed.
                                                </span>
                                            </div>
                                            <textarea v-model="description" class="form-control" placeholder="add description here" :class="errorClass"></textarea>

                                        </div>
                                    </div>

                                    <div>
                                        <div class="box border">
                                            <div class="list-title" style="display: flex; margin-bottom: 20px; margin-top: 35px;">
                                                <i class="icon__residence"></i>
                                                <span style="margin-left: 15px; margin-top: 2px;">Residence</span>
                                            </div>
                                            <div>
                                                <div class="row ">
                                                    <div class="col-sm-4 row-title"><span>Building type</span></div>
                                                    <div class="col-sm-8">
                                                        <div class="btn-group bootstrap-select full input-big-width">
                                                            <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                                    data-toggle="dropdown" role="button" title="Select">
                                                                <span class="filter-option pull-left">{{ buildingType.selected }}</span>
                                                                <span class="bs-caret"><span class="caret"></span></span>
                                                            </button>
                                                            <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                                <ul class="dropdown-menu inner" role="listbox">
                                                                    <li v-for="(option,i) in buildingType.options" :key="i"
                                                                        :data-original-index="i" :class="{ 'selected': option === buildingType.selected}"
                                                                        @click.prevent="buildingType.selected = option">
                                                                        <a tabindex="0" data-tokens="null" role="option">
                                                                            <span class="text">{{ option }}</span>
                                                                            <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pos">
                                                    <div class="col-sm-4 row-title"><span>Move-in fee</span></div>
                                                    <div class="col-sm-8">
                                                        <input autocomplete="off" type="tel" class="form-control" v-model="moveInFee">
                                                    </div>
                                                </div>
                                                <div class="row pos">
                                                    <div class="col-sm-4 row-title"><span>Utilities Cost</span></div>
                                                    <div class="col-sm-8">
                                                        <input autocomplete="off" type="tel" class="form-control" v-model="utilitiesCost">
                                                    </div>
                                                </div>
                                                <div class="row pos">
                                                    <div class="col-sm-4 row-title"><span>Parking rent</span></div>
                                                    <div class="col-sm-8">
                                                        <input autocomplete="off" type="tel" class="form-control" v-model="parkingRent">
                                                    </div>
                                                </div>
                                                <div class="row pos">
                                                    <div class="col-sm-4 row-title"><span>Is Furnished</span></div>
                                                    <div class="col-sm-8">
                                                        <div class="col-sm-6 col-md-6 radio">
                                                            <label>
                                                                <input autocomplete="off" type="radio" v-model="isFurnished" value="Yes">
                                                                <span class="custom-radio"></span>Yes
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 radio">
                                                            <label>
                                                                <input autocomplete="off" type="radio" v-model="isFurnished" value="No">
                                                                <span class="custom-radio"></span>No
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="amenities" class="box border" style="margin-top: 40px;">
                                        <div class="row">
                                            <div class="col-md-4 list-title" style="display: flex;">
                                                <i class="icon__amenities-preferences"></i>
                                                <span style="margin-left: 17px;">Amenities</span>
                                            </div>
                                            <div class="col-md-12" style="margin-top: 15px; padding-left: 5px;">
                                                <div v-for="(option,i) in amenities" :key="i" class="col-sm-6 checkbox">
                                                    <label>
                                                        <input autocomplete="off" type="checkbox" v-model="option.checked">
                                                        <span class="custom-checkbox"><i class="icon-check"></i></span>{{ option.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lifestyle-form">
                                    <div>
                                        <div id="household" class="household" style="margin-top: 45px;">
                                            <i class="icon__household"></i>
                                            <span style="margin-left: 10px;">Household</span>
                                        </div>
                                        <div class="row" style="margin-top: 15px; margin-bottom: 20px;">
                                            <div class="col-sm-4 row-title"><span>Household age</span></div>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-2" style="color: rgb(96, 173, 36); font-size: 17px; white-space: nowrap;">{{valuea[0]}}-{{valuea[1]}}</div>
                                                    <div class="col-sm-10" style="padding-top: 4px; padding-left: 30px">
                                                        <vue-slider
                                                                :min="18"
                                                                :max="99"
                                                                v-model="valuea"
                                                                :tooltip="'none'"
                                                                :enable-cross="false"
                                                        ></vue-slider>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">People in household</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width">
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ peopleInHousehold.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox">
                                                            <li v-for="(option,i) in peopleInHousehold.options" :key="i"
                                                                :data-original-index="i" :class="{ 'selected': option === peopleInHousehold.selected }"
                                                                @click.prevent="peopleInHousehold.selected = option">
                                                                <a tabindex="0" class="" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Household Sex</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width">
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ householdSex.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial" role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox">
                                                            <li v-for="(option,i) in householdSex.options" :key="i"
                                                                data-original-index="0" :class="{ 'selected': option === householdSex.selected }"
                                                                @click.prevent="householdSex.selected = option">
                                                                <a tabindex="0" class="" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lifestyle" style="margin-bottom: 10px; margin-top: 0px;">
                                        <i class="icon__lifestyle"></i>
                                        <span style="margin-left: 12px;"></span>Lifestyle
                                    </div>
                                    <div class="box border">
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">My Cleanliness</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ cleanliness.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox" >
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in cleanliness.options" :key="i"
                                                                :class="{ 'selected': option === cleanliness.selected }"
                                                                @click.prevent="cleanliness.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Overnight Guests</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ overnightGuests.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in overnightGuests.options" :key="i"
                                                                :class="{ 'selected': option === overnightGuests.selected }"
                                                                @click.prevent="overnightGuests.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{option}}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Party Habits</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ partyHabits.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in partyHabits.options" :key="i"
                                                                :class="{ 'selected': option === partyHabits.selected }"
                                                                @click.prevent="partyHabits.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Get Up</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ getUp.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in getUp.options" :key="i"
                                                                :class="{ 'selected': option === getUp.selected }"
                                                                @click.prevent="getUp.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>

ami chaina tor                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Go To Bed</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ goToBed.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in goToBed.options" :key="i"
                                                                :class="{ 'selected': option === goToBed.selected }"
                                                                @click.prevent="goToBed.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Food Preference</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width">
                                                    <!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ foodPreference.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in foodPreference.options" :key="i"
                                                                :class="{ 'selected': option === foodPreference.selected }"
                                                                @click.prevent="foodPreference.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Smoker</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ smoker.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in smoker.options" :key="i"
                                                                :class="{ 'selected': option === smoker.selected }"
                                                                @click.prevent="smoker.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Work Schedule</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ workSchedule.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in workSchedule.options" :key="i"
                                                                :class="{ 'selected': option === workSchedule.selected }"
                                                                @click.prevent="workSchedule.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pos">
                                            <div class="col-sm-4 row-title">Occupation</div>
                                            <div class="col-sm-8">
                                                <div class="btn-group bootstrap-select full input-big-width"><!--open-->
                                                    <button type="button"
                                                            class="btn dropdown-toggle bs-placeholder btn-default"
                                                            data-toggle="dropdown" role="button" title="Select">
                                                        <span class="filter-option pull-left">{{ occupation.selected }}</span>
                                                        <span class="bs-caret"><span class="caret"></span></span>
                                                    </button>
                                                    <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                            <li v-for="(option,i) in occupation.options" :key="i"
                                                                :class="{ 'selected': option === occupation.selected }"
                                                                @click.prevent="occupation.selected = option">
                                                                <a tabindex="0" data-tokens="null" role="option">
                                                                    <span class="text">{{ option }}</span>
                                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="roommate-preference" class="roommate-preference " style="margin-top: 45px;">
                                        <i class="icon__roommate-preference"></i><span style="margin-left: 10px;">Flatmate preference</span>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <div class="col-sm-4 row-title"><span>Age</span></div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-2" style="color: rgb(96, 173, 36); font-size: 17px; white-space: nowrap;">{{valueaa[0]}}-{{valueaa[1]}}</div>
                                                <div class="col-sm-10" style="margin-top: 4px; padding-left: 30px">
                                                    <vue-slider
                                                            :min="18"
                                                            :max="99"
                                                            v-model="valueaa"
                                                            :tooltip="'none'"
                                                            :enable-cross="false"
                                                    ></vue-slider>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-sm-4 row-title"><span>Smoke Preference</span></div>
                                        <div class="col-sm-8">
                                            <div class="btn-group bootstrap-select full input-big-width"> <!--open-->
                                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                                                        data-toggle="dropdown" role="button" title="Select">
                                                    <span class="filter-option pull-left">{{ preferSmoker.selected }}</span>
                                                    <span class="bs-caret"><span class="caret"></span></span>
                                                </button>
                                                <div class="dropdown-menu open" style="overflow: initial"  role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li v-for="(option,i) in preferSmoker.options" :key="i"
                                                            :class="{ 'selected': option === preferSmoker.selected }"
                                                            @click.prevent="preferSmoker.selected = option">
                                                            <a tabindex="0" class="" data-tokens="null" role="option"
                                                               aria-disabled="false" aria-selected="true">
                                                                <span class="text">{{ option }}</span>
                                                                <span class="glyphicon glyphicon-ok check-mark"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <div class="col-sm-4"><span>Students Only</span></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-6 col-md-5 radio">
                                                <label>
                                                    <input autocomplete="off" type="radio" v-model="preferStudent" value="Yes">
                                                    <span class="custom-radio"></span>Yes
                                                </label>
                                            </div>
                                            <div class="col-sm-6 col-md-4 radio">
                                                <label>
                                                    <input autocomplete="off" type="radio" v-model="preferStudent" value="No">
                                                    <span class="custom-radio"></span>No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pets-preference" style="margin-top: 80px;">
                                        <i class="icon__pets"></i>
                                        <span style="margin-left: 10px;">Pets Preference</span>
                                    </div>
                                    <div class="row pos"><span class="col-sm-4">Do you have pets?</span>
                                        <div class="col-sm-8">
                                            <div class="checkbox animal" v-for="(pet,i) in havePets" :key="i">
                                                <label>
                                                    <input autocomplete="off" type="checkbox" v-model="pet.checked">
                                                    <span class="custom-checkbox"><i :class="pet.icon"></i></span>{{ pet.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pos">
                                        <span class="col-sm-4">Pets Preference</span>
                                        <div class="col-sm-8">
                                            <div class="checkbox animal" v-for="(pet,i) in preferPets" :key="i">
                                                <label>
                                                    <input autocomplete="off" type="checkbox" v-model="pet.checked">
                                                    <span class="custom-checkbox"><i :class="pet.icon"></i></span>{{ pet.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="option-buttons bottom-submit" style="margin-top: 35px; margin-bottom: 20px;">
                                    <div class="save-btn" @click.prevent="submitForm">Continue</div>
                                    <div class="cancel-btn" @click.prevent="cancelForm">Cancel</div>
                                </div>
                            </div>
                            <div class="listing__container custom_width_edit_listing">
                                <div class="listing-user__container">
                                    <div>
                                        <div class="image__container">
                                            <a href="/myprofile" target="_blank">
                                                <img :src="loggedUser.avatar"
                                                     alt="User Profile Photo">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </div>
                                        <div class="aside-content-container text-center">
                                            <div class="listing-user__name">
                                                <a href="/myprofile" target="_blank">
                                                    <span class="link">{{ loggedUser.first_name }}</span>
                                                </a>
                                            </div>
                                            <div class="listing-user__age listing-user__gender">
                                            <span>{{ loggedUser.age }},
                                                <i v-if="loggedUser.gender === 'Male'" class="icon__male"></i>
                                                <i v-if="loggedUser.gender === 'Female'" class="icon__female"></i>
                                            </span>
                                            </div>
                                            <span class="green-text"></span>
                                            <a href="/myprofile" target="_blank">
                                            <span class="btn btn-primary message__send-message own-profile-btn">
                                                <span id="my-profile-btn">View my profile</span></span>
                                            </a>
                                            <div class="border-line hidden"></div>
                                            <div class="phone__container hidden">
                                                <div class="phone">
                                                    <i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i>
                                                    <span class="phone__number" dir="ltr"
                                                          style="color: rgb(102, 102, 102);">{{ loggedUser.mobile }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    export default {
        name: "OfferingRoom",
        components: {
            VueSlider
        },
        mixins: [],
        props: {
            loggedUser: { type: Object, default: null }
        },
        data() {
            return {
                errorClass:'',
                ajaxProcess:false,
                message:'',
                isDragging: false,
                dragCount: 0,
                files: [],
                images: [],
                valuea:[18,99],
                valueaa:[18,99],
                lat:null,
                lng:null,
                modifiedlocation:null,
                currencyDropdown: false,
                shortTermActive: false,
                currency: {
                    selected: 'USD',
                    options: ['AED', 'ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'INR', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'TWD', 'UAH', 'USD', 'VND', 'ZAR']
                },
                headline: null,
                location: null,
                monthlyRent: null,
                duration: {
                    moveDate: new Date().toJSON().slice(0,10),
                    leaveDate: null
                },
                minimumStay: {
                    selected: 'Select',
                    options: ['Select', '1 night', '2 nights', '3 nights', '4 nights', '5 nights', '6 nights', '1 week', '2 weeks', '3 weeks', '1 month', '2 months', '3 months', '4 months', '5 months', '6 months', '7 months', '8 months', '9 months', '10 months', '11 months', '12 months']
                },
                description: '',
                buildingType: {
                    selected: 'Select',
                    options: ['Select', 'Apartment Building (1-10 units)', 'Apartment Building (10+ units)', 'Apartment Complex', 'House']
                },
                moveInFee: null,
                utilitiesCost: null,
                parkingRent: null,
                isFurnished: 'No',
                amenities: {
                    airConditioning: { name: 'Air Conditioning', icon: '', checked: false },
                    deckPatio: { name: 'Deck or Patio', icon: '', checked: false },
                    woodFloors: { name: 'Wood Floors', icon: '', checked: false },
                    yard: { name: 'Yard', icon: '', checked: false },
                    carpet: { name: 'Carpet', icon: '', checked: false },
                    storage: { name: 'Storage', icon: '', checked: false },
                    gym: { name: 'Gym', icon: '', checked: false },
                    parking: { name: 'Parking', icon: '', checked: false },
                    elevator: { name: 'Elevator', icon: '', checked: false },
                    fireplace: { name: 'Fireplace', icon: '', checked: false },
                    laundry: { name: 'Laundry', icon: '', checked: false },
                    tennis: { name: 'Tennis', icon: '', checked: false },
                    jacuzzi: { name: 'Jacuzzi', icon: '', checked: false },
                    dishwasher: { name: 'Dishwasher', icon: '', checked: false },
                    pool: { name: 'Pool', icon: '', checked: false },
                    privateBathroom: { name: 'Private Bathroom', icon: '', checked: false },
                    phoneJack: { name: 'Phone Jack', icon: '', checked: false },
                    privateEntrance: { name: 'Private Entrance', icon: '', checked: false },
                    cableTVJack: { name: 'Cable TV Jack', icon: '', checked: false },
                    privateCloset: { name: 'Private Closet', icon: '', checked: false },
                    internet: { name: 'Internet', icon: '', checked: false },
                    wirelessInternet: { name: 'Wireless Internet', icon: '', checked: false },
                },
                householdAge: { min: 18, max: 99 },
                peopleInHousehold: {
                    selected: 'Select',
                    options: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                },
                householdSex: {
                    selected: 'Select',
                    options: ['Select', 'Female', 'Male', 'Co-ed']
                },
                cleanliness: {
                    selected: 'Select',
                    options: ['Select', 'Clean', 'Average', 'Messy']
                },
                overnightGuests: {
                    selected: 'Select',
                    options: ['Select', 'Never', 'Rarely', 'Occasionally', 'Often']
                },
                partyHabits: {
                    selected: 'Select',
                    options: ['Select', 'Rarely', 'Occasionally', 'Weekends', 'Daily']
                },
                getUp: {
                    selected: 'Select',
                    options: ['Select', 'Before 6AM', '6AM - 8AM', '8AM - 10AM', '10AM - 12AM', 'After 12AM']
                },
                goToBed: {
                    selected: 'Select',
                    options: ['Select', 'Before 8PM', '8PM - 10PM', '10PM - 12AM', '12AM - 2AM', 'After 2AM']
                },
                foodPreference: {
                    selected: 'Select',
                    options: ['Select', 'Almost Anything', 'Fish Only', 'Vegetarian', 'Vegan', 'Kosher']
                },
                smoker: {
                    selected: 'Select',
                    options: ['Select', 'No', 'Yes', 'Outside Only']
                },
                workSchedule: {
                    selected: 'Select',
                    options: ['Select', 'Professional (9-5)', 'Student', 'Work at Night', 'Work at Home', 'Mixed']
                },
                occupation: {
                    selected: 'Select',
                    options: ['Select', 'Accounting', 'Administration/Secretarial', 'Advertising', 'Architecture/Design', 'Automotive/Mechanical', 'Aviation/Aeronautical', 'Beauty/Fashion', 'Biology/Life Science', 'Broadcasting/Publishing', 'Consulting', 'Customer Service/Support', 'Creative/Media', 'Education/Tranining', 'Engineering', 'Finance/Banking', 'Government/Social Service', 'Health Services', 'Hospitality', 'Human Resource/Recruiting', 'IT/Computers', 'Insurance', 'Internet/Media', 'Law Enforcement/Security', 'Legal', 'Manufacturing/Production', 'Marketing/Public Relations', 'Military', 'Non-Profit', 'Other', 'Physical Science/Environment', 'Real Estate', 'Retail', 'Sales', 'Sports/Fitness', 'Student/Graduate', 'Student/Undergraduate', 'Telecommunications', 'Trades/Labor', 'Transportation/Logistic']
                },
                preferAge: { min: 18, max: 99 },
                preferSmoker: {
                    selected: 'Select',
                    options: ['Select', 'No', 'Yes', 'Outside Only']
                },
                preferStudent: 'No',
                havePets: {
                    cats: { name: 'Cats', icon: 'icon-cat', checked: false },
                    dogs: { name: 'Dogs', icon: 'icon-dog', checked: false },
                    smallPets: { name: 'Small Pets', icon: 'icon-pets', checked: false },
                    birds: { name: 'Birds', icon: 'icon-birds', checked: false },
                    fish: { name: 'Fish', icon: 'icon-fish', checked: false },
                    reptiles: { name: 'Reptiles', icon: 'icon-reptiles', checked: false }
                },
                preferPets: {
                    cats: { name: 'Cats', icon: 'icon-cat', checked: false },
                    dogs: { name: 'Dogs', icon: 'icon-dog', checked: false },
                    smallPets: { name: 'Small Pets', icon: 'icon-pets', checked: false },
                    birds: { name: 'Birds', icon: 'icon-birds', checked: false },
                    fish: { name: 'Fish', icon: 'icon-fish', checked: false },
                    reptiles: { name: 'Reptiles', icon: 'icon-reptiles', checked: false }
                }
            }
        },
        methods: {
            openCurrency() {
                this.currencyDropdown = !this.currencyDropdown;
            },
            longTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = false;
            },
            shortTerm() {
                this.currencyDropdown = false;
                this.shortTermActive = true;
            },
            submitForm() {
                if(this.monthlyRent > 5000){
                    this.errorClass = 'input-error';
                }
                this.ajaxProcess = true;
                const postData = {
                    headline: this.headline,
                    location: this.location,
                    latitude:this.lat,
                    photos:this.images,
                    longitude:this.lng,
                    monthly_rent: this.monthlyRent,
                    rental_currency: this.filterSelection(this.currency.selected),
                    is_short_term: this.shortTermActive,
                    move_date: this.duration.moveDate,
                    leave_date: this.duration.leaveDate,
                    minimum_stay: this.filterSelection(this.minimumStay.selected),
                    description: this.description,
                    building_type: this.filterSelection(this.buildingType.selected),
                    move_in_fee: this.moveInFee,
                    utilities_cost: this.utilitiesCost,
                    parking_rent: this.parkingRent,
                    is_furnished: this.makeBoolean(this.isFurnished),
                    have_air_conditioning: this.amenities.airConditioning.checked,
                    have_deck_or_patio: this.amenities.deckPatio.checked,
                    have_wood_floors: this.amenities.woodFloors.checked,
                    have_yard: this.amenities.yard.checked,
                    have_carpet: this.amenities.carpet.checked,
                    have_storage: this.amenities.storage.checked,
                    have_gym: this.amenities.gym.checked,
                    have_parking: this.amenities.parking.checked,
                    have_elevator: this.amenities.elevator.checked,
                    have_fireplace: this.amenities.fireplace.checked,
                    have_laundry: this.amenities.laundry.checked,
                    have_tennis: this.amenities.tennis.checked,
                    have_jacuzzi: this.amenities.jacuzzi.checked,
                    have_dishwasher: this.amenities.dishwasher.checked,
                    have_pool: this.amenities.pool.checked,
                    have_private_bathroom: this.amenities.privateBathroom.checked,
                    have_phone_jack: this.amenities.phoneJack.checked,
                    have_private_entrance: this.amenities.privateEntrance.checked,
                    have_cable_tv_jack: this.amenities.cableTVJack.checked,
                    have_private_closet: this.amenities.privateCloset.checked,
                    have_internet: this.amenities.internet.checked,
                    have_wireless_internet: this.amenities.wirelessInternet.checked,
                    min_household_age: this.valuea[0],
                    max_household_age: this.valuea[1],
                    people_in_household: this.filterSelection(this.peopleInHousehold.selected),
                    household_sex: this.filterSelection(this.householdSex.selected),
                    cleanliness: this.filterSelection(this.cleanliness.selected),
                    overnight_guests: this.filterSelection(this.overnightGuests.selected),
                    party_habits: this.filterSelection(this.partyHabits.selected),
                    get_up: this.filterSelection(this.getUp.selected),
                    go_to_bed: this.filterSelection(this.goToBed.selected),
                    food_preference: this.filterSelection(this.foodPreference.selected),
                    smoker: this.filterSelection(this.smoker.selected),
                    work_schedule: this.filterSelection(this.workSchedule.selected),
                    occupation: this.filterSelection(this.occupation.selected),
                    prefer_min_age: this.valueaa[0],
                    prefer_max_age: this.valueaa[1],
                    prefer_smoker: this.filterSelection(this.preferSmoker.selected),
                    prefer_student: this.makeBoolean(this.preferStudent),
                    have_cats: this.havePets.cats.checked,
                    have_dogs: this.havePets.dogs.checked,
                    have_small_pets: this.havePets.smallPets.checked,
                    have_birds: this.havePets.birds.checked,
                    have_fish: this.havePets.fish.checked,
                    have_reptiles: this.havePets.reptiles.checked,
                    prefer_cats: this.preferPets.cats.checked,
                    prefer_dogs: this.preferPets.dogs.checked,
                    prefer_small_pets: this.preferPets.smallPets.checked,
                    prefer_birds: this.preferPets.birds.checked,
                    prefer_fish: this.preferPets.fish.checked,
                    prefer_reptiles: this.preferPets.reptiles.checked
                };

                window.axios.post('/offeringroom/new', postData)
                    .then(response => {
                        this.ajaxProcess = false;
                        this.$router.push({ name: 'Listao', params: { place: this.modifiedlocation } })
                    })
                    .catch(error => {
                        this.ajaxProcess = false;
                        this.errorClass = 'input-error';
                        console.log(error.response.data);
                    });
            },
            filterSelection(option) {
                if ('Select' !== option) { return option; }
                return null;
            },
            makeBoolean(option) {
                return 'Yes' === option;
            },
            cancelForm(){
                this.$router.push('/newlisting');
            },
            getFiles() {
               var files =  this.$refs.myVueDropzone.getQueuedFiles();
               console.log(files);
            },
            afterComplete(file) {
                console.log(file);
            },
            loadPictures(){
                this.product.images.forEach(image => {
                    const file = { name: 'Icon', type: 'image/jpeg', dataURL: image };
                    this.$refs.dropzone.manuallyAddFile(file, image);
                    this.$refs.dropzone.dropzone.emit('thumbnail', file, file.dataURL)
                    this.$refs.dropzone.dropzone.emit('complete', file)
                });
            },
            OnDragEnter(e) {
                e.preventDefault();

                this.dragCount++;
                this.isDragging = true;

                return false;
            },
            OnDragLeave(e) {
                e.preventDefault();
                this.dragCount--;

                if (this.dragCount <= 0 || this.dragCount > 10)
                    this.isDragging = false;
            },
            onInputChange(e) {
                const files = e.target.files;

                Array.from(files).forEach(file => this.addImage(file));
            },
            onDrop(e) {
                e.preventDefault();
                e.stopPropagation();

                this.isDragging = false;

                const files = e.dataTransfer.files;
                Array.from(files).forEach(file => this.addImage(file));
            },
            addImage(file) {
                if (!file.type.match('image.*')) {
                    this.$toastr.e(`${file.name} is not an image`);
                    return;
                }
                if (this.files.length > 6){
                    return alert('Max limit reached');
                }
                this.files.push(file);
                const img = new Image(),
                    reader = new FileReader();
                reader.onload = (e) => this.images.push(e.target.result);
                reader.readAsDataURL(file);
                console.log(this.images);
            },
            getFileSize(size) {
                const fSExt = ['Bytes', 'KB', 'MB', 'GB'];
                let i = 0;

                while(size > 900) {
                    size /= 1024;
                    i++;
                }

                return `${(Math.round(size * 100) / 100)} ${fSExt[i]}`;
            },
            upload() {
                const formData = new FormData();

                this.files.forEach(file => {
                    formData.append('images[]', file, file.name);
                });

                axios.post('/images-upload', formData)
                    .then(response => {
                        this.$toastr.s('All images uplaoded successfully');
                        this.images = [];
                        this.files = [];
                    })
            },
            removea(index){
                this.images.splice(index, 1);
            },
            korola(index){
                this.images.splice(1, 0, this.images.splice(index, 1)[0]);
            }
        },
        mounted() {
            var SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-BasicForm'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                this.location = place.formatted_address;
                console.log(this.location);
                this.modifiedlocation = this.location;
                this.lat = place.geometry.location.lat();
                this.lng = place.geometry.location.lng();
            });
        }
    };
</script>
<style lang="scss" scoped>
    .uploader {
        width: 100%;
        height: 100%;
        background: #cecccc;
        color: #fff;
        padding: 40px 15px;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        position: relative;

        &.dragging {
            background: #fff;
            color: #2196F3;
            border: 3px dashed #2196F3;

            .file-input label {
                background: #2196F3;
                color: #fff;
            }
        }

        i {
            font-size: 85px;
        }

        .file-input {
            width: 200px;
            margin: auto;
            height: 68px;
            position: relative;

            label,
            input {
                background: #fff;
                color: #2196F3;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                padding: 10px;
                border-radius: 4px;
                margin-top: 7px;
                cursor: pointer;
            }

            input {
                opacity: 0;
                z-index: -2;
            }
        }

        .images-preview {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;

            .img-wrapper {
                width: 160px;
                display: flex;
                flex-direction: column;
                margin: 10px;
                height: 150px;
                justify-content: space-between;
                background: #fff;
                box-shadow: 5px 5px 20px #3e3737;

                img {
                    max-height: 105px;
                }
            }

            .details {
                font-size: 12px;
                background: #fff;
                color: #000;
                display: flex;
                flex-direction: column;
                align-items: self-start;
                padding: 3px 6px;

                .name {
                    overflow: hidden;
                    height: 18px;
                }
            }
        }

        .upload-control {
            position: absolute;
            width: 100%;
            background: #fff;
            top: 0;
            left: 0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            padding: 10px;
            padding-bottom: 4px;
            text-align: right;

            button, label {
                background: #2196F3;
                border: 2px solid #03A9F4;
                border-radius: 3px;
                color: #fff;
                font-size: 15px;
                cursor: pointer;
            }

            label {
                padding: 2px 5px;
                margin-right: 10px;
            }
        }
    }
</style>
<style>
    .vue-slider-process {
        background-color: #47a40e;
    }
    .vue-slider-dot{width: 25px !important; height: 25px !important;}
    .uploader .images-preview .img-wrapper img{
        max-height: 100% !important;
    }
    .img-wrapper{position: relative}
    .flota{position:absolute;top:2px;left:5px;height:10px !important;width:10px !important}
    .drono{border: 3px solid #00b630}
    @media only screen and (min-width: 500px) {
        .img-wrapper{height:100px !important;width:100px !important}
    }
</style>

