<template>
<div>
    <div id="content">
        <div class="wsmenucontainer clearfix wsmenucontainer--login-page">
            <div class="wrapper login_wrapper">
                <div class="no-supported-lang" style="position: relative;"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/9cddaa944454dcaa13c40829fdebc31d.svg" style="display: none;">
                    <div class="login-page mobile-login__form new__form login-page--create-acc">
                        <div>
                            <h1>Create Account</h1>
                            <form @submit.prevent="register">
                                <input :class="errorClass" autocomplete="off" v-model="registerData.first_name" type="text" name="full_name" placeholder="First Name" >
                                <input :class="errorClass" autocomplete="off" v-model="registerData.last_name" type="text" name="last_name"  placeholder="Last Name" >
                                <input :class="errorClass" autocomplete="off" v-model="registerData.email" type="email" name="email"  placeholder="Email">
                                <input :class="errorClass" autocomplete="off" v-model="registerData.password" type="password" name="password"  placeholder="Password: at least 6 characters">
                                <div class="login-form__date-select">
                                    <div class="login-form__select" @click.prevent="toggleShowDay">
                                        <div class="login-form__selected login-form__selected--default">{{ registerData.day ? registerData.day : 'Day' }}</div>
                                        <i class="fa fa-angle-down"></i>
                                        <div class="login-form__list">
                                            <div v-if="showDay">
                                                <div class="login-form___gender-select">
                                                    <span v-for="n in 31" :key="n" @click.prevent="setDay(n)">{{ n }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-form__select" @click.prevent="toggleShowMonth">
                                        <div class="login-form__selected login-form__selected--default">{{ registerData.month ? registerData.month : 'Month' }}</div>
                                        <i class="fa fa-angle-down"></i>
                                        <div class="login-form__list">
                                            <div v-if="showMonth">
                                                <div class="login-form___gender-select">
                                                    <span v-for="n in 12" :key="n" @click.prevent="setMonth(n)">{{ n }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-form__select" @click.prevent="toggleShowYear">
                                        <div class="login-form__selected login-form__selected--default">{{ registerData.year ? registerData.year : 'Year' }}</div>
                                        <i class="fa fa-angle-down"></i>
                                        <div class="login-form__list">
                                            <div v-if="showYear">
                                                <div class="login-form___gender-select">
                                                    <span v-for="n in 80" :key="n" @click.prevent="setYear(n)">{{ 2003 - n }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-form__select" @click.prevent="toggleShowGender">
                                    <div class="login-form__selected login-form__selected--default">{{ registerData.gender ? registerData.gender : 'Gender' }}</div>
                                    <i class="fa fa-angle-down"></i>
                                    <div class="login-form__list">
                                        <div v-if="showGender">
                                            <div class="login-form___gender-select">
                                                <span @click.prevent="setGender('Male')">Male</span>
                                                <span @click.prevent="setGender('Female')">Female</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-login-form">
                                    <input autocomplete="off" type="submit" class="login-form__reg-button " value="Sign up">
                                </div>
                            </form>
                            <div class="signup-modal-badge">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" style="margin: 0px;">Privacy Policy</a> and <a href="https://policies.google.com/terms" style="margin: 0px;">Terms of Service</a> apply</div>
                        </div><i id="login-page-go-down-button-2" class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
            </div>
            <div>
                <div id="footer" class="">
                    <div class="container">
                        <div class="top row">
                            <div class="col-sm-12">
                                <ul class="list-inline social text-center">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links text-center">
                            <ul class="list-inline">
                                <li><a href="#" target="_blank">FAQ</a></li>
                                <li><a class="#" href="/terms">Terms</a></li>
                                <li><a class="#" href="/privacy">Privacy</a></li>
                                <li><a class="#" href="/press">Press</a></li>
                                <li><a href="#" target="_blank">Affiliate Program</a></li>
                                <li><a href="#" target="_blank">Fair Housing</a></li>
                                <li><a href="#" target="_blank">Blog</a></li>
                            </ul>
                        </div>
                        <div class="copyright text-center">GettingRoom © 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                errorClass:'',
                showDay: false,
                showMonth: false,
                showYear: false,
                showGender: false,
                registerData:{
                    email:'',
                    password:'',
                    first_name:'',
                    last_name:'',
                    day:'',
                    month:'',
                    year:'',
                    gender:''
                },
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            register(){
                axios.post('/register',this.registerData).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }
                    window.location.href = "/newlisting";
                }).catch(error=>{
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            toggleShowDay() {
                this.showMonth = this.showYear = this.showGender = false;
                this.showDay = !this.showDay;
            },
            toggleShowMonth() {
                this.showDay = this.showYear = this.showGender = false;
                this.showMonth = !this.showMonth;
            },
            toggleShowYear() {
                this.showDay = this.showMonth = this.showGender = false;
                this.showYear = !this.showYear;
            },
            toggleShowGender() {
                this.showDay = this.showMonth = this.showYear = false;
                this.showGender = !this.showGender;
            },
            setDay(num) {
                this.registerData.day = num;
            },
            setMonth(num) {
                this.registerData.month = num;
            },
            setYear(num) {
                this.registerData.year = 2003 - num;
            },
            setGender(type) {
                this.registerData.gender = type;
            }
        }
    };
</script>
