<template>
<div>
    <div class="wrapper">
        <div class="container">
            <div class="setting-content">
                <h1 class="title text-center light">Settings</h1>
                <div class="box">
                    <form>
                        <div class="list">
                            <div class="row">
                                <div class="col-md-3 list-title settings-flex"><span>Email</span></div>
                                <div class="col-md-9 settings-wrapper settings__cont">
                                    <p>{{loggedUser.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="col-md-3 list-title"><span>Language</span></div>
                                <div class="col-md-9 settings-wrapper">
                                    <div dir="ltr">
                                        <div class="Select btn-group bootstrap-select language-picker has-value Select--single">
                                            <input name="lang-picker" type="hidden" value="en-US">
                                            <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-13--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-13--value-item">English (US)</span></div>
                                                    <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-13--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                                                    </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="accountDelete">
                            <div class="row" id="showNotification">
                                <div class="col-md-3 list-title"><span>Currency</span></div>
                                <div class="col-md-9 settings-wrapper">
                                    <div class="Select btn-group bootstrap-select currency-picker has-value Select--single">
                                        <input name="currency-picker" type="hidden" value="USD">
                                        <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-14--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-14--value-item">USD</span></div>
                                        <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-14--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                                        </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list"><div class="row"><div class="col-md-3 list-title"><span>Notifications</span></div><div class="col-md-9"><p>Gettingroom notification settings allow you to control what notifications get delivered via email to {{loggedUser.email}}</p><p class="clearfix"></p><p class="clearfix">New messages waiting in your mailbox<div class="custom-switch" dir="ltr" id="notifications.new_messages"><input autocomplete="off" type="checkbox" dir="ltr" name="notifications.new_messages" form="accountSettingsForm" class="custom-switch" value="true" id="custom-switch-0" checked><label for="custom-switch-0" style="
    margin-top: -25px;
"></label></div></p><p class="clearfix">Helpdesk activity updates<div class="custom-switch" dir="ltr" id="notifications.helpdesk_activity"><input autocomplete="off" type="checkbox" dir="ltr" name="notifications.helpdesk_activity" form="accountSettingsForm" class="custom-switch" value="true" id="custom-switch-1" checked><label for="custom-switch-1" style="
    margin-top: -25px;
"></label></div></p><p class="clearfix">Daily matches<div class="custom-switch" dir="ltr" id="notifications.matches"><input autocomplete="off" type="checkbox" dir="ltr" name="notifications.matches" form="accountSettingsForm" class="custom-switch" value="true" id="custom-switch-2" checked><label for="custom-switch-2" style="
    margin-top: -25px;
"></label></div></p><p class="clearfix">General account updates<div class="custom-switch" dir="ltr" id="notifications.account_updates"><input autocomplete="off" type="checkbox" dir="ltr" name="notifications.account_updates" form="accountSettingsForm" class="custom-switch" value="true" id="custom-switch-3" checked><label for="custom-switch-3" style="
    margin-top: -25px;
"></label></div></p></div></div></div>
                        <div class="list">
                            <div class="row">
                                <div class="col-md-3 list-title"><span>Status</span></div>
                                <div class="col-md-9 full_width_settings">
                                    <div class="clearfix status_profile_block">
                                        <div>Active. Visible to Gettingroom Users<a class="link" @click="accountDelete">Delete account</a></div>
                                    </div>
                                    <div class="custom-switch" dir="ltr" id="is_active">
                                        <input autocomplete="off" type="checkbox" class="custom-switch pull-right" name="is_active" value="true" id="custom-switch-4" checked>
                                        <label for="custom-switch-4"></label>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="cancelSubscription">
                            <div class="row">
                                <div class="col-md-3 list-title"><span>Password Reset</span></div>
                                <div class="col-md-9 full_width_settings">
                                    <div class="clearfix status_profile_block">
                                        <div>Reset password
                                            <div class="form-group">
                                                <label for="password">Old Password</label>
                                                <input type="password" v-model="reset.old_password" id="password" class="form-control " :class="errorget"
                                                                           placeholder="*****"></div>
                                            <div class="form-group">
                                                <label for="new-password">New Password</label>
                                                <input type="password" v-model="reset.password" id="new-password" class="form-control" :class="errorget"
                                                                           placeholder="*****"></div>
                                            <div class="form-group">
                                                <label for="confirm-password">Confirm New Password</label>
                                                <input type="password" v-model="reset.confirm_password" id="confirm-password" class="form-control" :class="errorget"
                                                                           placeholder="*****"></div>
                                            <span class="text-success text-center" v-if="success">
                                                Password reset successfully
                                            </span>
                                            <span class="text-success text-center" v-if="danger">
                                                Wrong password
                                            </span>
                                            <button class="btn btn-primary" @click.prevent="updatePassword">Update password</button>
                                        </div>
                                    </div>
                                    <div class="custom-switch" dir="ltr">

                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="transectionHIstory">
                            <div class="row">
                                <div class="col-md-3 list-title"><span>Subscription</span></div>
                                <div class="col-md-9">
                                    <div>
                                        <p>You are using a free account</p>
                                        <p>Upgrade and unlock Gettingroom’s mailbox
                                            <br> and Gettingroom Social Connect</p><router-link class="btn btn-primary yellow" to="/upgrade">Upgrade your account</router-link></div>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="col-md-12 list-title"><span>Transactions</span></div>
                                <div class="col-md-12">
                                    <table class="table table-curved">
                                        <thead>
                                        <tr>
                                            <th>Date (Eastern Time)</th>
                                            <th>Duration</th>
                                            <th>Price</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="footer" class="gray_background_footer">
                <div class="container">
                    <div class="top row">
                        <div class="col-sm-12">
                            <ul class="list-inline social text-center">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="links text-center">
                        <ul class="list-inline">
                            <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                            <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                            <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                            <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                        </ul>
                    </div>
                    <div class="copyright text-center">GettingRoom © 2019</div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                success:false,
                danger:false,
                errorget:'',
                reset:{
                    password:'',
                    confirm_password:'',
                    old_password:''
                }
            }
        },

        props: {
            loggedUser:Object
        },

        computed: {
            show() { return this.$router.query.show }
        },

        created () {
            //
        },

        mounted () {
            document.getElementById(this.$route.query.show).scrollIntoView();
        },

        watch: {
            show: {
                immediate: true,
                handler(value) {
                    VueScrollTo.scrollTo('#'+value);
                }
            }
        },

        methods: {
            accountDelete(){
                axios.get('account/deactivate')
                    .then(resp => {
                        alert("Your account has been deactivated. Please logout to take action");

                    })
                    .catch(function (resp) {
                    });
            },
            updatePassword(){
                if(this.reset.password === '' || this.reset.confirm_password === '' || this.reset.old_password === ''){
                    this.errorget = 'input-error'
                }else{
                    axios.post('/reset/password/settings',this.reset).then(response => {
                        this.success = true;
                    }).catch(error=>{
                        this.errorget = 'input-error';
                        this.danger = true;
                    })
                }
            }
        }
    };
</script>
<style>
    #custom-switch-0{margin-top: -10px !important}
</style>
