<template>
<div>
    <div id="content">
        <div class="wsmenucontainer clearfix gray_background">
            <iv class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow __nomain"><i class="support-badge">1</i></a></iv>
            <div class="wrapper">
                <div>
                    <div id="listing-main-container">
                        <div class="listing__container">
                            <div id="mobile-profile-carousel" dir="ltr">
                                <div class="slick-initialized slick-slider"><a class="slick-arrow slick-prev" data-role="none" currentslide="0" slidecount="2" style="display: block;"><i class="chevron chevron-left"></i></a>
                                    <div class="slick-list">
                                        <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                            <div data-index="-1" class="slick-slide" style="width: 0px;">
                                                <div style="height: 100%;"><img class="mobile-carousel-item" src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-696a054d866245cba1ec47a399cc9800.jpg" alt="carousel_item"></div>
                                            </div>
                                            <div data-index="0" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 0px;">
                                                <div style="height: 100%;"><img class="mobile-carousel-item" src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel_item"></div>
                                            </div>
                                            <div data-index="1" class="slick-slide" tabindex="-1" style="outline: none; width: 0px;">
                                                <div style="height: 100%;"><img class="mobile-carousel-item" src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-696a054d866245cba1ec47a399cc9800.jpg" alt="carousel_item"></div>
                                            </div>
                                            <div data-index="2" class="slick-slide slick-active" style="width: 0px;">
                                                <div style="height: 100%;"><img class="mobile-carousel-item" src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel_item"></div>
                                            </div>
                                        </div>
                                    </div><a class="slick-arrow slick-next" data-role="none" currentslide="0" slidecount="2" style="display: block;"><i class="chevron chevron-right"></i></a></div>
                                <div class="listing-month-price">
                                    <span class="currency-sign">$</span><span class="carousel-price">{{rooms[0].monthly_rent}}</span><span class="currency-sign">USD</span><span class="type_payment">per month</span></div>
                                <div class="time_map_pin">{{Math.floor((Date.now() - givenDate(rooms[0].dob))/1000/60/60/24/365)}} hours ago</div><a class="display__block"><span class="new_block">NEW</span></a>
                                <div class="user">
                                    <router-link to="/user/15581121" target="_blank">
                                        <img src="../../../../public/images/no_user_original.gif">
                                    </router-link>
                                </div>
                            </div>
                            <div class="custom-container custom-container-listing-fix" style="margin: 0px auto;">
                                <div class="mobile-listing-headline">
                                    <div class="headline-info">{{rooms[0].headline}}</div>
                                    <div class="additional-info"><span class="green-text"><span>Private Room</span>&nbsp;<span style="color: black;">offered by {{rooms[0].hati}}</span></span>
                                    </div>
                                </div>
                                <div class="row row-default row-listing-fix">
                                    <div class="content-wrapper ___listing col-xs-12 clearfix">
                                        <div id="listing-right-side-content" class="content__container">
                                            <div class="bookmarks-container without-options">
                                                <div class="bookmarks-square-icon bookmark" @click="bookmarkList(rooms[0].id)"></div>
                                            </div>
                                            <div v-if="valid" id="option-listing-buttons">
                                                <router-link class="edit-listing-btn" :to="{ name: 'NeedRoomEdit', params: { id: rooms[0].moja }}" style="color:white">
                                                    <i class="fa fa-pencil icon__pencil"></i>Edit Listing</router-link>
                                                <a :href="'/needroommate/delete/'+rooms[0].moja"  class="delete-listing-btn" style="color:white!important">Delete listing</a>
                                            </div>
                                            <div class="mobile-date-location-block" style="padding-bottom: 0px; margin-top: 4px;">
                                                <div class="date-location">
                                                    <div class="mobile-date">
                                                        <div class="available-date">
                                                            <div class="icon_calendar_v2"></div><span>Move-in Date</span></div>
                                                        <div class="date"><span>{{rooms[0].move_date}}</span></div>
                                                    </div>
                                                </div>
                                               
                                                <div class="date-location">
                                                    <div class="mobile-location">
                                                        <div class="location">
                                                            <div class="icon_location_v2"></div><span>Location</span></div>
                                                        <div> {{rooms[0].location}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mobile-plus-description"><span class="text">+&nbsp;&nbsp;Description</span></div>
                                            <div class="mobile-description-block">

                                                                {{rooms[0].description}}

                                            </div>
                                            <div class="mobile-plus-details"><span class="text">+&nbsp;&nbsp;Details</span></div>

                                            <div id="header-main-block">
                                                <div class="first-listing-block listing__head clearfix">
                                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="padding-left: 3px;">
                                                        <div class="green-text hidden-xs"><span style="font-family: Arial;">{{Math.floor((Date.now() - givenDate(rooms[0].created_at))/1000/60/60)}} hours ago</span><span id="new" class="badge__new">NEW</span></div>
                                                        <h1 class="listing__title">{{rooms[0].headline}}</h1>
                                                        <div id="additional-info-block"><span class="green-text">Private Room </span>offered by {{rooms[0].hati}}</div>
                                                    </div>
                                                    <div class="minor-price-block col-lg-3 col-md-3 col-sm-4 col-xs-4 minor-price-block--offering">
                                                        <div class="minor-price-block-monthly">
                                                            <div class="price-value"><span class="currency">$</span><span class="value">{{rooms[0].monthly_rent}}</span></div>
                                                            <div class="monthly-payment"><span>USD</span><span class="per-month">per month</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <div class="posted-date-info">
                                                            <a href="/profile/15581121" target="_blank">
                                                                <img class="posted-date-info__photo" src="../../../../public/images/no_user_thumbnail.gif" alt="posted-info-photo"></a><span class="posted-date-info__when">{{Math.floor((Date.now() - givenDate(rooms[0].dob))/1000/60/60/24/365)}} hours ago by <a href="/profile/15581121" target="_blank"><span class="posted-date-info__who">{{rooms[0].hati}}</span></a>.</span>
                                                        </div>
                                                        <div class="posted-icon-set margin-left-30px clearfix"><span class="action"><i class="icon__bookmark icon__my_bookmark"></i></span><span class="action"><i class="icon__share"></i></span><span class="action"><i class="icon__report"></i></span></div>
                                                    </div>
                                                </div>
                                                <div class="user-modal visible-xs-block">
                                                    <a href="/profile/15581121" target="_blank"><img src="../../../../public/images/no_user_thumbnail.gif" class="user-modal__photo"></a>
                                                    <div class="first-stage">
                                                        <button class="user-modal__button">Message</button>
                                                        <button class="user-modal__button">Contact</button>
                                                    </div>
                                                </div>
                                                <div id="listing__block__responsive" class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                    <div class="block__content">{{rooms[0].location}}
                                                        <div class="listing__details details__listing clearfix">
                                                            
                                                            
                                                            <div class="details__text text-center"><span class="gray-text">Move-in Date</span>
                                                                <br><span>{{rooms[0].move_date}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="responsive-listing-block">
                                                <div class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__location"></i><span>Location</span></div>
                                                    <div class="block__content">{{rooms[0].location}}
                                                        <div class="listing__details details__listing clearfix">
                                                          
                                                          
                                                            <div class="details__text text-center"><span class="gray-text">Move-in Date</span>
                                                                <br><span>{{rooms[0].move_date}}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="responsive-message-block">
                                                <div class="responsive__message__container">
                                                    <textarea class="form-control user-message-send-form" placeholder="Write a message"></textarea>
                                                    <div class="responsive-send-btn"><span>Send Message</span></div>
                                                </div>
                                                <div class="responsive-contact-info">
                                                    <div class="responsive-phone-number">
                                                        <div class="phone__container">
                                                            <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="user-modal__icons-set responsive-social-info">
                                                        <div class="profile__link-edit-cont"><a target="_blank" class="profile__link--Message profile__link " style="color: white;"><i class="fa fa-comment-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="main-listing-info">
                                                <div id="description_16319932" class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__description"></i><span>Description</span></div>
                                                    <div class="block__content">{{rooms[0].description}}


                                                    </div>
                                                </div>
                                              
                                               
                                                <div id="responsive-lifestyle">
                                                    <div class="listing__block clearfix">
                                                        <div class="block__title"><i class="icon__lifestyle"></i><span>Lifestyle</span></div>
                                                        <div class="block__content">
                                                            <div v-if="rooms[0].cleanliness !== null || rooms[0].overnight_guests !== null || rooms[0].party_habits !==null || rooms[0].get_up !== null || rooms[0].food_preference !== null || rooms[0].smoker !== null || rooms[0].work_schedule !== null || rooms[0].occupation !== null">
                                                                <div v-if="rooms[0].cleanliness">My Cleanliness:&nbsp;<span> {{rooms[0].cleanliness}}</span></div>
                                                                <div v-if="rooms[0].overnight_guests">Overnight Guests:&nbsp;<span>{{rooms[0].overnight_guests}} </span></div>
                                                                <div v-if="rooms[0].party_habits">Party Habits:&nbsp;<span>{{rooms[0].party_habits}} </span></div>
                                                                <div v-if="rooms[0].get_up">I Get Up / Go To Bed : <span>{{rooms[0].get_up}} / {{rooms[0].go_to_bed}}</span>  <span> </span></div>
                                                                <div v-if="rooms[0].food_preference">Food preference:&nbsp;<span> {{rooms[0].food_preference}}</span></div>
                                                                <div v-if="rooms[0].smoker">Smoker:&nbsp;<span>{{rooms[0].smoker}} </span></div>
                                                                <div v-if="rooms[0].work_schedule">Work Schedule:&nbsp;<span> {{rooms[0].work_schedule}}</span></div>
                                                                <div v-if="rooms[0].occupation">Occupation:&nbsp;<span>{{rooms[0].occupation}} </span></div>
                                                                Pets Owner:
                            <div class="checkbox animal" v-if="rooms[0].have_cats ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-cat"></i></span>Cats</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].have_dogs ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-dog"></i></span>Dogs</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].have_small_pets ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-pets"></i></span>Small Pets</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].have_birds ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-birds"></i></span>Birds</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].have_fish ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-fish"></i></span>Fish</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].have_reptiles ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-reptiles"></i></span>Reptiles</label>
        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="roommate-preference_16319932" class="listing__block clearfix">
                                                    <div class="block__title"><i class="icon__roommate-preference"></i><span>Roommate preference</span></div>
                                                    <div class="block__content">
                                                        <div>
                                                            <div>Age:&nbsp;<span>{{rooms[0].prefer_min_age}} - {{rooms[0].prefer_max_age}}</span></div>
                                                            <div v-if="rooms[0].smoker">Smoking:&nbsp;<span>{{rooms[0].smoker}} </span></div>
                                                            <div v-if="rooms[0].prefer_student">Students Only:&nbsp;<span v-if="rooms[0].prefer_student ===1 "> Yes</span>
                                                            <span v-else> No </span>
                                                            </div>
                                                        Pets:
        <div class="checkbox animal" v-if="rooms[0].prefer_cats ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-cat"></i></span>Cats</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].prefer_dogs ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-dog"></i></span>Dogs</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].prefer_small_pets ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-pets"></i></span>Small Pets</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].prefer_birds ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-birds"></i></span>Birds</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].prefer_fish ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-fish"></i></span>Fish</label>
        </div>
        <div class="checkbox animal" v-if="rooms[0].prefer_reptiles ===1 ">
            <label style="cursor: default;"><span class="custom-checkbox"><i class="icon-reptiles"></i></span>Reptiles</label>
        </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <div id="responsive-lifestyle-reverse">
                                            <div class="listing__block clearfix">
                                                <div class="block__title"><i class="icon__lifestyle"></i><span>Lifestyle</span></div>
                                                <div class="block__content">
                                                    <div>
                                                                <div v-if="rooms[0].cleanliness">My Cleanliness:&nbsp;<span> {{rooms[0].cleanliness}}</span></div>
                                                                <div v-if="rooms[0].overnight_guests">Overnight Guests:&nbsp;<span>{{rooms[0].overnight_guests}} </span></div>
                                                                <div v-if="rooms[0].party_habits">Party Habits:&nbsp;<span>{{rooms[0].party_habits}} </span></div>
                                                                <div v-if="rooms[0].get_up">I Get Up / Go To Bed : <span>{{rooms[0].get_up}} / {{rooms[0].go_to_bed}}</span>  <span> </span></div>
                                                                <div v-if="rooms[0].food_preference">Food preference:&nbsp;<span> {{rooms[0].food_preference}}</span></div>
                                                                <div v-if="rooms[0].smoker">Smoker:&nbsp;<span>{{rooms[0].smoker}} </span></div>
                                                                <div v-if="rooms[0].work_schedule">Work Schedule:&nbsp;<span> {{rooms[0].work_schedule}}</span></div>
                                                                <div v-if="rooms[0].occupation">Occupation:&nbsp;<span>{{rooms[0].occupation}} </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="float-sidebar" class="float-sidebar hidden-xs">
                                            <div class="listing-user__container">
                                                <div>
                                                    <div class="image__container">
                                                        <router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(rooms[0].bedi))}}" target="_blank">
                                                            <img v-if="rooms[0].avatar" :src="rooms[0].avatar" alt="User Profile Photo">
                                                            <img v-else src="../../../../public/images/no_user_thumbnail.gif" alt="User Profile Photo">
                                                        </router-link>
                                                    </div>
                                                    <div class="aside-content-container text-center">
                                                        <div class="listing-user__name"><router-link :to="{ name: 'User', params: { id:  (78965428+ parseInt(rooms[0].bedi))}}" target="_blank">
                                                        <span class="link">{{rooms[0].hati}}</span></router-link></div>
                                                        <div class="listing-user__age listing-user__gender"><span>{{getAge(rooms[0].dob)}}, <i v-if="rooms[0].genu === 'Male'" class="icon__male"></i><i v-else class="icon__female"></i></span></div><span class="green-text">Looking for a private room</span>
                                                        <div class="message__container">
                                                            <textarea class="form-control user-message-send-form" placeholder="Write a message">
                                                                </textarea><a class="btn btn-primary message__send-message" @click.prevent="aler">
                                                                    <span>Send Message</span></a></div>
                                                        <div class="border-line hidden"></div>
                                                        <div class="phone__container hidden">
                                                            <div class="phone"><i class="fa fa-phone" style="color: rgb(167, 172, 165); font-size: 28px; margin-right: 9px;"></i><span class="phone__number" dir="ltr" style="color: rgb(102, 102, 102);">Phone number</span></div>
                                                        </div>
                                                        <br>
                                                        <div @click.prevent="aler"><h3><i class="fa fa-phone text-success" style="font_size:200px"></i>&nbsp;Upgrade to view</h3></div>
                                                        
                                                        <br>
                                                        <span class="text-secondary">Or</span>
                                                        <h5>Find <span class="text-success">{{rooms[0].hati}}</span> on social media</h5>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other-listings__container container">
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                            </div>
                            <div></div>
                        </div>
                    </div>

                    <div>
                        <div class="__is_overlay "></div>
                        <div class="show_contact_block ___show default  ">
                            <div class="_contact_block ">
                                <div>
                                    <div class="__user_photo">
                                        <div class="__photo">
                                            <a><img src="../../../../public/images/no_user_thumbnail.gif" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="__user_info">{{rooms[0].hati}}<i class="fa fa-venus"></i></div>
                                    <div class="__other_func">
                                        <div class="__message_block"><i class="fa fa-comment-o"></i><span>Message</span></div><a class="__phone_block ___disabled" href="/payments/choose-package"><i class="fa fa-phone"></i><span>Call</span></a><a class="__sms_block ___disabled" href="/payments/choose-package"><span class="icon__sms "></span><span>SMS</span></a>
                                        <div class="__disabled_social"><span class="icon___social"><i class="fa fa-facebook"></i><i class="fa fa-instagram"></i><i class="fa fa-linkedin"></i><i class="fa fa-twitter"></i></span><span>Social</span></div>
                                        <div class="__other_block"><i class="fa fa-ellipsis-v"></i><span>Other</span></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="overlay__ "></div>
                                    <div class="share_modal ">
                                        <div class="top_block">
                                            <div class="room-card-search room-card-share-tool">
                                                <div class="flex">
                                                    <div class="slider_block">
                                                        <div class="time_map_pin">    </div>
                                                        <div class="slider_inner" id="0">
                                                            <div class="inner-wrapper">
                                                                <div class="topBlock"><span class="absolute_block_price vertical-modifier"><span class="__currency">$</span><span>1,400</span><span class="__currency">USD</span><span>per month</span></span><a href="/listings/16319932" target="_blank" class="display__block"><span class="new_block search">NEW</span></a>
                                                                    <div class="item room-card">
                                                                        <div class="image room-card-search__"><a class="arrows room-card arrow-left"><i class="chevron chevron-left"></i></a>
                                                                            <a href="/listings/16319932" target="_blank"><img src="https://d2w0a6wbaasgww.cloudfront.net/pics/Original/L-16319932-d882eba9c2b5475d9453dfd4fce95c9c.jpg" alt="carousel-photo"></a><a class="arrows room-card arrow-right"><i class="chevron chevron-right"></i></a></div>
                                                                    </div>
                                                                    <router-link class="profile_block search" :to="{ name: 'User', params: { id:  (78965428+ parseInt(rooms[0].bedi))}}" target="_blank">
                                                                        <img src="../../../../public/images/no_user_thumbnail.gif" alt="">
                                                                        <div class="hover_profile_block"><span>View Profile</span></div>
                                                                        <div class="user-info search"><span>{{rooms[0].hati}}</span><span class="point">.</span><span>{{getAge(rooms[0].dob)}}</span><span class="point">.</span><i class="fa fa-venus"></i></div>
                                                                    </router-link>
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="description_block search">
                                                        <div class="first-dev"><span class="headline"> {{rooms[0].headline}}</span></div>
                                                        <div class="google_formatted_address"><span class="green-text">Looking for a private room</span><span class="middle_block">|</span><span>{{rooms[0].location}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="close_modals__">×</div>
                                        </div>
                                        <div class="middle_block">
                                            <div class="copy_input">
                                                <input autocomplete="off" type="text" disabled="" value="">
                                                <button class="copy_button">Copy</button>
                                                <div class="copied"></div>
                                            </div>
                                            <div class="by_email">
                                                <div class="title">By Email</div>
                                                <div class="form_by_email">
                                                    <div class="inputs">
                                                        <input autocomplete="off" type="text" placeholder="Email Address">
                                                        <div class="send_btn_">Send</div>
                                                    </div>
                                                    <div class="delimiter___"></div>
                                                    <textarea placeholder="Enter your personal message"></textarea>
                                                </div>
                                            </div>
                                            <div class="title">Share on Social Medias</div>
                                            <div class="social-share">
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--facebook"><a href="#" class="fb"><i class="fa fa-facebook"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--twitter"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--linkedin"><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></div>
                                                <div role="button" tabindex="0" class="SocialMediaShareButton SocialMediaShareButton--googlePlus"><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="footer" class="gray_background_footer">
                    <div class="container">
                        <div class="top row">
                            <div class="col-sm-12">
                                <ul class="list-inline social text-center">
                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="links text-center">
                            <ul class="list-inline">
                                <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                                <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                                <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                                <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                            </ul>
                        </div>
                        <div class="copyright text-center">GettingRoom © 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ref="vuemodal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="verify-modal__stadart-cont">
                        <div style="padding-left: 20px; padding-right: 20px;"><div><div class="verify-modal__background-check"><div class="text-wrapper"><div class="subtitle">Account Varification</div>
                            <div>GettingRoom takes member safety and security very seriously. We don’t even want people that aren’t easily identifiable from their Social profile. Every Profile goes through a security filter from a GettingRoom team member.</div></div><span class="start-button">Start</span></div><div class="verify-modal__account-status"><strong>Account Status:<span style="color: rgb(252,72,45);"> Unverified</span></strong></div>
                            Complete the steps marked with * to verify your account and send a message:
                            <div class="verify-modal__checklist" style="border: 0px; padding: 0px 10px; box-shadow: none; cursor: auto;">
                            </div>
                            <div v-if="front">
                                <div class="checks-modal" @click="emailSection">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Confirm your email</h5>
                                            <p>Email verification is  needed to validate your account </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="checks-modal" @click="phoneSection">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Verify your phone number.</h5>
                                            <p>verifying your phone number helps prospective matches contact you faster </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <div class="checks-modal" @click="pushi">
                                    <div class="row" style="padding-right: 2px;margin-right:-40px">
                                        <div class="col-md-8" style="padding-left:15px">
                                            <h5>Active Trial package it's free</h5>
                                            <p>Trial package has fully premium featured and it's completely free for 24 hours! to enjoy the service </p>
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                            <span class="text-danger"><b>*</b></span>
                                            <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="verify-modal__mobile-scroll  ">
                                    Verify your social media.
                                    <div class="verify-modal__border" style="border: 0px; padding: 0px 10px; box-shadow: none;"><div class="verify-modal__additional-badges">Get 1 or more badges of your choice</div><div class="verify-modal__media-container-wrapper"><div class="verify-modal__media-container">
                                        <div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Facebook"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/409f653bdf65dacee6819aed33a80ea5.png" alt="icon"></div><p class="verify-modal__name">Facebook</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--LinkedIn"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3f8ed3bb8a3264436a9ad0e8eaaa92b8.png" alt="icon"></div><p class="verify-modal__name">LinkedIn</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Instagram"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/8b60dd7c808cb6245d790378973ac2cc.png" alt="icon"></div><p class="verify-modal__name">Instagram</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Twitter"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/d4b8306096a743e469061a446f7ffd30.png" alt="icon"></div><p class="verify-modal__name">Twitter</p></div></div></div></div></div>
                            </div>
                            <div v-if="mobile">
                                <div class="verify-modal__verified-phone verified__content "><div><p class="verify-modal__email-title ">Text Message Verification</p>
                                    <form class="verify-modal__input-group
                            verify-modal__input-group--sms-group">
                                        <vue-tel-input v-model="phone" id="number" style="pointer-events: auto;"></vue-tel-input>
                                        <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;"></i><button type="submit" style="display: none;"></button>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <div v-if="emailVerify">
                                <div class="verify-modal__verified-email verified__content "><p class="verify-modal__email-title">Email Verification</p><form class="verify-modal__input-group">
                                    <input autocomplete="off" type="text" id="verify-modal-input-group" placeholder="Email Address"  v-model="emailVerifyData.email" style="pointer-events: auto;">
                                    <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;" @click="mailSend"></i><button type="submit" style="display: none;"></button></form><div class="visible_content email">
                                </div></div>
                            </div>
                        </div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                valid:false,
                tokens:'',
                rooms:[],
                given:null,
            }
        },

        props: {
            id:Number,
            loggedUser: { type: Object, default: null }
        },

        computed: {
            //
        },

        created () {
            //
        },
        mounted () {
            console.log(this.loggedUser);
            axios.get('/single/room/'+(this.id - 564432193))
                .then(resp => {
                    this.rooms = resp.data;
                    document.title = this.rooms[0].headline;
                    if(this.rooms[0].bedi === this.loggedUser.id){
                        this.valid = true;
                    }else {
                        this.valid = false;
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        watch: {
            valid(){
                console.log(this.loggedUser);
                axios.get('/single/room/'+(this.id - 564432193))
                    .then(resp => {
                        this.rooms = resp.data;
                        document.title = this.rooms[0].headline;
                        if(this.rooms[0].bedi == this.loggedUser.id){
                            this.valid = true;
                        }else {
                            this.valid = false;
                        }
                    })
                    .catch(function (resp) {
                        console.log(resp);
                    });
            },

        },

        methods: {
            givenDate(dato){
                this.given = new Date(dato);
                return this.given;
            },
            aler(){
                var tak = window.localStorage.getItem('token');
                if (tak){
                    this.$nextTick(() => {
                        $('#exampleModal').modal()
                    })
                }else{
                    this.$router.push('/login');
                }
            },
            getAge(dateString) {
                let today = new Date();
                let birthDate = new Date(dateString);
                let age = today.getFullYear() - birthDate.getFullYear();
                let month = today.getMonth() - birthDate.getMonth();
                if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            },
            bookmarkList(value){
                this.tokens = window.localStorage.getItem('token');
                if(this.tokens){
                    event.target.classList.toggle('active');
                    axios.get('/add/bookmark/'+value+'/'+'roommate')
                        .then(resp => {
                        })
                        .catch(function (resp) {
                        });

                }else {
                    this.$router.push('/login');
                }

            }
        }

    };
</script>
