<template>
    <div class="wrapper">
        <div class="custom-container-profile mobile ios-overflow">
            <div class="content">
                <div class="left_content">
                    <div class="left_top_content shadow-block">
                        <div class="verify-modal__verified-text profile__verify-abs-cont">
                            <div class="verify-modal__media-block">
                                <div class="verify-modal__flag verify-modal__flag--Email verify-modal__flag--active verify-modal__flag--verified">
                                    <div class="verify-modal__image-wrapper s">
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo_block" dir="ltr">
                            <div class="slick-initialized slick-slider">
                                <div class="slick-list">
                                    <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 750px;">
                                        <img v-if="singleUser.avatar" :src="singleUser.avatar" id="image_edit_https://s.roomster.com/Content/images/placeholders/no_user_original.gif" data-index="0" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 250px;">
                                        <img v-else src="https://s.roomster.com/Content/images/placeholders/no_user_original.gif" id="images_edit_https://s.roomster.com/Content/images/placeholders/no_user_original.gif" data-index="0" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 250px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-white profile__icon-check">
                            <div class="name_block"><span>{{singleUser.first_name}}</span></div>
                            <div class="info_block"><span v-if="singleUser.dob">{{getAge(singleUser.dob)}} </span><span>,</span>
                                <img v-if="singleUser.gender === 'Male'" src="https://d1frv26ioc12ph.cloudfront.net/dist/ba305150cde7bff87eac5972e7796a47.svg" alt="gender">

                                <img v-else-if="singleUser.gender === 'Female'" src="https://d1frv26ioc12ph.cloudfront.net/dist/1012f1bb90730fe8f6594f24d39c49ab.svg" alt="gender">
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="right_content" style="">
                    <div class="panel-group listings">
                        <div v-if="singleUser.details !== null || singleUser.language !== null" class="panel panel-default">
                            <div id="collapseOne1" class="panel-collapse show_about">
                                <div class="info__block">About</div>
                                <div class="profile__container shadow-block">
                                    <div class="block_profile languages_profile">
                                        <div class="title">
                                            <i class="fa fa-globe"></i><span>Languages: </span>
                                        </div>
                                        <content>{{singleUser.language.split(' ').join(', ')}}</content>
                                    </div>
                                    <div class="block_profile about_profile foreign_profile">
                                        <content>{{singleUser.details}}</content>
                                    </div>
                                </div>
                                <div class="profile__panel block_profile interested_profile shadow-block hidden">
                                    <div class="profile__panel-title">
                                        <span>Interests</span>
                                    </div>
                                    <content dir="ltr" class="display_flex profile__panel-body">

                                    </content>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                singleUser:[]
            }
        },

        props: ['id'],

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            axios.get('/get/auser/'+(this.id - 78965428))
                .then(resp => {
                    this.singleUser = resp.data;
                    document.title = this.singleUser.first_name;
                    console.log(resp);
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },

        methods: {
            getAge(dateString) {
                let today = new Date();
                let birthDate = new Date(dateString);
                let age = today.getFullYear() - birthDate.getFullYear();
                let month = today.getMonth() - birthDate.getMonth();
                if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }
        }
    };
</script>
