<template>
<div>
    <div class="wrapper">
        <div class="tag_google support" id="div-gpt-ad-1508181089534-2" style="width: 970px; height: 90px;">
            <div id="google_ads_iframe_/255073872/rr_desktop/TopBanner_728x90_0__container__" style="border: 0pt none; width: 970px; height: 90px;"></div>
        </div>
        <div class="container">
            <div id="support">
                <div class="text-center">
                    <h2 class="title text-center thin">24/7 Support</h2></div>
                <div class="danger_text">
                    <div class="wrapper_danger_text"><span>Important notice! Gettingroom will NEVER ask you to wire funds using Western Union, MoneyGram or a bank account.</span>&nbsp
                    </div>
                </div>
                <div class="col-sm-12 links">
                    <div class="row">
                        <div class="col-sm-4 label-title">Quick links</div>
                        <div class="col-sm-8">
                            <div class="row custom__link__help">
                                <div class="col-sm-6"><router-link to="/editprofile" class="">Edit profile <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=accountDelete" class="">Delete account <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=cancelSubscription" class="">Cancel subscription <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=showNotification" class="">Notifications <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=transectionHIstory" class="">Transaction History <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=accountDelete" class="">Disable account <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                                <div class="col-sm-6"><router-link to="/settings?show=transectionHIstory" class="">Proof of subscription purchase <i class="fa fa-angle-right" aria-hidden="true"></i></router-link></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 messages" v-if="contact" v-for="con in contact">
                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="info clearfix">
                                <img v-if="con.type == 'admin'" src="https://d1frv26ioc12ph.cloudfront.net/dist/454dad440a792e1cc98c464b7ef745ea.png" alt="helpdesk_messages">
                                <img v-else :src="loggedUser.avatar" alt="helpdesk_messages">
                                <div class="title">
                                    <span v-if="con.type == 'admin'">Customer Service</span>
                                    <span v-else>{{loggedUser.first_name}}</span>
                                    <span class="date">{{toDate(con.created_at)}}</span></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="message">
                                <h4>{{con.subject}}</h4>
                                <p>{{con.message}}
                                 </p>
                            </div>
                        </div>
                    </div>
<!--                    <br>-->
<!--                    <hr>-->
<!--                    <br>-->
                </div>
                <div class="col-sm-12 messages">
                    <div class="row __flex">
                        <div class="col-sm-4 ">
                            <div class="info clearfix">
                                <img v-if="loggedUser.avatar" :src="loggedUser.avatar" alt="user_photo">
                                <img v-else src="https://icon-library.net/images/anonymous-user-icon/anonymous-user-icon-16.jpg" alt="user_photo">
                                <div class="title"><span>{{loggedUser.first_name}}</span></div>
                            </div>
                        </div>
                        <div class="col-sm-8 full_width_rtl">
                            <div class="message-form">
                                <div v-if="ss" class="alert alert-success" role="alert">
                                    Message sent . We shall get back to you with in 24 hours
                                </div>
                                <div v-if="er" class="alert alert-warning" role="alert">
                                    Message not sent
                                </div>
                                <div class="form-group">
                                    <div class="btn-group bootstrap-select full form-control dropup">
                                        <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="messgaeSubject" title="Bug Reports" aria-expanded="false"><span class="filter-option pull-left">{{contactData.subject}}</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open" role="combobox" style="max-height: 687px; overflow: hidden; min-height: 94px;">
                                            <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 686px; overflow-y: auto; min-height: 93px;">
                                                <li @click.prevent="setSubject('Bug Reports')" data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">Bug Reports</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li @click.prevent="setSubject('Feedback &amp; Suggestions')" data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Feedback &amp; Suggestions</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li @click.prevent="setSubject('Help &amp; Support')" data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Help &amp; Support</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li @click.prevent="setSubject('Billing')" data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">Billing</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            </ul>
                                        </div>
                                        <select v-model="contactData.subject" class=" form-control">
                                            <option @click.prevent="setSubject('bugs')" value="bugs">Bug Reports</option>
                                            <option @click.prevent="setSubject('feedback')" value="feedback">Feedback &amp; Suggestions</option>
                                            <option @click.prevent="setSubject('help')" value="help">Help &amp; Support</option>
                                            <option @click.prevent="setSubject('billing')" value="billing">Billing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea v-model="contactData.message" class="form-control" id="messgaeBody" placeholder="Your message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" @click.prevent="submitContact"><span>Send</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="footer" class="gray_background_footer">
            <div class="container">
                <div class="top row">
                    <div class="col-sm-12">
                        <ul class="list-inline social text-center">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="links text-center">
                    <ul class="list-inline">
                        <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                        <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                        <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                        <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                    </ul>
                </div>
                <div class="copyright text-center">GettingRoom © 2019</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                ss:false,
                er:false,
                contact:[],
                contactData:{
                    subject:'Bug Reports',
                    message:''
                }
            }
        },

        props: {
            loggedUser: { type: Object, default: null }
        },
        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            console.log(this.loggedUser['first_name']);
            window.axios.get('/unread/read').then(res=>{
                //
            }).catch(err=>{
                console.log(err)
            });

            axios.get('/all/contacts/data').then(res=>{
                this.contact = res.data;
            }).catch(err=>{
                console.log(err)
            });

        },

        methods: {
            setSubject(type) {
                this.contactData.subject = type;
            },
            submitContact(){
                axios.post('/sendquery',this.contactData).then(response => {
                    this.ss = true;
                    axios.get('/all/contacts/data').then(res=>{
                        this.contact = res.data;
                    }).catch(err=>{
                        console.log(err)
                    });
                }).catch(error=>{
                    this.er = true;
                    console.log(error.response.data);
                })
            },
            toDate(date){
                const dati = new Date(date);
                return dati.toDateString();
            }
        }
    };
</script>
