<template>
    <div>
        <div class="wrapper">
            <div class="container-tutorial first_steps">
                <div class="child_container left">
                    <div class="green-text">Welcome to GettingRoom Visual Tutorial</div>
                    <div class="desc">GettingRoom is easy to use. Choose what you need help with.</div>
                    <div class="inline_buttons"><a class="button_steps" href="upgradeYourAcc.html">Upgrading my account</a><a class="button_steps" href="">Cancelling my subscription</a></div>
                    <div class="switch_steps"></div>
                </div>
                <div class="child_container right"><img class="absolute-image" src="https://d1frv26ioc12ph.cloudfront.net/dist/60bfa046bb35800aac517abca3ca4b6f.jpg"></div>
            </div>
        </div>

        <div id="footer" class="gray_background_footer">
            <div class="container">
                <div class="top row">
                    <div class="col-sm-12">
                        <ul class="list-inline social text-center">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="links text-center">
                    <ul class="list-inline">
                        <li><a href="/affiliate" target="_blank">Affiliate Program</a></li>
                        <li><a href="http://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp/FHLaws/yourrights" target="_blank">Fair Housing</a></li>
                        <li><router-link to="/terms" target="_blank">Terms of use</router-link></li>
                        <li><router-link to="privacy" target="_blank">Privacy Policy</router-link></li>
                    </ul>
                </div>
                <div class="copyright text-center">GettingRoom © 2019</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                //
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            //
        }
    };
</script>
