<template>
<div>

            <div class="wrapper bakcground-gray">
                <div>
                    <div id="packages" class="container-custom payment">
                        <div class="steps">1. Choose a package</div>
                        <content>
                            <div @click="getPlan(1)" :class="oneDay" class="package">
                                <div class="block_time">
                                    <div>1</div>
                                    <div>day free trial</div>
                                    <div class="hours">(24 hours)</div>
                                </div>
                                <div class="price"><sup>$</sup><span>0.00</span><sup>USD</sup></div>
                            </div>
                            <div @click="getPlan(2)" :class="fiveDay" class="package">
                                <div class="block_time">
                                    <div>5</div>
                                    <div>day</div>
                                    <div class="hours">(120 hours)</div>
                                </div>
                                <div class="price"><sup>$</sup><span>9.99</span><sup>USD</sup></div>
                            </div>
                            <div @click="getPlan(3)" :class="halfMonth" class="package">
                                <div class="block_time">
                                    <div>15</div>
                                    <div>day</div>
                                    <div class="hours">(360 hours)</div>
                                </div>
                                <div class="price"><sup>$</sup><span>29.99</span><sup>USD</sup></div>
                            </div>
                            <div @click="getPlan(4)" :class="monthPlan" class="package">
                                <div class="block_time">
                                    <div>30</div>
                                    <div>day</div>
                                    <div class="hours">(720 hours)</div>
                                </div>
                                <div class="price"><sup>$</sup><span>39.99</span><sup>USD</sup></div>
                            </div>
                        </content>
                        <div class="info text-center">
                            <div>All packages unlock the <span class="green-text">Getting Room mailbox</span>
                                <br> and <span class="green-text">Getting Room Social Connect</span></div>
                        </div>
                        <div class="other">
                            <router-link :to="{ name: 'Payment', params: { id:  plans}}" :class="movePlan">Continue</router-link></div>
                        <div class="or">or
                            <router-link to="/listing">
                                <a class="green-text">Continue with Free Account</a>
                            </router-link></div>
                    </div>
                </div>
            </div>

    <div id="footer" class="">
        <div class="container">
            <div class="top row">
                <div class="col-sm-12">
                    <ul class="list-inline social text-center">
                        <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="links text-center">
                <ul class="list-inline">
                    <li><a href="" target="_blank">FAQ</a></li>
                    <li><a class="" href="/terms">Terms</a></li>
                    <li><a class="" href="/privacy">Privacy</a></li>
                    <li><a class="" href="/press">Press</a></li>
                    <li><a href="" target="_blank">Affiliate Program</a></li>
                    <li><a href="" target="_blank">Fair Housing</a></li>
                    <li><a href="" target="_blank">Blog</a></li>
                </ul>
            </div>
            <div class="copyright text-center">GettingRoom © 2019</div>
        </div>
    </div>
            </div>
</template>

<script>
    export default {
        components: {},

        mixins: [],

        data () {
            return {
                oneDay:'',
                fiveDay:'',
                halfMonth:'',
                monthPlan:'',
                movePlan:'disabled',
                plans:null
            }
        },

        props: {
            //
        },

        computed: {
            //
        },

        created () {
            //
        },

        mounted () {
            //
        },

        methods: {
            getPlan(plan){
                if(plan == 1){
                    if(this.oneDay == 'active'){
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'disabled';
                        this.plans = 0;
                    }
                    else {
                        this.oneDay = 'active';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'active';
                        this.plans = 1;
                    }
                }
                else if(plan == 2){
                    if(this.fiveDay == 'active'){
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'disabled';
                        this.plans = 0;
                    }else {
                        this.oneDay = '';
                        this.fiveDay = 'active';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'active';
                        this.plans = 2;
                    }
                }
                else if(plan == 3){
                    if(this.halfMonth == 'active'){
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'disabled';
                        this.plans = 0;
                    }
                    else {
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = 'active';
                        this.monthPlan = '';
                        this.movePlan = 'active';
                        this.plans = 3;
                    }
                }
                else if(plan == 4){
                    if(this.monthPlan == 'active'){
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = '';
                        this.movePlan = 'disabled';
                        this.plans = 0;
                    }
                    else {
                        this.oneDay = '';
                        this.fiveDay = '';
                        this.halfMonth = '';
                        this.monthPlan = 'active';
                        this.movePlan = 'active';
                        this.plans = 4;
                    }
                }
                else{
                    this.oneDay = '';
                    this.fiveDay = '';
                    this.halfMonth = '';
                    this.monthPlan = '';
                    this.movePlan = 'disabled';
                    this.plans = null;
                }
            }
        }
    };
</script>
