<template>
<div>
    <div id="header_main">
        <div id="mobile-banner">
            <div class="left-content">
                <div class="roomster-icon-block">
                    <img src="../../../../../public/image/minilogo.png"></div>
            </div>
            <div class="center-content">
                <div class="title">
                    <span class="green-text">GettingRoom</span> Android</div>
                <div class="block-download">
                    <div class="content">
                        <span>{{$t('download')}}</span>
                        <img src="https://d1frv26ioc12ph.cloudfront.net/dist/2e81b5c3c02b5e029cc1d5092fdc97b8.png" alt="star"></div>
                </div>
            </div>
            <div class="right-content"><a class="open-btn" href="">{{$t('open')}}</a></div>
        </div>
        <header class="header main navbar-default ">
            <div class="header__brand"><span class="logo__main"></span></div>
             
            <div class="header-mobile-menu">
                <div class="mobile-selects"><i class="fa fa-globe"> </i>
                    <div class="Select btn-group bootstrap-select currency-picker has-value Select--single">
                        <input name="currency-picker" type="hidden" value="USD">
                        <div class="Select-control"><span class="Select-multi-value-wrapper" id="react-select-4--value"><div class="Select-value"><span class="Select-value-label" role="option" aria-selected="true" id="react-select-4--value-item">USD</span></div>
                    <div aria-expanded="false" aria-owns="" aria-activedescendant="react-select-4--value" aria-disabled="false" class="Select-input" role="combobox" tabindex="0" style="border: 0px; width: 1px; display: inline-block;"></div>
                    </span><span class="Select-arrow-zone"><span class="Select-arrow"></span></span>
                        </div>
                        <div class="Select-menu-outer">
                            {{$t('something')}}
                        </div>
                    </div><span>/</span>
                </div>
                <div class="display_block header-mobile-menu__button" href="/login">{{$t('login')}}</div>
                <div class="display_block item_list" href="/support">
                    <div class="item_icon relative"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/bc6de916935d3b25eaa27c0ee571990a.png" alt=""></div>
                </div>
            </div>
            
           <div class="header__roomster-desktop-menu">
                <div class="roomster-desktop-menu">
                    <div class="roomster-desktop-menu__header-smm-big">
                        <div class="header-smm-big">
                            <a href="" rel="nofollow" target="_blank" class="header-smm-big__btn roomster-appstore-button"><span class="apple-image size_apple_image"></span></a>
                            <a href="" rel="nofollow" target="_blank" class="header-smm-big__btn roomster-market-button"><span class="google-image size_google_image"></span></a>
                            <div class="hiddens">
                                <router-link to="/" rel="nofollow" target="_blank"><img class="__small_img" src="https://d1frv26ioc12ph.cloudfront.net/dist/796ae98384aa14073bee9cb17732af8f.png" alt="apple-store"></router-link>
                            </div>
                            <div class="hiddens-1">
                                <a href="" rel="nofollow" target="_blank">
                                    <div class="__big_img"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="roomshare-desktop-menu__header-locals">
                        <div class="header-locals header-locals--desktop">
                            <div>
                                <select class="selectpicker language" data-width="fit">
                                    <option value="en-US">English(US)</option>
                                    <option value="en-GB">English(UK)</option>
                                </select>

                            </div>
                            <select class="selectpicker currency" data-width="fit">
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <div class="display__flex">
                        <div class="roomster-desktop-menu__header-nav">
                            <div class="header-nav header-nav--desktop">
                                <div class="header-nav__item header-nav__item--desktop">
                                    <div class="header-nav__item header-nav__item--desktop">
                                        <div class="header-nav__login-block">
                                            <div class="login-select__block">
                                                <div class="login-select__selected" :class="{ 'login-select__selected--open': isOpen }">
                                                    <div class="login-select__option login-select__option--Facebook" v-if="!emailSelected">
                                                        <a href="/login/facebook">{{$t('login_facebook')}}</a>
                                                    </div>
                                                    <div class="login-select__option login-select__option--Email" v-if="emailSelected">
                                                        <span @click="showLoginForm">{{$t('login_email')}}</span>
                                                    </div>
                                                    <i class="fa fa-angle-down" @click.prevent="toggleSocialDropdownList"></i>
                                                </div>
                                                <div class="login-select__list login-select__list--Facebook" :class="{ 'login-select__list--hidden': !isOpen }" id="visa">
                                                    <a href="/login/facebook" v-if="emailSelected" class="login-select__option login-select__option--Facebook">{{$t('login_facebook')}}</a>
                                                    <a href="/login/instagram" class="login-select__option login-select__option--Instagram"> {{$t('login_instagram')}} </a>
                                                    <a href="/login/twitter" class="login-select__option login-select__option--Twitter"> {{$t('login_twitter')}} </a>
                                                    <a href="/login/google" class="login-select__option login-select__option--Google"> {{$t('login_google')}} </a>
                                                    <span v-if="!emailSelected" class="login-select__option login-select__option--Email"
                                                          @click="showLoginForm"> {{$t('login_email')}} </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="login-block" v-if="loginForm || registrationForm || forgotPasswordForm">
                                            <div class="login-form login-form--email" v-if="loginForm">
                                                <i class="fa fa-close" @click.prevent="closeLoginForm"> </i>
                                                <form ref="loginForm">
                                                    <div v-if="errorVariable" class="alert alert-danger" role="alert" style="width:307px;margin-bottom:5px">
                                                        Wrong credentials
                                                    </div>
                                                    <input v-on:blur="checkMail"  autocomplete="off" type="email"  v-model="login.email" required placeholder="Email Address" :class="[errorClass,mailError]" value="" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                    <input :class="[errorClass,passwordError]" autocomplete="off" type="password" v-on:blur="checkPassword" v-model="login.password" required placeholder="Password" value="" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                    <div class="flex-login-form" @click.prevent="loginCall">
                                                        <input autocomplete="off" type="submit" value="Login" class="login-form__button-submit">
                                                    </div>
                                                </form>
                                                <div class="login-form__registration-text">
                                                    <span @click.prevent="showForgotPasswordForm">Forgot your password?</span>
                                                    <span class="login-form__green" @click.prevent="showRegistrationForm">Sign Up with Email</span>
                                                </div>
                                            </div>

                                            <div v-if="forgotPasswordForm">
                                                <div class="login-form login-form--email-login">
                                                    <i class="fa fa-close" @click.prevent="closeForgotPasswordForm"> </i>
                                                    <form>
                                                        <input  autocomplete="off" type="email" name="email" required class="login-form__reset-pass-input" :class="errorClass" v-model="forgotPassword.email" placeholder="Enter Your Email" value="">
                                                        <div class="flex-login-form" @click.prevent="submitForgotPassword">
                                                            <input autocomplete="off"  type="submit" value="Next">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="login-form login-form--registration" v-if="registrationForm">
                                                <span class="__title_create_account">Create Account</span>
                                                <i class="fa fa-close" @click.prevent="closeRegistrationForm"> </i>
                                                <form @submit.prevent="register">
                                                    <input :class="errorsClass" autocomplete="off" type="text" v-model="registerData.first_name" placeholder="First Name" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                    <input :class="errorsClass" autocomplete="off" type="text" v-model="registerData.last_name" placeholder="Last Name">
                                                    <input :class="errorsClass" autocomplete="off" type="email" v-model="registerData.email" placeholder="Email Address">
                                                    <input :class="errorsClass" autocomplete="off" type="password" v-model="registerData.password" placeholder="Password: at least 6 characters" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                                    <div class="login-form__date-select">
                                                        <div class="login-form__select" @click.prevent="toggleShowDay">
                                                            <div class="login-form__selected login-form__selected--default">{{ registerData.day ? registerData.day : 'Day' }}</div>
                                                            <i class="fa fa-angle-down"></i>
                                                            <div class="login-form__list">
                                                                <div v-if="showDay">
                                                                    <div class="login-form___gender-select">
                                                                        <span v-for="n in 31" :key="n" @click.prevent="setDay(n)">{{ n }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="login-form__select" @click.prevent="toggleShowMonth">
                                                            <div class="login-form__selected login-form__selected--default">{{ registerData.month ? registerData.month : 'Month' }}</div>
                                                            <i class="fa fa-angle-down"></i>
                                                            <div class="login-form__list">
                                                                <div v-if="showMonth">
                                                                    <div class="login-form___gender-select">
                                                                        <span v-for="n in 12" :key="n" @click.prevent="setMonth(n)">{{ n }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="login-form__select" @click.prevent="toggleShowYear">
                                                            <div class="login-form__selected login-form__selected--default">{{ registerData.year ? registerData.year : 'Year' }}</div>
                                                            <i class="fa fa-angle-down"></i>
                                                            <div class="login-form__list">
                                                                <div v-if="showYear">
                                                                    <div class="login-form___gender-select">
                                                                        <span v-for="n in 80" :key="n" @click.prevent="setYear(n)">{{ 2003 - n }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="login-form__select" @click.prevent="toggleShowGender">
                                                        <div class="login-form__selected login-form__selected--default">{{ registerData.gender ? registerData.gender : 'Gender' }}</div>
                                                        <i class="fa fa-angle-down"></i>
                                                        <div class="login-form__list">
                                                            <div v-if="showGender">
                                                                <div class="login-form___gender-select">
                                                                    <span @click.prevent="setGender('Male')">Male</span>
                                                                    <span @click.prevent="setGender('Female')">Female</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-login-form">
                                                        <input autocomplete="off" type="submit" class="login-form__reg-button active" value="Sign up"></div>
                                                    <div class="signup-modal-badge">This site is protected by reCAPTCHA and the Google
                                                        <a href="https://policies.google.com/privacy" style="margin: 0px;">Privacy Policy</a> and
                                                        <a href="https://policies.google.com/terms" style="margin: 0px;">Terms of Service</a> apply
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roomster-desktop-menu__header-helper">
                            <router-link to="support" class="header-helper"><span class="header-helper__text">{{$t('help')}}</span><span class="icon icon-help"></span></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
</template>
<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                mailError:'',
                passwordError:'',
                errorClass:'',
                errorsClass:'',
                errorVariable:false,
                isOpen: false,
                loginForm: false,
                forgotPasswordForm: false,
                registrationForm: false,
                emailSelected: false,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                showDay: false,
                showMonth: false,
                showYear: false,
                showGender: false,
                forgotPassword:{
                    email:''
                },
                registerData:{
                        email:'',
                        password:'',
                        first_name:'',
                        last_name:'',
                        day:'',
                        month:'',
                        year:'',
                        gender:''
                    },
                login:{
                    email:'',
                    password:''
                }

            };
        },
        mounted () {
            //
        },
        methods: {
            register(){
                axios.post('/register',this.registerData).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }
                    window.location.href = "/newlisting";
                }).catch(error=>{
                    this.errorsClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            loginCall(){
                axios.post('/login',this.login).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }

                    window.location.href = "/myprofile";
                }).catch(error=>{
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            setLocale(locale){
                console.log(locale);
                System.import('../../lang/'+locale+'.json').then((msgs)=>{
                   this.$i18n.setLocaleMessage(locale,msgs);
                   this.$i18n.locale = locale
                });
            },
            toggleSocialDropdownList() {
                this.isOpen = !this.isOpen;
            },
            showLoginForm() {
                this.isOpen = false;
                this.forgotPasswordForm = this.registrationForm = false;
                this.loginForm = true;
                this.emailSelected = true;
            },
            closeLoginForm() {
                this.loginForm = false;
            },
            submitLogin() {
                this.$refs.loginForm.submit();
            },
            showRegistrationForm() {
                this.loginForm = this.forgotPasswordForm = false;
                this.registrationForm = true;
            },
            closeRegistrationForm() {
                this.registrationForm = false;
            },
            showForgotPasswordForm() {
                this.loginForm = this.registrationForm = false;
                this.forgotPasswordForm = true;
            },
            closeForgotPasswordForm() {
                this.forgotPasswordForm = false;
            },
            submitForgotPassword() {
                axios.post('/forgot-password',this.forgotPassword).then(response => {

                }).catch(error=>{
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            toggleShowDay() {
                this.showMonth = this.showYear = this.showGender = false;
                this.showDay = !this.showDay;
            },
            toggleShowMonth() {
                this.showDay = this.showYear = this.showGender = false;
                this.showMonth = !this.showMonth;
            },
            toggleShowYear() {
                this.showDay = this.showMonth = this.showGender = false;
                this.showYear = !this.showYear;
            },
            toggleShowGender() {
                this.showDay = this.showMonth = this.showYear = false;
                this.showGender = !this.showGender;
            },
            setDay(num) {
                this.registerData.day = num;
            },
            setMonth(num) {
                this.registerData.month = num;
            },
            setYear(num) {
                this.registerData.year = 2003 - num;
            },
            setGender(type) {
                this.registerData.gender = type;
            },
            checkMail(){
                if (!this.validEmail(this.login.email)) {
                    this.mailError = 'input-error';
                }else {
                    this.mailError = '';
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            checkPassword(){
                if(!this.login.password){
                    this.passwordError = 'input-error';
                }else {
                    this.passwordError = '';
                }
            }
        },
    };
</script>
<style type="text/css" scoped>
    select.selectpicker {
        height: 46px;
        font-size: 16px;
        border-radius: 7px;
        margin-right: 10px;
        padding: 10px;
        color: #aaa;
        display:block!important;
        background: #ffffff;
    }
    select.selectpicker:focus {
        outline: none;
    }
</style>