<template>
<div>
    <navy v-if="token" @userlogged="saveUserInfo" @glat="glat" @glng="glng"></navy>
    <topy v-else @tokenset="toggleHeader" @glat="glat" @glng="glng"></topy>
    <router-view :loggedUser="loggedUser" :gblat="gblat" :gblng="gblng"></router-view>
</div>
</template>
<script>
    import TopPanel from './NavNonAuthComponent'
    import NavComponent from "./NavComponent";
    export default {
        components: {
            topy: TopPanel,
            navy: NavComponent
        },
        data () {
            return {
                gblat:37.0902,
                gblng:95.7129,
                token: '',
                loggedUser: {
                    id: null,
                    first_name: null,
                    last_name: null,
                    avatar: null,
                    dob: null,
                    age: null,
                    gender: null,
                    mobile: null,
                    email:null
                }
            }
        },
        mounted () {
            this.token = window.localStorage.getItem('token');
        },
        methods: {
            toggleHeader(token) {
                window.localStorage.setItem('token', token);
                this.token = token;
            },
            saveUserInfo(user) {
                this.loggedUser.id = user.id;
                this.loggedUser.first_name = user.first_name;
                this.loggedUser.last_name = user.first_name;
                this.loggedUser.avatar = user.avatar;
                this.loggedUser.dob = user.dob;
                this.loggedUser.age = this.getAge(user.dob);
                this.loggedUser.gender = user.gender;
                this.loggedUser.email = user.email;
            },
            glat(lat){
                this.gblat = lat;
            },
            glng(lng){
                this.gblng = lng;
            },
            getAge(dateString) {
                let today = new Date();
                let birthDate = new Date(dateString);
                let age = today.getFullYear() - birthDate.getFullYear();
                let month = today.getMonth() - birthDate.getMonth();
                if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }
        },
        watch: {

            gblat(value){
                this.gblat = value;
            },
            gblng(value){
                this.gblng = value;
            },

        }
    };
</script>
