<template>
<div>
    <div class="wrapper_menu haveUser">
        <div class="overflow_menu" style="background: rgba(0, 0, 0, 0.6); visibility:visible;" v-if="visible" @click="visible = false"></div>
        <!--visibility: visible   @navToggle-->
        <div class="menu" style="transform: translate3d(0px, 0px, 0px);" v-if="visible">
            <!--visibility: visible-->
            <div class="photos_block">
                <div class="display_block content_user" href="/profile/15030868">
                    <div class="user_photo">
                        <img :src="user.avatar" alt="avatar">
                    </div>
                    <div class="desc_user"><span>{{user.first_name}}</span><span>My Profile</span></div>
                </div>
            </div>
            <content class="haveUser">
                <router-link to="/upgrade" v-if="virgin" class="display_block item_list payment">
                    <div class="item_icon"><i class="fa fa-arrow-circle-o-up"></i></div>
                    <div class="item_text"> Upgrade</div>
                </router-link>
                <router-link to="/newlisting" v-else class="display_block item_list payment">
                    <div class="item_icon"><i class="fa fa-arrow-circle-o-up"></i></div>
                    <div class="item_text"> Upgrade</div>
                </router-link>
                <div  data-toggle="modal" data-target="#exampleModal" class="item_list" id="matche">
                    <div class="item_icon">
                        <img src="https://d1frv26ioc12ph.cloudfront.net/dist/c60cb42b17aea9a7a7290278d7c21d3c.png"></div>
                    <div class="item_text">Account Varification</div>
                </div>
                <router-link to="/listing" v-if="virgin" class="item_list" id="matches">
                    <div class="item_icon"><i class="fa fa-search"></i></div>
                    <div class="item_text">View Matches</div>
                </router-link>
                <router-link to="/newlisting" v-else class="item_list" id="matchess">
                    <div class="item_icon"><i class="fa fa-search"></i></div>
                    <div class="item_text">View Matches</div>
                </router-link>
                <router-link to="/myprofile" v-if="virgin" class="display_block item_list" href="/mylistings">
                    <div class="item_icon"><i class="fa fa-file-o"></i></div>
                    <div class="item_text"> My Listings</div>
                </router-link>
                <router-link to="/newlisting" v-else class="display_block item_list" href="/mylistings">
                    <div class="item_icon"><i class="fa fa-file-o"></i></div>
                    <div class="item_text"> My Listings</div>
                </router-link>
                <router-link to="/tutorial" v-if="virgin" class="display_block item_list" href="/tutorial">
                    <div class="item_icon"><i class="fa fa-book"></i></div>
                    <div class="item_text">Tutorial</div>
                </router-link>
                <router-link to="/newlisting" v-else class="display_block item_list" href="/tutorial">
                    <div class="item_icon"><i class="fa fa-book"></i></div>
                    <div class="item_text">Tutorial</div>
                </router-link>
                <router-link class="display_block item_list" v-if="virgin" to="/upgrade">
                    <div class="wrapper__"></div>
                    <div class="item_icon relative"><i class="fa fa-comment-o"></i></div>
                    <div class="item_text">Message</div>
                </router-link>
                <router-link class="display_block item_list" v-else to="/newlisting">
                    <div class="wrapper__"></div>
                    <div class="item_icon relative"><i class="fa fa-comment-o"></i></div>
                    <div class="item_text">Message</div>
                </router-link>
                <router-link class="display_block item_list" to="/megaphone">
                    <div class="item_icon relative"><i class="fa fa-bullhorn"></i></div>
                    <div class="item_text">Megaphone</div>
                </router-link>
                <router-link class="display_block item_list" v-if="virgin" to="/megaphone">
                    <div class="item_icon relative"><i class="fa fa-bullhorn"></i></div>
                    <div class="item_text">Megaphone</div>
                </router-link>
                <router-link class="display_block item_list" v-else to="/newlisting">
                    <div class="item_icon relative"><i class="fa fa-bullhorn"></i></div>
                    <div class="item_text">Megaphone</div>
                </router-link>
                <router-link class="display_block item_list" v-if="virgin" to="/bookmarks">
                    <div class="item_icon relative"><i class="fa fa-star"></i></div>
                    <div class="item_text"> Bookmarks</div>
                </router-link>
                <router-link class="display_block item_list" v-else to="/newlisting">
                    <div class="item_icon relative"><i class="fa fa-star"></i></div>
                    <div class="item_text"> Bookmarks</div>
                </router-link>
                <router-link class="display_block item_list" v-if="virgin" to="/settings">
                    <div class="item_icon relative"><i class="fa fa-cogs"></i></div>
                    <div class="item_text"> Settings</div>
                </router-link>
                <router-link class="display_block item_list" v-else to="/newlisting">
                    <div class="item_icon relative"><i class="fa fa-cogs"></i></div>
                    <div class="item_text"> Settings</div>
                </router-link>
                <router-link class="display_block item_list" v-if="virgin" to="/support">
                    <div class="item_icon relative support"><img
                            src="https://d1frv26ioc12ph.cloudfront.net/dist/c166a68e18b692a8d40394a81a73d52f.svg"></div>
                    <div class="item_text"> 24/7 Support</div>
                </router-link>
                <router-link class="display_block item_list" v-else to="/newlisting">
                    <div class="item_icon relative support"><img
                            src="https://d1frv26ioc12ph.cloudfront.net/dist/c166a68e18b692a8d40394a81a73d52f.svg"></div>
                    <div class="item_text"> 24/7 Support</div>
                </router-link>
                <a class="item_list" @click.prevent="logout">
                    <div class="item_icon relative"><i class="fa fa-sign-out"></i></div>
                    <div class="item_text">Log Out</div>
                </a>
            </content>
            <div class="bottom_block">
                <div dir="ltr">
                    <div class="mobile-lang-wrapper ___selectpicker" dir="ltr"><select
                            class="selectpicker-native input-react ">
                        <option value="en-GB">English (UK)</option>
                    </select></div>
                </div>
                <div class="mobile-lang-wrapper ___selectpicker"><select class="selectpicker-native input-react">
                    <option value="USD">USD</option>
                </select></div>
            </div>
        </div>
    </div>
    <div class="connection_fail">You've lost internet connection. Application will launch when Internet is on again</div>
    <div class="wsmenuexpandermain slideRight"><a id="navToggle" class="animated-arrow __nomain" @click="visible = true"><i
            class="support-badge">1</i></a></div>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div id="mobile-banner">
                <div class="left-content">
                    <div class="roomster-icon-block"><img
                            src="../../../../../public/image/minilogo.png"
                            alt="Gettingroom-logo"></div>
                </div>
                <div class="center-content">
                    <div class="title"><span class="green-text">GettingRoom</span> Android</div>
                    <div class="block-download">
                        <div class="content"><span>download free app</span> <img
                                src="https://d1frv26ioc12ph.cloudfront.net/dist/2e81b5c3c02b5e029cc1d5092fdc97b8.png"
                                alt="star"></div>
                    </div>
                </div>
                <div class="right-content"><a class="open-btn" href="https://bnc.lt/diNm/4lGNjl9zIF">OPEN</a></div>
            </div>
            <div class="top-bar-header">
                <div class="navbar-header">
                    <router-link to="/" class="navbar-brand "><img
                        src="../../../../../public/image/minilogo.png"
                        alt="gettingroom-logo">
                    </router-link>
                </div>
                <div class="search ">
                    <div class="input-autocomplete">
                        <div class="display__flex">
                            <span class="icon icon-location"></span>
                            <input id="modal-filters-App" placeholder="Search" class="typeahead form-control form-ready-for-bubble" >

                            <span class="clear-address-bar">×</span>
                        </div>

                    </div>
                </div>
                <a id="navToggle_default"></a>
                <div id="navbar" class="  collapse navbar-collapse">
                    <ul class="nav navbar-nav loggined-user-nav">
                        <li>
                            <div class="header-smm-big">
                                <div class="hiddens"><a
                                        href=""
                                        rel="nofollow" target="_blank"><img
                                        src="https://d1frv26ioc12ph.cloudfront.net/dist/143d89652241555c8cfb70747b34bb56.svg"
                                        alt="apple-store"></a><a
                                        href="" rel="nofollow"
                                        target="_blank"><img
                                        src="https://d1frv26ioc12ph.cloudfront.net/dist/80292db08dbe284420365f144444b93a.svg"
                                        alt="google-play"></a><a
                                        href=""
                                        rel="nofollow" target="_blank"><img class="__small_img"
                                                                            src="https://d1frv26ioc12ph.cloudfront.net/dist/796ae98384aa14073bee9cb17732af8f.png"
                                                                            alt="apple-store"></a></div>
                                <div class="hiddens-1"><a
                                        href=""
                                        rel="nofollow" target="_blank"><img
                                        src="https://d1frv26ioc12ph.cloudfront.net/dist/ad9ff643340a146ac9b9314c4e2e5c44.svg"
                                        class="size_apple_image" alt="apple-store"></a><a
                                        href="" rel="nofollow"
                                        target="_blank"><img
                                        src="https://d1frv26ioc12ph.cloudfront.net/dist/d71f53478f49998397bf1f27011d038d.svg"
                                        class="size_apple_image" alt="google-play"></a><a
                                        href=""
                                        rel="nofollow" target="_blank">
                                    <div class="__big_img"
                                         style="background-image: url('https://d1frv26ioc12ph.cloudfront.net/dist/508e40a53631852575ffc716c5ea29f3.svg');">
                                    </div>
                                </a></div>
                            </div>
                            <div class="roomster-desktop-menu__header-locals">
                                <div class="header-locals header-locals--desktop">
                                    <div>
                                        <select class="selectpicker language" data-width="fit">
                                            <option value="en-US">English(US)</option>
                                        </select>
                                    </div>
                                    <select class="selectpicker currency" data-width="fit">
                                        <option value="USD">USD</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li><router-link to="/upgrade"><span class="hide-md">Messages</span>
                            <div class="message-wrapper"><span class="icon icon-message"></span></div>
                            <div class="notification">Please create a listing in order to <br> access this feature.</div>
                        </router-link></li>
                        <li><router-link to="/megaphone"><span class="hide-md">Megaphone</span>
                            <div class="message-wrapper"><span class="icon icon-megaphone"></span></div>
                            <div class="notification">Please create a listing in order to <br> access this feature.</div>
                        </router-link></li>
                        <li><router-link class="" to="/support"><span class="hide-md">Help</span> <span class="icon icon-help"><span
                                class="support-msg-count" v-if="helpIndex >0">{{helpIndex}}</span></span></router-link></li>
                        <li class="dropdown dropdown_show"><a class="dropdown-toggle user" data-toggle="dropdown" role="button"
                                                              aria-haspopup="true" aria-expanded="false"><span class="hide-md">{{user.first_name}}</span><img
                                :src="user.avatar"
                                alt="user-photo"> <span class="icon icon-arrow-down"></span></a>
                            <ul class="dropdown-menu">
                                <li v-if="virgin" class="new">
                                    <router-link  to="/upgrade"><i class="fa fa-arrow-circle-o-up"></i> Upgrade<div class="notification">
                                    Please create a listing in order to <br> access this feature.</div></router-link></li>
                                <li v-else class="new" data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature.">
                                    <router-link  to="/newlisting" disabled=""><i class="fa fa-arrow-circle-o-up"></i> Upgrade<div class="notification">
                                        Please create a listing in order to <br> access this feature.</div></router-link></li>
                                <li class="list-custom__">
                                    <router-link to="#" data-toggle="modal" data-target="#exampleModal"><span class="images___ badges"></span>Account varification</router-link></li>

                                <li v-if="virgin"><router-link to="/myprofile"><span class="icon icon-profile"></span> My Profile / Listings<div class="notification">
                                    Please create a listing in order to <br> access this feature.</div></router-link></li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature."><router-link to="/newlisting"><span class="icon icon-profile"></span> My Profile / Listings<div class="notification">
                                Please create a listing in order to <br> access this feature.</div></router-link></li>

                                <li v-if="virgin">
                                    <router-link to="/tutorial">
                                    <i class="fa fa-book"></i>Tutorial<div class="notification">Please create a listing in
                                    order to <br> access this feature.</div>
                                    </router-link>
                                </li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature.">
                                    <router-link to="/newlisting">
                                        <i class="fa fa-book"></i>Tutorial<div class="notification">Please create a listing in
                                        order to <br> access this feature.</div>
                                    </router-link>
                                </li>

                                <li v-if="virgin"><router-link to="/listing"><i class="fa fa-search"></i>View Matches<div class="notification">Please create a listing
                                    in order to <br> access this feature.</div>
                                </router-link>
                                </li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature."><router-link to="/newlisting"><i class="fa fa-search"></i>View Matches<div class="notification">Please create a listing
                                    in order to <br> access this feature.</div>
                                </router-link>
                                </li>

                                <li v-if="virgin"><router-link to="/bookmarks"><span class="icon icon-bookmark"></span> Bookmarks<div class="notification">Please create
                                    a listing in order to <br> access this feature.</div></router-link></li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature."><router-link to="/newlisting"><span class="icon icon-bookmark"></span> Bookmarks<div class="notification">Please create
                                    a listing in order to <br> access this feature.</div></router-link></li>


                                <li v-if="virgin"><router-link class="" to="/settings"><span class="icon icon-setting"></span> Settings</router-link></li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature."><router-link class="" to="/newlisting"><span class="icon icon-setting"></span> Settings</router-link></li>
                                <li v-if="virgin"><router-link class="" to="/support"><span class="icon icon-support"></span> 24/7 Support</router-link></li>
                                <li v-else data-toggle="tooltip" data-placement="left" title="Please create a listing in order to  access this feature."><router-link class=""  to="/newlisting"><span class="icon icon-support"></span> 24/7 Support</router-link></li>
                                <li @click="logout">
                                    <a><span class="icon icon-logout"></span>Logout</a>
                                    <form action="/logout" method="post" ref="logoutForm">
                                        <input type="hidden" name="_token" :value="csrf">
                                    </form>
                                </li>
                                <li class="separator"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ref="vuemodal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                            <div class="verify-modal__stadart-cont">
                                <div style="padding-left: 20px; padding-right: 20px;"><div><div class="verify-modal__background-check"><div class="text-wrapper"><div class="subtitle">Account Varification</div>
                                <div>GettingRoom takes member safety and security very seriously. We don’t even want people that aren’t easily identifiable from their Social profile. Every Profile goes through a security filter from a GettingRoom team member.</div></div><span class="start-button">Start</span></div><div class="verify-modal__account-status"><strong>Account Status:<span style="color: rgb(252,72,45);"> Unverified</span></strong></div>
                                    Complete the steps marked with * to verify your account and send a message:
                                    <div class="verify-modal__checklist" style="border: 0px; padding: 0px 10px; box-shadow: none; cursor: auto;">
                                    </div>
                                    <div v-if="front">
                                        <div class="checks-modal" @click="emailSection">
                                            <div class="row" style="padding-right: 2px;margin-right:-40px">
                                                <div class="col-md-8" style="padding-left:15px">
                                                    <h5>Confirm your email</h5>
                                                    <p>Email verification is  needed to validate your account </p>
                                                </div>
                                                <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                    <span class="text-danger"><b>*</b></span>
                                                    <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="checks-modal" @click="phoneSection">
                                            <div class="row" style="padding-right: 2px;margin-right:-40px">
                                                <div class="col-md-8" style="padding-left:15px">
                                                    <h5>Verify your phone number.</h5>
                                                    <p>verifying your phone number helps prospective matches contact you faster </p>
                                                </div>
                                                <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                    <span class="text-danger"><b>*</b></span>
                                                    <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="checks-modal" @click="pushi">
                                            <div class="row" style="padding-right: 2px;margin-right:-40px">
                                                <div class="col-md-8" style="padding-left:15px">
                                                    <h5>Active Trial package it's free</h5>
                                                    <p>Trial package has fully premium featured and it's completely free for 24 hours! to enjoy the service </p>
                                                </div>
                                                <div class="col-md-4 text-right" style="padding-top:5px;padding-right:0">
                                                    <span class="text-danger"><b>*</b></span>
                                                    <img src="https://d1frv26ioc12ph.cloudfront.net/dist/0a6d70096b64013db7b414547295214d.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="verify-modal__mobile-scroll  ">
                                            Verify your social media.
                                            <div class="verify-modal__border" style="border: 0px; padding: 0px 10px; box-shadow: none;"><div class="verify-modal__additional-badges">Get 1 or more badges of your choice</div><div class="verify-modal__media-container-wrapper"><div class="verify-modal__media-container">
                                                <div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Facebook"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/409f653bdf65dacee6819aed33a80ea5.png" alt="icon"></div><p class="verify-modal__name">Facebook</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--LinkedIn"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/3f8ed3bb8a3264436a9ad0e8eaaa92b8.png" alt="icon"></div><p class="verify-modal__name">LinkedIn</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Instagram"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/8b60dd7c808cb6245d790378973ac2cc.png" alt="icon"></div><p class="verify-modal__name">Instagram</p></div><div class="verify-modal__media-block mr _hover__block"><div class="verify-modal__flag verify-modal__flag--Twitter"><img src="https://d1frv26ioc12ph.cloudfront.net/dist/d4b8306096a743e469061a446f7ffd30.png" alt="icon"></div><p class="verify-modal__name">Twitter</p></div></div></div></div></div>
                                    </div>
                                    <div v-if="mobile">
                                        <div class="verify-modal__verified-phone verified__content "><div><p class="verify-modal__email-title ">Text Message Verification</p>
                                            <form class="verify-modal__input-group
                            verify-modal__input-group--sms-group">
                                                <vue-tel-input v-model="phone" id="number" style="pointer-events: auto;"></vue-tel-input>
                                                <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;"></i><button type="submit" style="display: none;"></button>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                    <div v-if="emailVerify">
                                        <div class="verify-modal__verified-email verified__content "><p class="verify-modal__email-title">Email Verification</p><form class="verify-modal__input-group">
                                            <input autocomplete="off" type="text" id="verify-modal-input-group" placeholder="Email Address"  v-model="emailVerifyData.email" style="pointer-events: auto;">
                                            <i class="fa fa-long-arrow-right verify-modal__button-active" style="pointer-events: auto;" @click="mailSend"></i><button type="submit" style="display: none;"></button></form><div class="visible_content email">
                                        </div></div>
                                    </div>
                                </div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                update:'',
                virgin:false,
                phone:null,
                localLat:37.0902,
                localLng:95.7129,
                front:true,
                mobile:false,
                emailVerify:false,
                emailForm:false,
                phoneForm:false,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                visible: false,
                helpIndex:0,
                current: this.$route.name,
                user: {
                    first_name: null,
                    last_name: null,
                    avatar: null,
                    dob: null,
                    gender: null,
                    email:null,
                    id:null
                },
                emailVerifyData:{
                    email:null,
                    user_id:null
                }
            }
        },
        methods: {
            doSomethingOnHidden(){
                this.front=true;
                this.mobile=false;
                this.emailVerify=false;
            },
            logout() {
                window.localStorage.setItem('token', '');
                this.$refs.logoutForm.submit();
            },
            pushi(){
                this.$router.push('/upgrade');
                this.$nextTick(() => {
                    $('#exampleModal').modal('hide');
                })
            },
            loadData(){
                window.setInterval(()=>{
                    window.axios.get('/get/user').then(res=>{
                        console.log(res.data.user);
                        this.user = res.data.user;
                        this.user.avatar = this.user.avatar || 'https://icon-library.net/images/anonymous-user-icon/anonymous-user-icon-16.jpg';
                        this.$emit('userlogged', this.user);
                        this.emailVerifyData.email=this.user.email;
                        this.emailVerifyData.user_id=this.user.id;
                        if(this.user.new_user == 1){
                            this.virgin = true;
                        }else{
                            this.virgin = false;
                        }
                    }).catch(err=>{
                        console.log(err)
                    });
                }, 3000);
            },
            emailSection(){
                this.front = false;
                this.emailVerify = true;
            },
            phoneSection(){
                this.front = false;
                this.mobile = true;
            },
            mailSend(){
                axios.post('/email/verify',this.emailVerifyData).then(response => {
                }).catch(error=>{
                })
            },
            change: function (e) {
                //
            },
        },
        mounted () {
            $(this.$refs.vuemodal).on("hidden.bs.modal", this.doSomethingOnHidden);
            this.$emit('glat', this.localLat);
            this.$emit('glng', this.localLng);
            var  SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-App'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                var formatter = place.formatted_address;
                this.localLat = place.geometry.location.lat();
                this.localLng = place.geometry.location.lng();
                if(this.current === 'Listao') {
                    this.$router.push('/listing/' + formatter);
                }else if(this.current === 'ListingEntirePlace'){
                    this.$router.push('/listingentireplace/' + formatter);
                }else if(this.current === 'ListingAroomMateComponent'){
                    this.$router.push('/aroommate/' + formatter);
                }else if(this.current === 'ListingAtenantComponent'){
                    this.$router.push('/atenant/' + formatter);
                }else{
                    this.$router.push('/listing/' + formatter);
                }
            });
            window.axios.get('/unread/contact').then(res=>{
                this.helpIndex = parseInt(res.data);
            }).catch(err=>{
                console.log(err)
            });
            this.loadData();
        },
        created (){

        },
        watch: {
            $route (to, from){
                this.current = this.$route.name;
                console.log(this.current);
            },
            helpIndex(){
                window.axios.get('/unread/contact').then(res=>{
                    this.helpIndex = parseInt(res.data);
                }).catch(err=>{
                    console.log(err)
                });
            },
            localLat(){
                this.$emit('glat', this.localLat);
            },
            localLng(){
                this.$emit('glng', this.localLng);
            },
            update() {
                this.loadData();
            }

        }
    };
</script>
<style>
    select.selectpicker {
        height: 46px;
        font-size: 16px;
        border-radius: 7px;
        margin-right: 10px;
        padding: 10px;
        color: #aaa;
        display:block!important;
    }
    .checks-modal{
        border-radius:5px;
        padding:5px;
        padding-right:0 !important;
        box-shadow: 2px 2px 2px 2px #000000;
        margin-top:10px;
        margin-bottom:10px;

    }
    .checks-modal p{
        font-size:14px;
    }
</style>