<template>
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="top-bar-header">
                <div class="navbar-header">
                    <router-link to="/" class="navbar-brand "><img src="../../../../../public/image/minilogo.png" alt="roomster-logo"></router-link>
                </div>
                <div class="search ">
                    <div class="input-autocomplete">
                        <div class="display__flex"><span class="icon icon-location" @click.prevent="currentLocation"></span>
                            <input autocomplete="off" id="modal-filters-App" placeholder="Search" class="typeahead form-control form-ready-for-bubble" value="anywhere">
                        </div>
                    </div>
                </div>
                <a id="navToggle_default"></a>
                <div class="header__roomster-desktop-menu">
                    <div class="roomster-desktop-menu">
                        <div class="roomster-desktop-menu__header-smm-big">
                            <div class="header-smm-big">
                                <a href="" rel="nofollow" target="_blank" class="header-smm-big__btn roomster-appstore-button"><span class="apple-image size_apple_image"></span></a>
                                <a href="" rel="nofollow" target="_blank" class="header-smm-big__btn roomster-market-button"><span class="google-image size_google_image"></span></a>
                                <div class="hiddens">
                                    <a href="" rel="nofollow" target="_blank"><img class="__small_img" src="https://d1frv26ioc12ph.cloudfront.net/dist/796ae98384aa14073bee9cb17732af8f.png" alt="apple-store"></a>
                                </div>
                                <div class="hiddens-1">
                                    <a href="" rel="nofollow" target="_blank">
                                        <div class="__big_img"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="roomshare-desktop-menu__header-locals">
                            <div class="header-locals header-locals--desktop">

                            </div>
                        </div>
                        <div class="display__flex">
                            <div class="roomster-desktop-menu__header-nav">
                                <div class="header-nav header-nav--desktop">
                                    <div class="header-nav__item header-nav__item--desktop">
                                        <div class="header-nav__item header-nav__item--desktop">
                                            <div class="header-nav__login-block">
                                                <div class="login-select__block">
                                                    <div class="login-select__selected" :class="{ 'login-select__selected--open': isOpen }">
                                                        <div class="login-select__option login-select__option--Facebook" v-if="!emailSelected">
                                                            <a href="/login/facebook">{{$t('login_facebook')}}</a>
                                                        </div>
                                                        <div class="login-select__option login-select__option--Email" v-if="emailSelected">
                                                            <span @click="showLoginForm">{{$t('login_email')}}</span>
                                                        </div>
                                                        <i class="fa fa-angle-down" @click.prevent="toggleSocialDropdownList"></i>
                                                    </div>
                                                    <div class="login-select__list login-select__list--Facebook" :class="{ 'login-select__list--hidden': !isOpen }" id="visa">
                                                        <a href="/login/facebook" v-if="emailSelected" class="login-select__option login-select__option--Facebook">{{$t('login_facebook')}}</a>
                                                        <a href="/login/instagram" class="login-select__option login-select__option--Instagram"> {{$t('login_instagram')}} </a>
                                                        <a href="/login/twitter" class="login-select__option login-select__option--Twitter"> {{$t('login_twitter')}} </a>
                                                        <a href="/login/google" class="login-select__option login-select__option--Google"> {{$t('login_google')}} </a>
                                                        <span v-if="!emailSelected" class="login-select__option login-select__option--Email"
                                                              @click="showLoginForm"> {{$t('login_email')}} </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="login-block" v-if="loginForm || registrationForm || forgotPasswordForm">
                                                <div class="login-form login-form--email" v-if="loginForm">
                                                    <i class="fa fa-close" @click.prevent="closeLoginForm"> </i>
                                                    <form ref="loginForm">
                                                        <div v-if="errorVariable" class="alert alert-danger" role="alert" style="width:307px;margin-bottom:5px">
                                                            Wrong credentials
                                                        </div>
                                                        <input autocomplete="off" v-on:blur="checkMail"  :class="[errorClass,mailError]" type="email"  v-model="login.email" required placeholder="Email Address" value="" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                        <input autocomplete="off" v-on:blur="checkPassword" :class="[errorClass,passwordError]" type="password" v-model="login.password" required placeholder="Password" value="" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                        <div class="flex-login-form" @mouseover="over" @mouseleave="leave" @click.prevent="loginCall">
                                                            <input autocomplete="off" type="submit" value="Login" :class="dragon">
                                                        </div>
                                                    </form>
                                                    <div class="login-form__registration-text">
                                                        <span @click.prevent="showForgotPasswordForm">Forgot your password?</span>
                                                        <span class="login-form__green" @click.prevent="showRegistrationForm">Sign Up with Email</span>
                                                    </div>
                                                </div>

                                                <div v-if="forgotPasswordForm">
                                                    <div class="login-form login-form--email-login">
                                                        <i class="fa fa-close" @click.prevent="closeForgotPasswordForm"> </i>
                                                        <form action="/forgot-password" method="post" ref="forgotPasswordForm">
                                                            <input autocomplete="off" type="email" name="email" required class="login-form__reset-pass-input" placeholder="Enter Your Email" value="">
                                                            <div class="flex-login-form" @click="submitForgotPassword">
                                                                <input autocomplete="off" type="submit" value="Next">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                                <div class="login-form login-form--registration" v-if="registrationForm">
                                                    <span class="__title_create_account">Create Account</span>
                                                    <i class="fa fa-close" @click.prevent="closeRegistrationForm"> </i>
                                                    <form @submit.prevent="register">
                                                        <input :class="errorsClass" autocomplete="off" type="text" v-model="registerData.first_name" placeholder="First Name" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                                        <input :class="errorsClass" autocomplete="off" type="text" v-model="registerData.last_name" placeholder="Last Name">
                                                        <input :class="errorsClass" autocomplete="off" type="email" v-model="registerData.email" placeholder="Email Address">
                                                        <input :class="errorsClass" autocomplete="off" type="password" v-model="registerData.password" placeholder="Password: at least 6 characters" style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                                                        <div class="login-form__date-select">
                                                            <div class="login-form__select" @click.prevent="toggleShowDay">
                                                                <div class="login-form__selected login-form__selected--default">{{ registerData.day ? registerData.day : 'Day' }}</div>
                                                                <i class="fa fa-angle-down"></i>
                                                                <div class="login-form__list">
                                                                    <div v-if="showDay">
                                                                        <div class="login-form___gender-select">
                                                                            <span v-for="n in 31" :key="n" @click.prevent="setDay(n)">{{ n }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="login-form__select" @click.prevent="toggleShowMonth">
                                                                <div class="login-form__selected login-form__selected--default">{{ registerData.month ? registerData.month : 'Month' }}</div>
                                                                <i class="fa fa-angle-down"></i>
                                                                <div class="login-form__list">
                                                                    <div v-if="showMonth">
                                                                        <div class="login-form___gender-select">
                                                                            <span v-for="n in 12" :key="n" @click.prevent="setMonth(n)">{{ n }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="login-form__select" @click.prevent="toggleShowYear">
                                                                <div class="login-form__selected login-form__selected--default">{{ registerData.year ? registerData.year : 'Year' }}</div>
                                                                <i class="fa fa-angle-down"></i>
                                                                <div class="login-form__list">
                                                                    <div v-if="showYear">
                                                                        <div class="login-form___gender-select">
                                                                            <span v-for="n in 80" :key="n" @click.prevent="setYear(n)">{{ 2003 - n }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="login-form__select" @click.prevent="toggleShowGender">
                                                            <div class="login-form__selected login-form__selected--default">{{ registerData.gender ? registerData.gender : 'Gender' }}</div>
                                                            <i class="fa fa-angle-down"></i>
                                                            <div class="login-form__list">
                                                                <div v-if="showGender">
                                                                    <div class="login-form___gender-select">
                                                                        <span @click.prevent="setGender('Male')">Male</span>
                                                                        <span @click.prevent="setGender('Female')">Female</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex-login-form">
                                                            <input autocomplete="off" type="submit" class="login-form__reg-button active" value="Sign up"></div>
                                                        <div class="signup-modal-badge">This site is protected by reCAPTCHA and the Google
                                                            <a href="https://policies.google.com/privacy" style="margin: 0px;">Privacy Policy</a> and
                                                            <a href="https://policies.google.com/terms" style="margin: 0px;">Terms of Service</a> apply
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="roomster-desktop-menu__header-helper">
                                <router-link to="/login" class="header-helper">
                                    <span class="header-helper__text">{{$t('help')}}</span>
                                    <span class="icon icon-help"></span>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</template>
<script>
    export default {
        components: {},
        mixins: [],
        data () {
            return {
                localLat:0.00,
                localLng:0.00,
                mailError:'',
                passwordError:'',
                dragon:'',
                errorClass:'',
                errorsClass:'',
                errorVariable:false,
                isOpen: false,
                current: this.$route.name,
                loginForm: false,
                forgotPasswordForm: false,
                registrationForm: false,
                emailSelected: false,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                showDay: false,
                showMonth: false,
                showYear: false,
                showGender: false,
                registerData:{
                    email:'',
                    password:'',
                    first_name:'',
                    last_name:'',
                    day:'',
                    month:'',
                    year:'',
                    gender:''
                },
                login:{
                    email:'',
                    password:''
                }

            };
        },
        mounted () {
            this.$emit('glat', this.localLat);
            this.$emit('glng', this.localLng);
            var  SearchBox = new google.maps.places.Autocomplete(document.getElementById('modal-filters-App'));
            SearchBox.addListener('place_changed', () => {
                var place = SearchBox.getPlace();
                console.log(place);
                var formatter = place.formatted_address;
                this.localLat = place.geometry.location.lat();
                this.localLng = place.geometry.location.lng();
                if(this.current === 'Listao') {
                    this.$router.push('/listing/' + formatter);
                }else if(this.current === 'ListingEntirePlace'){
                    this.$router.push('/listingentireplace/' + formatter);
                }else if(this.current === 'ListingAroomMateComponent'){
                    this.$router.push('/aroommate/' + formatter);
                }else if(this.current === 'ListingAtenantComponent'){
                    this.$router.push('/atenant/' + formatter);
                }else{
                    this.$router.push('/listing/' + formatter);
                }
            });
        },
        methods: {
            currentLocation(){
                navigator.geolocation.getCurrentPosition(function (position) {
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;
                })
            },
            over(){
                this.dragon = 'bhua';
            },
            leave(){
                this.dragon = '';
            },
            register(){
                axios.post('/register',this.registerData).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }
                    window.location.href = "/newlisting";
                }).catch(error=>{
                    this.errorsClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            loginCall(){
                axios.post('/login',this.login).then(response => {
                    let token = response.data.token;
                    if(token){
                        localStorage.setItem('token',token);
                        this.$emit('tokenset', token);
                    }

                    window.location.href = "/myprofile";
                }).catch(error=>{
                    // this.errorVariable = true;
                    this.errorClass = 'input-error';
                    console.log(error.response.data);
                })
            },
            setLocale(locale){
                console.log(locale);
                System.import('../../lang/'+locale+'.json').then((msgs)=>{
                    this.$i18n.setLocaleMessage(locale,msgs);
                    this.$i18n.locale = locale
                });
            },
            toggleSocialDropdownList() {
                this.isOpen = !this.isOpen;
            },
            showLoginForm() {
                this.isOpen = false;
                this.forgotPasswordForm = this.registrationForm = false;
                this.loginForm = true;
                this.emailSelected = true;
            },
            closeLoginForm() {
                this.loginForm = false;
            },
            submitLogin() {
                this.$refs.loginForm.submit();
            },
            showRegistrationForm() {
                this.loginForm = this.forgotPasswordForm = false;
                this.registrationForm = true;
            },
            closeRegistrationForm() {
                this.registrationForm = false;
            },
            showForgotPasswordForm() {
                this.loginForm = this.registrationForm = false;
                this.forgotPasswordForm = true;
            },
            closeForgotPasswordForm() {
                this.forgotPasswordForm = false;
            },
            submitForgotPassword() {
                this.$refs.forgotPasswordForm.submit();
            },
            toggleShowDay() {
                this.showMonth = this.showYear = this.showGender = false;
                this.showDay = !this.showDay;
            },
            toggleShowMonth() {
                this.showDay = this.showYear = this.showGender = false;
                this.showMonth = !this.showMonth;
            },
            toggleShowYear() {
                this.showDay = this.showMonth = this.showGender = false;
                this.showYear = !this.showYear;
            },
            toggleShowGender() {
                this.showDay = this.showMonth = this.showYear = false;
                this.showGender = !this.showGender;
            },
            setDay(num) {
                this.registerData.day = num;
            },
            setMonth(num) {
                this.registerData.month = num;
            },
            setYear(num) {
                this.registerData.year = 2003 - num;
            },
            setGender(type) {
                this.registerData.gender = type;
            },
            checkMail(){
                if (!this.validEmail(this.login.email)) {
                    this.mailError = 'input-error';
                }else {
                    this.mailError = '';
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            checkPassword(){
                if(!this.login.password){
                    this.passwordError = 'input-error';
                }else {
                    this.passwordError = '';
                }
            }
        },
        watch: {
            $route (to, from){
                this.current = this.$route.name;
                console.log(this.current);
            },
            localLat(){
                this.$emit('glat', this.localLat);
            },
            localLng(){
                this.$emit('glng', this.localLng);
            }
        }
    };
</script>
<style>
    select.selectpicker {
        height: 46px;
        font-size: 16px;
        border-radius: 7px;
        margin-right: 10px;
        padding: 10px;
        color: #aaa;
        display:block!important;
        background: #ffffff;
    }
    select.selectpicker:focus {
        outline: none;
    }
    .bhua{
        color: #ffffff;
        background-color: #00b630 !important;
        border-color: #00b630 !important;
    }
    .flex-login-form:active input[type=submit]{padding-right:1px}
    @media only screen and (max-width: 600px) {
        .header__roomster-desktop-menu {
            display:none;
        }
    }
</style>