<template>
    <div>
        <ConversationList :conversationList="conversationList"
                          :channel="channel"
                          :pushMessage="pushMessage"
                          @changechat="changeActiveChat" />
        <ChatWindow v-if="channel"
                    :channel="channel"
                    :pushMessage="pushMessage" />
    </div>
</template>

<script>
    import ChatWindow from "./ChatWindow";
    import ConversationList from "./ConversationList";

    export default {
        name: 'ChatApp',
        data() {
            return { conversationList: [] }
        },
        components: { ConversationList, ChatWindow },
        props: {
            channel: {type: String, default: ''},
            pushMessage: {type: Object, default: null}
        },
        mounted() {
            this.getConversationList();
        },
        watch: {
            channel: function () {
                if (this.channel) {
                    this.getConversationList();
                }
            },
            pushMessage: function () {
                if (! this.pushMessage) { return; }
                if (this.pushMessage.channel === this.channel) {
                    window.axios.post(`/chat/received`, {
                        channel: this.channel
                    })
                    .then(response => {
                        console.log(response.data);
                        this.conversationList = response.data;
                    })
                    .catch(error => {
                        console.log(error.data);
                    })
                } else {
                    this.getConversationList();
                }
            }
        },
        methods: {
            changeActiveChat(chatChannel) {
                this.$emit('changechat', chatChannel);
            },
            getConversationList() {
                window.axios.get('/chat/list')
                    .then(response => {
                        this.conversationList = response.data;
                        console.log(response.data);
                    })
                    .catch(error => {
                        console.log(error.data);
                    })
            }
        }
    }
</script>
