<template>
    <div>
        <label>
            <input type="text"
                   name="message"
                   placeholder="Type your message here..."
                   v-model="message"
                   @keydown.enter="sendMessage" />
        </label>

        <span>
            <button @click="sendMessage">Send</button>
        </span>
    </div>
</template>

<script>
    export default {
        name: 'ChatForm',
        data() {
            return {
                message: '',
                user: ''
            };
        },
        computed: {
            cleanedMessage: function () { return this.message.trim(); }
        },
        methods: {
            sendMessage() {
                this.$emit('sendmessage', this.cleanedMessage);
                this.message = '';
            }
        }
    }
</script>

<style scoped>

</style>