<template>
    <div>
        <Conversation :client="client"
                      :conversation="conversation"
                      :user="user" />
        <ChatForm @sendmessage="sendMessage" />
    </div>
</template>

<script>
    import Conversation from './Conversation';
    import ChatForm from './ChatForm';

    export default {
        name: 'ChatWindow',
        components: { Conversation, ChatForm },
        data() {
            return {
                conversation: [],
                user: null,
                client: null,
            };
        },
        props: {
            channel: {type: String, default: ''},
            pushMessage: {type: Object, default: null}
        },
        watch: {
            pushMessage: {
                handler() {
                    if (! this.pushMessage) { return; }
                    if (this.pushMessage.from === this.client.id) { this.receiveMessage(this.pushMessage); }
                },
                deep: true
            },
            channel: function () {
                if(this.channel) { this.loadConversation(); }
            }
        },
        mounted() {
            if (this.channel) { this.loadConversation(); }
        },
        methods: {
            loadConversation() {
                window.axios.get(`/chat/${this.channel}/messages`)
                    .then(response => {
                        console.log(response.data);
                        this.conversation = response.data.conversation;
                        this.user = response.data.user;
                        this.client = response.data.client;
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            receiveMessage(newMessage) {
                this.conversation.push({
                    message: newMessage.message,
                    first_name: newMessage.first_name,
                    last_name: newMessage.last_name,
                    avatar: newMessage.avatar,
                    from: newMessage.from,
                    to: newMessage.to
                })
            },
            sendMessage(newMessage) {
                this.saveMessage(newMessage);
                this.updateConversation(newMessage);
            },
            saveMessage(message) {
                window.axios.post(`/chat/message`, {
                    'message': message,
                    'channel': this.channel
                }).then(response => {
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                });
            },
            updateConversation(newMessage) {
                this.conversation.push({
                    message: newMessage,
                    first_name: this.user.first_name,
                    last_name: this.user.last_name,
                    avatar: this.user.avatar,
                    from: this.user.id,
                    to: this.client.id
                })
            }
        }
    }
</script>

<style scoped>

</style>