<template>
    <div>
        <h3 v-if="client">Conversation with: {{ client.first_name }} {{ client.last_name }}</h3>
        <ul v-if="conversation.length">
            <li v-for="messageBody in conversation"> {{ renderConversation(messageBody) }}</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Conversation',
        props: {
            client: {type: Object, default: null},
            conversation: {type: Array, default: []},
            user: {type: Object, default: null},
            newMessage: {type: Object, default: null}
        },
        watch: {
            newMessage: function () {

            }
        },
        methods: {
            renderConversation(messageBody) {
                if (messageBody.from === this.user.id) {
                    return `${messageBody.first_name} >>> ${messageBody.message}`;
                }
                return `${messageBody.message} <<< ${messageBody.first_name}`;
            }
        }
    }
</script>

<style scoped>

</style>