<template>
    <div>
        <ul>
            <li v-for="conversation in conversationList">
                <a v-if="conversation.channel === channel">
                    {{ conversation.first_name }} {{ conversation.last_name }} : {{ conversation.has_unread }}
                </a>
                <a v-else
                   :href="conversation.channel"
                   @click.prevent="changeActiveChat(conversation.channel)">
                    {{ conversation.first_name }} {{ conversation.last_name }} : {{ conversation.has_unread }}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'ConversationList',
        props: {
            conversationList: {type: Array, default: []},
            channel: {type: String, default: ''},
            pushMessage: {type: Object, default: null}
        },
        methods: {
            changeActiveChat(chatChannel) {
                this.$emit('changechat', chatChannel);
            }
        }
    }
</script>

<style scoped>

</style>